@*-----------------------------------------------------------------------
    <copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits Neptune.Web.Areas.Trash.Views.OnlandVisualTrashAssessmentArea.EditOnlandVisualTrashAssessmentAreaBasics


@using (Html.BeginForm())
{
    @Html.ValidationSummary()
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-4 col-xs-12 control-label">
            @Html.LabelWithSugarFor(m => m.AssessmentAreaName)
        </div>
        <div class="col-sm-8 col-xs-12">
            @Html.TextBoxFor(m => m.AssessmentAreaName, ViewDataTyped.AssessmentAreaName, new Dictionary<string, object> { { "style", "width: auto" }, { "class", "form-control" } })
            @Html.ValidationMessageFor(m => m.AssessmentAreaName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 col-xs-12 control-label">
            @Html.LabelWithSugarFor(m => m.AssessmentAreaDescription)
        </div>
        <div class="col-sm-8 col-xs-12">
            @Html.TextAreaWithMaxLengthFor(m => m.AssessmentAreaDescription, new TextAreaForExtensions.TextAreaDimensions(null, 3), null, new List<string> { "form-control" })
            @Html.ValidationMessageFor(m => m.AssessmentAreaDescription)
        </div>
    </div>
    @Html.HiddenFor(x=>x.AssessmentAreaID) @Html.HiddenFor(x=>x.StormwaterJurisdictionID)
</div>
}