@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common.HtmlHelperExtensions
@inherits Neptune.WebMvc.Views.TreatmentBMPAssessmentObservationType.ViewPassFailSchemaDetail

<div class="col-xs-12 col-sm-12">
    <div class="panel panelNeptune">
        <div class="panel-heading panelTitle">
            Instructions
        </div>
        <div class="panel-body">
            <div class="row">
                <label class="col-sm-3 control-label text-right">Assessment Instructions</label>
                <div class="col-sm-9">@ViewDataTyped.PassFailSchema.AssessmentDescription</div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12">
    <div class="panel panelNeptune">
        <div class="panel-heading panelTitle">
            Labels and Units
        </div>
        <div class="panel-body">
            <div class="row">
                <label class="col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionType.PropertiesToObserve)</label>
                <div class="col-sm-9">@ViewDataTyped.PropertiesToObserveFormatted</div>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-3 col-sm-3 control-label text-right">@Html.Label("Label for Passing Score")</label>
            <div class="col-xs-9 col-sm-3">@ViewDataTyped.PassFailSchema.PassingScoreLabel</div>
        </div>
        <div class="row">
            <label class="col-xs-3 col-sm-3 control-label text-right">@Html.Label("Label for Failing Score")</label>
            <div class="col-xs-9 col-sm-3">@ViewDataTyped.PassFailSchema.FailingScoreLabel</div>
        </div>
    </div>
</div>
