@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using Neptune.Web.Models
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Security
@using Neptune.Web.Views
@using Neptune.Web.Views.Shared
@inherits Neptune.Web.Views.CustomAttributeType.Detail
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

@section RightOfPageTitle
{
    @if (new NeptuneAdminFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
    {
        <a class="btn btn-neptune headerButtonText customAttributeTypeButton" href="@ViewDataTyped.CustomAttributeType.GetEditUrl()">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit") Edit Attribute</a>
    }
}

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Basics
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.Label("Name")</label>
                    <div class="col-sm-9">@ViewDataTyped.CustomAttributeType.CustomAttributeTypeName</div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionType.CustomAttributeDataType)</label>
                    <div class="col-sm-9">@ViewDataTyped.CustomAttributeType.CustomAttributeDataType.CustomAttributeDataTypeDisplayName</div>
                </div>
                @if (ViewDataTyped.CustomAttributeType.MeasurementUnitTypeID != null)
                {
                    <div class="row">
                        <label class="col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionType.MeasurementUnit)</label>
                        <div class="col-sm-9">@ViewDataTyped.CustomAttributeType.GetMeasurementUnitDisplayName()</div>
                    </div>
                }               
                @if (ViewDataTyped.CustomAttributeType.CustomAttributeTypeOptionsSchema != null)
                {
                    <div class="row">
                        <label class="col-sm-3 control-label text-right">@Html.Label("Options")</label>
                        <div class="col-sm-9">@string.Join(", ", ViewDataTyped.CustomAttributeType.GetOptionsSchemaAsListOfString())</div>
                    </div>
                }
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.Label("Required?")</label>
                    <div class="col-sm-9">@ViewDataTyped.CustomAttributeType.IsRequired.ToYesNo()</div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionType.AttributeTypePurpose)</label>
                    <div class="col-sm-9">@ViewDataTyped.CustomAttributeType.CustomAttributeTypePurpose.CustomAttributeTypePurposeDisplayName</div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.Label("Description")</label>
                    <div class="col-sm-9">@ViewDataTyped.CustomAttributeType.CustomAttributeTypeDescription</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Treatment BMP Types Using this Attribute
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.TreatmentBMPTypeGridSpec, ViewDataTyped.TreatmentBMPTypeGridName, ViewDataTyped.TreatmentBMPTypeGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>