@*-----------------------------------------------------------------------
<copyright file="InfiltrationRate.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.TreatmentBMPAssessment.InfiltrationRate

@{
    SetLayout("SiteLayout.cshtml", ViewDataTyped);
}

<script type="text/javascript" src="@Url.Content("~/Areas/Stormwater/Views/TreatmentBMPAssessment/InfiltrationRateController.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    angular.module("NeptuneApp")
        .factory("angularModelAndViewData",
            function()
            {
                return {
                    AngularModel: @Html.Raw(JObject.FromObject(Model)),
                    AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular))
                    };
            });

    jQuery(document).ready(function () {       
        HookupCheckIfFormIsDirtyNoDisable(undefined);
    });
    // ]]>
</script>

@using (Html.BeginForm())
{
    <div>
        Measure the infiltration rate of the treatment BMP. Select the observation method from the dropdown below and whether to enter observations (instrument readings at 3 separate times) or infiltration rates. Click Add to enter an observation for each location where infiltration rate is measured. Use the Notes field to describe the location of the observation.
    </div>
    <br />
    <div ng-app="NeptuneApp" id="MaterialAccumulationAngularApp" ng-controller="InfiltrationRateController">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="cols-xs-12 col-sm-3 form-label" for="selectLocation">Observation Method</label>
                <div class="col-xs-10 col-sm-5">
                    <select class="form-control" id="selectLocation" ng-model="ObservationDetailTypeToAdd" ng-options="observationDetailType.TreatmentBMPObservationDetailTypeDisplayName for observationDetailType in AngularViewData.ObservationDetailTypeSimples">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="cols-xs-12 col-sm-3 form-label" for="selectLocation">Recording Approach</label>
                <div class="col-xs-10 col-sm-5">
                    <label class="form-check-inline" style="margin-right: 10px">
                        <input name="Detailed" class="form-check-input" type="radio" ng-model="HasReadings" ng-value=true /> Infiltration Details
                    </label>
                    <label class="form-check-inline" style="margin-right: 10px">
                        <input name="UserDefined" class="form-check-input" type="radio" ng-model="HasReadings" ng-value=false /> Infiltration Rate
                    </label>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <button class="btn btn-trpa" type="button" ng-click="addTreatmentBMPObservationDetail()"><span class="glyphicon glyphicon-plus"></span>Add Location</button>                                      
                    @Html.ValidationMessageFor(x => x.TreatmentBMPAssessmentID)
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div ng-repeat="detail in AngularModel.TreatmentBMPInfiltrationObservationDetailSimples | orderBy:'TreatmentBMPObservationDetailID'" class="row">
            <input type="hidden" value="{{detail.TreatmentBMPObservationDetailID}}"
                   name="TreatmentBMPInfiltrationObservationDetailSimples[{{$index}}].TreatmentBMPObservationDetailID" />
            <input type="hidden" value="{{detail.TreatmentBMPObservationDetailTypeID}}"
                   name="TreatmentBMPInfiltrationObservationDetailSimples[{{$index}}].TreatmentBMPObservationDetailTypeID" />
            <input type="hidden" value="{{detail.HasReadings}}"
                   name="TreatmentBMPInfiltrationObservationDetailSimples[{{$index}}].HasReadings" />

            <div class="col-xs-12">
                <div class="panel panelNeptune" style="background-color: white">
                    <div class="panel-heading">
                        <span>Location {{$index+1}}</span>
                        <span class="pullRight panel-heading-right">
                            <i class="glyphicon glyphicon-trash "
                               title="Remove '{{detail.TreatmentBMPObservationDetailTypeDisplayName}}'"
                               alt="Remove '{{detail.TreatmentBMPObservationDetailTypeDisplayName}}'"
                               ng-click="deleteTreatmentBMPObservationDetail(detail)"
                               style="cursor: pointer">
                            </i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="cols-xs-12 col-sm-3 form-label text-right">Observation Method</label>
                                <div class="col-xs-12 col-sm-9">
                                    <span ng-bind="getTreatmentBMPObservationDetailTypeDisplayName(detail)"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="cols-xs-12 col-sm-3 form-label text-right">Notes</label>
                                <div class="col-xs-12 col-sm-9">
                                    <input name="TreatmentBMPInfiltrationObservationDetailSimples[{{$index}}].Notes" class="form-control " type="text" ng-model="detail.Notes" ng-required=true style="width: 100%"/>
                                </div>
                            </div>
                            <div ng-show="!detail.HasReadings">
                                <div class="form-group">
                                    <label class="cols-xs-12 col-sm-3 form-label text-right">Infiltration Rate (in/hr)</label>
                                    <div class="col-xs-12 col-sm-3">
                                        <input name="TreatmentBMPInfiltrationObservationDetailSimples[{{$index}}].TreatmentBMPObservationValue" class="form-control " type="number" step="any" ng-model="detail.TreatmentBMPObservationValue" ng-required="!detail.HasReadings"/>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div ng-repeat="reading in detail.TreatmentBMPInfiltrationReadingSimples" class="row" ng-show="detail.HasReadings">
                            <input type="hidden" value="{{reading.TreatmentBMPInfiltrationReadingID}}"
                                   name="TreatmentBMPInfiltrationObservationDetailSimples[{{$parent.$index}}].TreatmentBMPInfiltrationReadingSimples[{{$index}}].TreatmentBMPInfiltrationReadingID">
                            <input type="hidden" value="{{reading.TreatmentBMPObservationDetailID}}"
                                   name="TreatmentBMPInfiltrationObservationDetailSimples[{{$parent.$index}}].TreatmentBMPInfiltrationReadingSimples[{{$index}}].TreatmentBMPObservationDetailID">
                            <div class="form-group form-group-condensed col-xs-6">
                                <div class="row">
                                    <label class="col-xs-6 control-label text-right">Time {{$index+1}} (minutes)</label>
                                    <div class="col-xs-6">
                                        <input name="TreatmentBMPInfiltrationObservationDetailSimples[{{$parent.$index}}].TreatmentBMPInfiltrationReadingSimples[{{$index}}].ReadingTime" type="number" step="any" class="form-control" ng-model="reading.ReadingTime" ng-required="detail.HasReadings">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-condensed col-xs-6">
                                <div class="row">
                                    <label class="col-xs-6 control-label text-right">Reading {{$index+1}} (inches)</label>
                                    <div class="col-xs-6">
                                        <input name="TreatmentBMPInfiltrationObservationDetailSimples[{{$parent.$index}}].TreatmentBMPInfiltrationReadingSimples[{{$index}}].ReadingValue" type="number" step="any" class="form-control" ng-model="reading.ReadingValue" ng-required="detail.HasReadings">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wizardButtonGroup">
        <hr>
        <button type="submit" class="btn btn-trpa" value="false" name="@Html.NameFor(x => x.AutoAdvance)">Save</button>
        <button type="submit" class="btn btn-trpa" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Save &amp; Continue</button>
    </div>
}
