@*-----------------------------------------------------------------------
<copyright file="MaterialAccumulation.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.TreatmentBMPAssessment.PassFailCollectionMethod

<script type="text/javascript" src="@Url.Content("~/Views/TreatmentBMPAssessment/PassFailCollectionMethodController.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    angular.module("NeptuneApp").factory("angularModelAndViewData",
        function() {
            return {
                AngularModel: @Html.Raw(JObject.FromObject(Model).ToString(Formatting.None)),
                AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
            };
        });
    angular.bootstrap(jQuery("[ng-controller=\"PassFailCollectionMethodController\"]"), ["NeptuneApp"]);

    jQuery(document).ready(function() {
        HookupCheckIfFormIsDirtyNoDisable(undefined);
    });
    // ]]>
</script>

<form method="POST" action="@ViewDataTyped.SubmitUrl" ng-app="NeptuneApp"id="PassFailCollectionMethodControllerApp" ng-controller="PassFailCollectionMethodController" ng-init="initializeData()" ng-submit="submit()" name="observationForm">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div>
                    @ViewDataTyped.AssessmentDescription
                </div>
                <br />
                <div>
                    <table class="table observationList" ng-hide="ObservationData.PassFailObservations.length === 0">
                        <thead>
                            <tr class="row">
                                <th class="col-xs-3">@Html.Label("Measurement Type")</th>
                                <th class="col-xs-3"></th>
                                <th class="col-xs-6">@Html.Label("Notes")</th>
                            </tr>
                        </thead>
                        <tr class="row" ng-repeat="observation in ObservationData.PassFailObservations track by $index">
                            <td class="col-xs-3">
                                <span ng-bind="observation.PropertyObserved"></span>
                            </td>
                            <td class="col-xs-3">
                                <label class="form-check-inline" style="margin-right: 10px">
                                    <input name="observation{{$index}}" class="form-check-input" type="radio" ng-model="observation.ObservationValue" value="true" required /> @ViewDataTyped.PassingScoreLabel
                                </label>
                                <label class="form-check-inline">
                                    <input name="observation{{$index}}" class="form-check-input" type="radio" ng-model="observation.ObservationValue" value="false" required /> @ViewDataTyped.FailingScoreLabel
                                </label>
                            </td>
                            <td class="col-xs-6">
                                <input class="form-control" type="text" ng-model="observation.Notes" style="width: 100%" />
                            </td>
                        </tr>                        
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="col-xs-12 col-sm-2">
            <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
        </div>
        <div class="col-xs-12 col-sm-10" style="text-align: right">
            <button type="submit" class="btn btn-neptune" value="false" name="@Html.NameFor(x => x.AutoAdvance)">Save</button>
            <button type="submit" class="btn btn-neptune" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Save &amp; Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>

        @Html.HiddenFor(m => m.TreatmentBMPAssessmentID)
        @Html.HiddenFor(m => m.ObservationTypeID)
        <input type="hidden" name="@Html.NameFor(m => m.ObservationData)" ng-value="AngularModel.ObservationData" />
    </div>
</form>
