@*-----------------------------------------------------------------------
<copyright file="ScoreDetail.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.TreatmentBMPAssessment.ScoreDetail

<style>
    
    #legendGradient {
        background: white;
        background: linear-gradient(to right, hsl(0,100%,59%), hsl(0,100%,59%), hsl(60,100%,59%), hsl(120,100%,59%));
        height: 20px;
        width: 175px;
        padding: 0px;
        margin-right: 10px;
        margin-bottom: 30px;}
    #legendGradient p {
        line-height: 60px;
        font-size: 14px;
        font-weight: bold;
    }
        #legendGradient .alignleft {
            float: left;
        }

        #legendGradient .alignright {
            float: right;
        }
    
    .legendLabel {
        margin-right: 65px;
        font-weight: bold;
    }

    .scoreText {
        font-weight: bold;
        font-size: 16px;
    }

    .grayOut {
        opacity: 0.4;
    }
</style>

<script type="text/javascript">
    // <![CDATA[
        jQuery(document).ready(function () {
        HookupCheckIfFormIsDirtyNoDisable(undefined);
    });
    // ]]>
</script>

<div>
    <div class="table-responsive">
        <table class="table table-condensed scoreTable">
            <thead>
                <tr class="row">
                    <th class="col-xs-3">@Html.Label("Observation")</th>
                    <th class="col-xs-2 text-center">@Html.Label("Threshold")</th>
                    <th class="col-xs-2 text-center">@Html.Label("Observed")</th>
                    <th class="col-xs-2 text-center">@Html.Label("Benchmark")</th>
                    <th class="col-xs-2 text-center">@Html.LabelWithSugarFor(FieldDefinitionType.AssessmentScoreWeight, "Weight")</th>
                    <th class="col-xs-1 text-center">@Html.LabelWithSugarFor(FieldDefinitionType.ObservationScore, "Score")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var treatmentBMPAssessmentObservationType in ViewDataTyped.ViewDataForAngular.ObservationTypeSimples)
                {
                    var treatmentBMPObservationSimple = treatmentBMPAssessmentObservationType.TreatmentBMPObservationSimple != null ?
                        treatmentBMPAssessmentObservationType.TreatmentBMPObservationSimple :
                        new TreatmentBMPObservationSimple { IsComplete = false, OverrideScore = false };

                    <tr class="row" class="@(ViewDataTyped.OverrideScore && !treatmentBMPObservationSimple.OverrideScore ? "grayOut" : "")">
                        <td class="col-xs-3">@treatmentBMPAssessmentObservationType.DisplayName</td>
                        
                        @if (treatmentBMPAssessmentObservationType.HasBenchmarkAndThresholds)
                        {
                            <td class="col-xs-2 text-center">
                                <span class="badge colorBadge">@treatmentBMPAssessmentObservationType.ThresholdValueInObservedUnits </span> @*setDecimal:3*@
                            </td>
                        }
                        @if(treatmentBMPAssessmentObservationType.HasBenchmarkAndThresholds && treatmentBMPObservationSimple.IsComplete)
                        {
                            <td class="col-xs-2 text-center">
                                <span class="badge colorBadge">@treatmentBMPObservationSimple.ObservationValue @*| setDecimal:3 }}*@</span>
                            </td>
                        }
                        
                        @if (treatmentBMPAssessmentObservationType.HasBenchmarkAndThresholds && !treatmentBMPObservationSimple.IsComplete)
                        {
                            <td class="col-xs-2 text-center"><span>-</span></td>
                        }
                        @if (treatmentBMPAssessmentObservationType.HasBenchmarkAndThresholds)
                        {
                            <td class="col-xs-2 text-center">
                                <span class="badge colorBadge">@treatmentBMPAssessmentObservationType.BenchmarkValue @*| setDecimal:3 }}*@</span>
                            </td>
                        }
                        @if(!treatmentBMPAssessmentObservationType.HasBenchmarkAndThresholds && !treatmentBMPObservationSimple.IsComplete)
                        {
                            <td class="text-center" colspan="3">
                                <em>Observation incomplete</em>
                            </td>
                        }
                        
                        @if (!treatmentBMPAssessmentObservationType.HasBenchmarkAndThresholds && treatmentBMPObservationSimple.IsComplete && !treatmentBMPObservationSimple.OverrideScore)
                        {
                            <td class="text-center" colspan="3">
                                <em style="font-weight: bold">@treatmentBMPObservationSimple.OverrideScoreText</em>
                            </td>
                        }
                        
                        @if (!treatmentBMPAssessmentObservationType.HasBenchmarkAndThresholds && treatmentBMPObservationSimple.IsComplete && treatmentBMPObservationSimple.OverrideScore)
                        {
                            <td class="text-center" colspan="3">
                                <em style="font-weight: bold">@treatmentBMPObservationSimple.OverrideScoreText</em>
                            </td>
                        }
                        
                        @if (!treatmentBMPObservationSimple.OverrideScore)
                        {
                            <td class="col-xs-2 text-center">@treatmentBMPAssessmentObservationType.Weight</td>
                        }
                        
                        @if (treatmentBMPObservationSimple.IsComplete)
                        {
                            <td class="col-xs-1 text-center">
                                <span class="bold badge">@treatmentBMPObservationSimple.ObservationScore @*| setDecimal:1 }}*@</span>
                            </td>
                        }
                        
                        @if (!treatmentBMPObservationSimple.IsComplete)
                        {
                            <td class="col-xs-1 text-center" ng-if=""><span>-</span></td>
                        }
                    </tr>
                }
                <tr class="row totalRow">
                    <td class="col-xs-3">Assessment Total</td>
                    <td class="col-xs-2 text-center">-</td>
                    <td class="col-xs-2 text-center">-</td>
                    <td class="col-xs-2 text-center">-</td>
                    <td class="col-xs-2 text-center">100%</td>
                    @if (ViewDataTyped.ViewDataForAngular.AssessmentIsComplete)
                    {
                        <td class="col-xs-1 text-center" ng-if="">
                            <span class="badge colorBadge">@ViewDataTyped.ViewDataForAngular.AssessmentScore @*| setDecimal:2 }}*@</span>
                        </td>
                    }
                    else
                    {
                        <td class="col-xs-1 text-center">-</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right pull-right legendLabel">
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
