@*-----------------------------------------------------------------------
<copyright file="ScoreDetail.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.TreatmentBMPAssessment.ScoreDetail

<style>
    
    #legendGradient {
        background: white;
        background: linear-gradient(to right, hsl(0,100%,59%), hsl(0,100%,59%), hsl(60,100%,59%), hsl(120,100%,59%));
        height: 20px;
        width: 175px;
        padding: 0px;
        margin-right: 10px;
        margin-bottom: 30px;}
    #legendGradient p {
        line-height: 60px;
        font-size: 14px;
        font-weight: bold;
    }
        #legendGradient .alignleft {
            float: left;
        }

        #legendGradient .alignright {
            float: right;
        }
    
    .legendLabel {
        margin-right: 65px;
        font-weight: bold;
    }

    .scoreText {
        font-weight: bold;
        font-size: 16px;
    }

    .grayOut {
        opacity: 0.4;
    }
</style>

<script type="text/javascript" src="@Url.Content("~/Views/TreatmentBMPAssessment/ScoreTableController.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    angular.module("NeptuneApp")
        .factory("angularModelAndViewData",
            function()
            {
                return {
                    AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular))
                };
            });

    jQuery(document).ready(function () {
        HookupCheckIfFormIsDirtyNoDisable(undefined);
    });
    // ]]>
</script>

<div ng-app="NeptuneApp" id="ScoreTableAngularApp" ng-controller="ScoreTableController">
    <div class="table-responsive">
        <table class="table table-condensed scoreTable">
            <thead>
                <tr class="row">
                    <th class="col-xs-3">@Html.Label("Observation")</th>
                    <th class="col-xs-2 centerText">@Html.Label("Threshold")</th>
                    <th class="col-xs-2 centerText">@Html.Label("Observed")</th>
                    <th class="col-xs-2 centerText">@Html.Label("Benchmark")</th>
                    <th class="col-xs-2 centerText">@Html.LabelWithSugarFor(FieldDefinition.AssessmentScoreWeight, "Weight")</th>
                    <th class="col-xs-1 centerText">@Html.LabelWithSugarFor(FieldDefinition.ObservationScore, "Score")</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" ng-repeat="observationType in AngularViewData.ObservationTypeSimples" ng-class="overrideScore() && !observationType.TreatmentBMPObservationSimple.OverrideScore ? 'grayOut' : ''">
                    <td class="col-xs-3">{{observationType.DisplayName}}</td>

                    <td class="col-xs-2 text-center" ng-if="observationType.HasBenchmarkAndThresholds">
                        <span class="badge colorBadge">{{observationType.ThresholdValueInObservedUnits | setDecimal:3 }}</span>
                    </td>

                    <td class="col-xs-2 text-center" ng-if="observationType.HasBenchmarkAndThresholds && observationType.TreatmentBMPObservationSimple.IsComplete">
                        <span class="badge colorBadge">{{observationType.TreatmentBMPObservationSimple.ObservationValue | setDecimal:3 }}</span>
                    </td>
                    
                    <td class="col-xs-2 text-center" ng-if="observationType.HasBenchmarkAndThresholds && !observationType.TreatmentBMPObservationSimple.IsComplete"><span>-</span></td>
                    
                    <td class="col-xs-2 text-center" ng-if="observationType.HasBenchmarkAndThresholds">
                        <span class="badge colorBadge">{{observationType.BenchmarkValue | setDecimal:3 }}</span>
                    </td>

                    <td class="text-center" colspan="3" ng-if="!observationType.HasBenchmarkAndThresholds && !observationType.TreatmentBMPObservationSimple.IsComplete">
                        <em>Observation incomplete</em>
                    </td>

                    <td class="text-center" colspan="3" ng-if="!observationType.HasBenchmarkAndThresholds && observationType.TreatmentBMPObservationSimple.IsComplete && !observationType.TreatmentBMPObservationSimple.OverrideScore">
                        <em style="font-weight: bold">{{observationType.TreatmentBMPObservationSimple.OverrideScoreText}}</em>
                    </td>

                    <td class="text-center" colspan="3" ng-if="!observationType.HasBenchmarkAndThresholds && observationType.TreatmentBMPObservationSimple.IsComplete && observationType.TreatmentBMPObservationSimple.OverrideScore">
                        <em style="font-weight: bold">{{observationType.TreatmentBMPObservationSimple.OverrideScoreText}}</em>
                    </td>

                    <td class="col-xs-2 text-center" ng-if="!observationType.TreatmentBMPObservationSimple.OverrideScore">{{observationType.Weight}}</td>

                    <td class="col-xs-1 text-center" ng-if="observationType.TreatmentBMPObservationSimple.IsComplete">
                        <span class="bold badge">{{observationType.TreatmentBMPObservationSimple.ObservationScore | setDecimal:1 }}</span>
                    </td>
                    <td class="col-xs-1 text-center" ng-if="!observationType.TreatmentBMPObservationSimple.IsComplete"><span>-</span></td>
                </tr>
            <tr class="row totalRow">
                <td class="col-xs-3">Assessment Total</td>
                <td class="col-xs-2 text-center">-</td>
                <td class="col-xs-2 text-center">-</td>
                <td class="col-xs-2 text-center">-</td>
                <td class="col-xs-2 text-center">100%</td>
                <td class="col-xs-1 text-center" ng-if="AngularViewData.AssessmentIsComplete">
                    <span class="badge colorBadge">{{AngularViewData.AssessmentScore | setDecimal:2 }}</span>
                </td>
                <td class="col-xs-1 text-center" ng-if="!AngularViewData.AssessmentIsComplete">-</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right pull-right legendLabel">
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
