@*-----------------------------------------------------------------------
    <copyright file="SiteLayout.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@inherits Neptune.Web.Views.TreatmentBMPAssessment.AssessmentSection

@{
    @SetLayout("~/Views/Shared/SiteLayout.cshtml", ViewDataTyped)
}

@section JavascriptAndStylesContent
{
    @RenderSection("JavascriptAndStylesContent", false)
}

<div>
    <div class="row wizard">
        <div class="col-xs-12 col-sm-3">
            <nav id="wizardNav">
                <ul class="nav nav-stacked">
                    <li class="@(ViewDataTyped.SectionName =="Assessment Information" ? "active" : string.Empty)">
                        <a href="@ViewDataTyped.AssessmentInformationUrl"><span style="margin-left: 22px">Assessment Information</span></a>
                    </li>
                    @foreach (var TreatmentBMPAssessmentObservationType in ViewDataTyped.TreatmentBMPAssessment.TreatmentBMP.TreatmentBMPType.GetObservationTypesForAssessment().Select(x=>x.TreatmentBMPAssessmentObservationType))
                    {
                        <li class="@(ViewDataTyped.SectionName == TreatmentBMPAssessmentObservationType.TreatmentBMPAssessmentObservationTypeName ? "active" : string.Empty)">
                            <a class="@(!ViewDataTyped.AssessmentInformationComplete ? "disabled" : string.Empty)" href="@(!ViewDataTyped.AssessmentInformationComplete ? "#" : TreatmentBMPAssessmentObservationType.AssessmentUrl(ViewDataTyped.TreatmentBMPAssessment))">
                                @if (ViewDataTyped.TreatmentBMPAssessment.IsObservationComplete(TreatmentBMPAssessmentObservationType))
                                {
                                    <span class="glyphicon glyphicon-ok field-validation-success text-left" style="margin-right: 4px"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-exclamation-sign field-validation-warning text-left" style="margin-right: 4px"></span>
                                }
                                <span>@TreatmentBMPAssessmentObservationType.TreatmentBMPAssessmentObservationTypeName</span>
                            </a>
                        </li>
                    }
                    <li class="@(ViewDataTyped.SectionName =="Score" ? "active" : string.Empty)">
                        <a class="@(!ViewDataTyped.AssessmentInformationComplete ? "disabled" : string.Empty)" href="@(!ViewDataTyped.AssessmentInformationComplete ? "#" : ViewDataTyped.ScoreUrl)"><span style="margin-left: 22px">Score</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="wizardContent" class="col-xs-12 col-sm-9">
            <div class="wizardHeader">
                <h2>@ViewDataTyped.SectionName</h2>
                <hr>
            </div>

            <div class="validationError">
                @Html.ValidationSummary()
            </div>

            <div class="wizardMain">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
