@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common
@using Neptune.WebMvc.Common.BootstrapWrappers
@using Neptune.WebMvc.Common.HtmlHelperExtensions
@using Neptune.WebMvc.Common.ModalDialog
@using Neptune.WebMvc.Views.Shared
@inherits Neptune.WebMvc.Areas.Trash.Views.Home.Index

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/Trash/TrashMapCommon.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/Trash/OVTABasedMapController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/Trash/AreaBasedCalculationControl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/Trash/OVTABasedResultsCalculationControl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/Trash/LoadBasedResultsCalculationControl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/Trash/LoadBasedCurrentOrNetChangeControl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/Trash/LoadBasedMapController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/Trash/AreaBasedMapController.js")"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {
            if (jQuery("<template></template>")[0] instanceof HTMLUnknownElement) {
                jQuery("#warnInternetExplorer").show();
            }
            jQuery('.selectpicker').selectpicker("val", [1, 2]);
            jQuery('#trashCaptureStatusTypeDropdown').change();
        });
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: null,
                        AngularViewData:
                            @Html.Raw(ViewDataTyped.ViewDataForAngular.ToJsonHtmlString())
                    };
            });
        // ]]>
    </script>

    <style>
        #tcLegend, #ovtaAreaLegend {
            padding-left: 0;
            list-style-type: none;
        }

            #tcLegend img {
                max-height: 50px;
                margin-right: 5px;
            }

            #ovtaAreaLegend img {
                max-height: 25px;
                margin-right: 5px;
                border: 1px solid #ddd;
            }

            #ovtaAreaLegend li {
                padding-bottom: 10px;
            }


        .bootstrap-select {
            padding-left: 0;
        }

        .leaflet-control-layers-list {
            width: 195px !important;
            padding: 5px;
        }

        @@media (min-width: 768px) {
            .TGUColumn .table-of {
                padding-top: 10%;
            }
        }

        @@media (max-width: 768px) {
            .TGUColumn .table-of {
                padding-top: 3%;
            }
        }

        .areaBasedCalculationControlTable {
            margin-bottom: 0;
        }

        .font25 {
            font-size: 25px;
        }

        .font15 {
            font-size: 15px;
        }

        .greyLabel {
            margin-bottom: 0;
            color: rgb(116, 116, 114);
        }

        .TGUColumn {
            font-weight: bold;
            border-top: none !important;
            border-bottom: none !important;
        }

        table td + td {
            border-left: 1px solid rgb(204, 204, 204);
        }

        .ovtaResults {
            font-weight: bold;
            border: none !important;
        }

        .inline-display a:hover {
            display: inline;
        }

        .inline-display a {
            display: inline;
        }

        .loadBasedResultsColumn {
            border: none;
            border-top: none !important;
            border-bottom: none !important;
        }

        loadBasedResultsColumn p {
            margin-top: 8px;
        }

        .loadBasedCalculationControlTable {
            margin-bottom: 0;
        }

            .loadBasedCalculationControlTable tfoot tr th {
                padding-top: 10px;
            }

        .loadBased-lightblue {
            color: RGB(132, 151, 176);
        }

        .loadBased-red {
            color: RGB(255, 0, 0);
        }

        .loadBased-blue {
            color: RGB(31, 78, 121);
        }

        .font20 {
            font-size: 20px;
        }

        .font22 {
            font-size: 22.5px;
        }

        .text-normal label {
            font-weight: normal;
        }

        .gpy {
            font-size: 9pt;
            font-style: italic;
            margin-bottom: 0;
        }
    </style>
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

@if (!ViewDataTyped.CurrentPerson.IsAnonymousOrUnassigned())
{
    <div class="row">
        <div class="col-xs-12">
            <h3>Common Tasks</h3>
        </div>

        <div class="col-xs-12 col-sm-6 launchPadAction">
            <div class="row">
                <div class="col-xs-6 col-md-5 col-lg-4">
                    <a href="@ViewDataTyped.BeginOVTAUrl" class="btn btn-neptune launchPadActionButton"><span class="glyphicon glyphicon-plus"></span> Begin OVTA</a>
                </div>
                <div class="col-xs-6 col-md-7 col-lg-8">
                    Start here to begin a new On-land Visual Trash Assessment
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 launchPadAction">
            <div class="row">
                <div class="col-xs-6 col-md-5 col-lg-4">
                    <a href="@ViewDataTyped.AllOVTAsUrl" class="btn btn-neptune launchPadActionButton">View all OVTAs</a>
                </div>
                <div class="col-xs-6 col-md-7 col-lg-8">
                    See an overview grid of all On-land Visual Trash Assessments
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 launchPadAction">
            <div class="row">
                <div class="col-xs-6 col-md-5 col-lg-4">
                    <a href="@ViewDataTyped.AddBMPUrl" class="btn btn-neptune launchPadActionButton">Add a BMP</a>
                </div>
                <div class="col-xs-6 col-md-7 col-lg-8">
                    Start here to add a new BMP
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 launchPadAction">
            <div class="row">
                <div class="col-xs-6 col-md-5 col-lg-4">
                    <a href="@ViewDataTyped.FindBMPUrl" class="btn btn-neptune launchPadActionButton">Record a BMP Visit</a>
                </div>
                <div class="col-xs-6 col-md-7 col-lg-8">
                    Locate a BMP and begin a Field Visit for it
                </div>
            </div>
        </div>
    </div>
}

<h3>Program Overview</h3>

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ProgramOverviewPageContentViewData); }


<div ng-app="NeptuneApp">

    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" id="organizationDetailsTabs" style="border-bottom: none;">
                <li class="active">
                    <a href="#areaResults" aria-controls="areaResultsOverview" role="tab" data-toggle="tab" id="areaResultsTab">Area-Based Results</a>
                </li>
                <li>
                    <a href="#loadResults" aria-controls="loadResultsOverview" role="tab" data-toggle="tab" id="loadResultsTab">Load-Based Results</a>
                </li>
                <li>
                    <a href="#ovtaResults" aria-controls="ovtaResultsOverview" role="tab" data-toggle="tab" id="ovtaResultsTab">OVTA Results</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="areaResults" ng-controller="AreaBasedMapController">
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <div id="areaBasedMapContainer">
                                <div id="@ViewDataTyped.AreaBasedMapInitJson.MapDivID" style="height: 650px; margin: 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="treatmentBMPLegendAreaBased" style="display: none;">
                        <label>
                            <div>

                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID), bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID)])" ng-model="bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.Full.MapboxMarkerUrlForLegend()" height="18" /> BMP (Full Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID), bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID)])" ng-model="bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.Partial.MapboxMarkerUrlForLegend()" height="18" /> BMP (Partial Trash Capture)
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="loadResults" ng-controller="LoadBasedMapController">
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <div id="loadBasedMapContainer">
                                <div id="@ViewDataTyped.LoadBasedMapInitJson.MapDivID" style="height: 650px; margin: 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="treatmentBMPLegendLoadBased" style="display: none;">
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID), bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID)])" ng-model="bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.Full.MapboxMarkerUrlForLegend()" height="18" /> BMP (Full Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID), bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID)])" ng-model="bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.Partial.MapboxMarkerUrlForLegend()" height="18" /> BMP (Partial Trash Capture)
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ovtaResults" ng-controller="OVTABasedMapController">
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <div id="ovtaBasedMapContainer">
                                <div id="@ViewDataTyped.OVTABasedMapInitJson.MapDivID" style="height: 650px; margin: 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="treatmentBMPLegend" style="display: none;">
                        <label>
                            <div>

                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID), bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID)])" ng-model="bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.Full.MapboxMarkerUrlForLegend()" height="18" /> BMP (Full Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID), bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID)])" ng-model="bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.Partial.MapboxMarkerUrlForLegend()" height="18" /> BMP (Partial Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.None.TrashCaptureStatusTypeID), bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.None.TrashCaptureStatusTypeID)])" ng-model="bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.None.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.None.MapboxMarkerUrlForLegend()" height="18" /> BMP (No Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.NotProvided.TrashCaptureStatusTypeID), bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.NotProvided.TrashCaptureStatusTypeID)])" ng-model="bmpTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.NotProvided.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.NotProvided.MapboxMarkerUrlForLegend()" height="18" /> BMP (Not Provided)
                                </span>
                            </div>
                        </label>
                    </div>
                    <div id="parcelLegend" style="display: none;">
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterParcelsByTrashCaptureStatusType(@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID), parcelTrashCaptureStatusTypeOn[@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID)])" ng-model="parcelTrashCaptureStatusTypeOn[@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.Full.SquareImageUrlForLegend()" height="12" style="margin-bottom: 3px;" /> WQMP (Full Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterParcelsByTrashCaptureStatusType(@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID), parcelTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID)])" ng-model="parcelTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.Partial.SquareImageUrlForLegend()" height="12" style="margin-bottom: 3px;" /> WQMP (Partial Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterParcelsByTrashCaptureStatusType(@(TrashCaptureStatusType.None.TrashCaptureStatusTypeID), parcelTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.None.TrashCaptureStatusTypeID)])" ng-model="parcelTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.None.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.None.SquareImageUrlForLegend()" height="12" style="margin-bottom: 3px;" /> WQMP (No Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterParcelsByTrashCaptureStatusType(@(TrashCaptureStatusType.NotProvided.TrashCaptureStatusTypeID), parcelTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.NotProvided.TrashCaptureStatusTypeID)])" ng-model="parcelTrashCaptureStatusTypesOn[@(TrashCaptureStatusType.NotProvided.TrashCaptureStatusTypeID)]">
                                <span>
                                    <img src="@TrashCaptureStatusType.NotProvided.SquareImageUrlForLegend()" height="12" style="margin-bottom: 3px;" /> WQMP (Not Provided)
                                </span>
                            </div>
                        </label>
                    </div>
                </div>@*OVTABasedMapController*@
            </div>
            <p class="systemText text-danger" id="warnInternetExplorer" style="display: none;">Your browser might not support all features of this map. Please switch to Google Chrome or Mozilla Firefox for the best experience.</p>
        </div>
    </div>
</div>

<template id="areaBasedCalculationControlTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="areaBasedCalculationControl" style="max-width: 475px;">
        <div class="form-horizontal">
            @if (ViewDataTyped.ViewDataForAngular.ShowDropdown)
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-6 control-label" style="padding-top: 7px;">
                        <strong class="font15">Showing results for </strong>
                    </div>
                    <div class="col-sm-6">
                        <div id="jurisdictionDropdownContainer"></div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-12 text-center">
                        <strong class="font15">Showing results for @ViewDataTyped.JurisdictionSelectList.Single().Text</strong>
                    </div>
                </div>
            }
            <hr />
            <table class="table  table-responsive table-condensed areaBasedCalculationControlTable">
                <tfoot>
                    <tr>
                        <td class="TGUColumn text-center" style="width: 20%">
                            <strong>Full Trash Capture</strong>
                        </td>
                        <td class="TGUColumn text-center" style="border-left: none; width:20%">
                            <strong>Equivalent Area</strong>
                        </td>
                        <td class="TGUColumn text-center" style="border-left: none; width:60%">
                            <strong>Total Full Capture Equivalent</strong>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="TGUColumn text-center">
                            <div id="fullTrashCapture" class="font25" style="color: rgb(76, 146, 76)">0</div>
                            <p class="greyLabel">acres</p>
                        </td>
                        <td class="TGUColumn text-center">
                            <div id="equivalentArea" class="font25" style="color: rgb(140, 200, 10)">0</div>
                            <p class="greyLabel">acres via OVTA "A"</p>
                        </td>
                        <td class="TGUColumn text-center">
                            <div class="col-sm-5 col-xs-12" style="">
                                <div id="totalAcresCaptured" class="font25" style="color: rgb(76, 146, 76);">0</div>
                                <p class="greyLabel">acres captured</p>
                            </div>
                            <div class="col-sm-1 col-xs-12 table-of">
                                <strong> of </strong>
                            </div>
                            <div class="col-sm-5 col-xs-12" style="">
                                <div id="totalPLUAcres" class="font25">0</div>
                                <p class="greyLabel">total PLU acres</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<div class="hiddenDropdownContainer" style="display: none;">
    @Html.DropDownList("jurisdictionDropdown", ViewDataTyped.JurisdictionSelectList, new { @class = "form-control" });
</div>

<template id="OVTABasedResultsControlTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="OVTABasedResultsControl">
        <div class="form-horizontal">
            @if (ViewDataTyped.ViewDataForAngular.ShowDropdown)
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-6 control-label" style="padding-top: 7px;">
                        <strong class="font15">Showing results for </strong>
                    </div>
                    <div class="col-sm-6">
                        <div id="jurisdictionOVTAResultsDropdownContainer"></div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-12 text-center">
                        <strong class="font15">Showing results for @ViewDataTyped.JurisdictionSelectList.Single().Text</strong>
                    </div>
                </div>
            }
            <hr />
            <table class="table areaBasedCalculationControlTable">
                <thead>
                    <tr>
                        <td class="ovtaResults font15 inline-display">
                            @ModalDialogFormHelper.ModalDialogFormLink(string.Format("Score {0}", BootstrapHtmlHelpers.MakeGlyphIcon("helpicon glyphicon glyphicon-question-sign")), ViewDataTyped.ScoreDescriptionsUrl, "Score Definitions", 600, null, "Close", new List<string> { }, null, null)
                        </td>
                        <td class="ovtaResults text-center font15" style="width: 8.75%">A</td>
                        <td class="ovtaResults text-center font15" style="width: 8.75%">B</td>
                        <td class="ovtaResults text-center font15" style="width: 8.75%">C</td>
                        <td class="ovtaResults text-center font15" style="width: 8.75%">D</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font15" style="border: none">
                            <div>Priority Land Use Area (acres)</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="PLUIsA" style="color: rgb(74,222,0)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="PLUIsB" style="color: rgb(255,216,0)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="PLUIsC" style="color: rgb(255,127,127)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="PLUIsD" style="color: rgb(197,0,255)">0</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="font15" style="border: none">
                            <div>Alternate Land Use Area (acres)</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="ALUIsA" style="color: rgb(74,222,0)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="ALUIsB" style="color: rgb(255,216,0)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="ALUIsC" style="color: rgb(255,127,127)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="ALUIsD" style="color: rgb(197,0,255)">0</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<div class="hiddenDropdownContainer" style="display: none;">
    @Html.DropDownList("jurisdictionOVTAResultsDropdown", ViewDataTyped.JurisdictionSelectList, new { @class = "form-control" });
</div>

<template id="LoadBasedResultsControlTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="LoadBasedResultsControl" style="max-height: 210px; max-width: 475px">
        <div class="form-horizontal">
            @if (ViewDataTyped.ViewDataForAngular.ShowDropdown)
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-6 control-label" style="padding-top: 7px;">
                        <strong class="font15">Showing results for </strong>
                    </div>
                    <div class="col-sm-6">
                        <div id="jurisdictionLoadResultsDropdownContainer"></div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-12 text-center">
                        <strong class="font15">Showing results for @ViewDataTyped.JurisdictionSelectList.Single().Text</strong>
                    </div>
                </div>
            }
            <hr />
            <table class="table table-responsive table-condensed loadBasedCalculationControlTable">
                <tfoot>
                    <tr>
                        <td class="text-right" colspan="5">
                            <p class="gpy">gallons per year</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="loadBasedResultsColumn text-center" style="width: 18%">
                            <div id="viaFullTrashCapture" class="font20 loadBased-lightblue bold">0</div>
                            <p class="text-normal greyLabel" style="font-weight: normal">@Html.LabelWithSugarFor(FieldDefinitionType.ViaFullCapture)</p>
                        </td>
                        <td class="loadBasedResultsColumn text-center" style="width: 21%">
                            <div id="viaPartialTrashCapture" class="font20 loadBased-lightblue bold">0</div>
                            <p class="text-normal greyLabel" >@Html.LabelWithSugarFor(FieldDefinitionType.ViaPartialCapture)</p>
                        </td>
                        <td class="loadBasedResultsColumn text-center" style="width: 21%">
                            <div id="viaOVTAScore" class="font20 loadBased-lightblue bold">0</div>
                            <p class="text-normal greyLabel" >@Html.LabelWithSugarFor(FieldDefinitionType.ViaOVTAScore)</p>
                        </td>
                        <td class="loadBasedResultsColumn text-center">
                            <div id="totalAchieved" class="font20 loadBased-blue bold">0</div>
                            <p class="text-normal greyLabel" >@Html.LabelWithSugarFor(FieldDefinitionType.TotalAchieved)</p>
                        </td>
                        <td class="loadBasedResultsColumn text-center" style="border-left: 1px solid rgb(204, 204, 204);">
                            <div id="targetLoadReduction" class="font20 loadBased-red bold">0</div>
                            <p>@Html.LabelWithSugarFor(FieldDefinitionType.TargetLoadReduction)</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<div class="hiddenDropdownContainer" style="display: none;">
    @Html.DropDownList("jurisdictionLoadResultsDropdown", ViewDataTyped.JurisdictionSelectList, new { @class = "form-control" });
</div>


<template id="LoadBasedCurrentOrNetChangeTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="LoadBasedCurrentOrNetChangeControl">
        <div class="form-horizontal">
            <div class="form-group">
                <div id="CurrentOrNetChangeLoadingRadioContainer"></div>
            </div>
        </div>
    </div>
</template>


<script>
    jQuery(document).ready(function () {
        jQuery("#treatmentBMPLegend").appendTo("#ovtaResults .leaflet-control-layers-list").toggle();
        jQuery("#parcelLegend").appendTo("#ovtaResults .leaflet-control-layers-list").toggle();
        jQuery("#treatmentBMPLegendLoadBased").appendTo("#loadResults .leaflet-control-layers-list").toggle();
        jQuery("#treatmentBMPLegendAreaBased").appendTo("#areaResults .leaflet-control-layers-list").toggle();

    })
</script>