@using Neptune.Web.Views.FieldVisit
@using Neptune.Web.Common.ModalDialog
@using Neptune.Web.Common
@using Microsoft.AspNetCore.Html
@using Neptune.EFModels.Entities
@inherits Detail

@* ReSharper disable UnknownCssClass *@
@section JavascriptAndStylesContent
{
    <style>
        #fieldVisitDetailNav li a {
            color: #000;
            background: #fff;
            cursor: pointer;
        }
        
        @@media (max-width: 768px) {
            ul {
                border-right: 3px solid;
                border-color: #0099ab;
            }
        }

        #fieldVisitDetailNav li a:hover {
            background-color: #00c1d5;
            color: #fff;
        }

        #fieldVisitDetailNav li.active a,
        #fieldVisitDetailNav li.active a:hover {
            background-color: #0099ab;
            color: #fff;
        }

        @@media (min-width: 769px) {
            #fieldVisitDetailNav li.active a:after {
                content: '';
                display: block;
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -10px;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 8px solid #0099ab;
                z-index: 900;
            }
        }

        #fieldVisitDetailNav.nav-tabs > li > a {
            border-radius: 0;
        }

        span.glyphicon-chevron-left {
            margin-right:5px
        }

        span.glyphicon-chevron-right {
            margin-left:5px
        }
        .returnToEditButton {
            margin-left: 5px;
        }
    </style>
}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info" role="alert">
            This field visit has been wrapped up and is therefore not editable. @(ViewDataTyped.CanManageStormwaterJurisdiction ? "Use the return to edit button if you wish to make any changes." : "")
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                @if (ViewDataTyped.FieldVisit.IsFieldVisitVerified)
                {
                    <span class="helpicon glyphicon glyphicon-ok helpiconGridBlue" style="cursor: default;"></span>
                    <span style="margin-right: 5px">Assessment and Maintenance Records have been verified</span>
                }
                else
                {
                    <span class="helpicon glyphicon glyphicon-warning-sign helpiconGridBlue" style="cursor: default;"></span>
                    <span style="margin-right: 5px">Assessment and Maintenance Records have not been verified</span>
                }

                @if (ViewDataTyped.CanManageStormwaterJurisdiction)
                {
                    if (ViewDataTyped.FieldVisit.IsFieldVisitVerified == false)
                    {
                        @ModalDialogFormHelper.ModalDialogFormLink("Verify Assessment and Maintenance Records", ViewDataTyped.VerifiedUnverifiedFieldVisitUrl, "Verify Assessment and Maintenance Records?", 400, "Continue", "Cancel", new List<string> { "btn", "btn-neptune", "headerButtonText", }, null, null)
                    }
                    else
                    {
                        @ModalDialogFormHelper.ModalDialogFormLink("Mark as provisional", ViewDataTyped.MarkAsProvisionalUrl, "Mark as Provisional?", 400, "Continue", "Cancel", new List<string> { "btn", "btn-neptune", "headerButtonText", "inactivateUserButton" }, null, null)
                    }
                }

                @if (ViewDataTyped.CanEditStormwaterJurisdiction)
                {
                    if (ViewDataTyped.FieldVisit.IsFieldVisitVerified == false)
                    {
                        @ModalDialogFormHelper.ModalDialogFormLink("Return to edit", ViewDataTyped.ReturnToEditUrl, "Mark as Provisional?", 400, "Continue", "Cancel", new List<string> { "btn", "btn-neptune", "headerButtonText", "returnToEditButton" }, null, null)
                    }
                }

            </div>
        </div>
    </div>

    <div class="row wizard">
        <div class="col-xs-12 col-sm-3">
            <ul class="nav nav-stacked nav-tabs" id="fieldVisitDetailNav" role="tablist">
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#inventory" aria-controls="inventory" role="tab" data-toggle="tab">Inventory</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#assessment" aria-controls="assessment" role="tab" data-toggle="tab">Assessment</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#maintenance" aria-controls="maintenance" role="tab" data-toggle="tab">Maintenance</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#postMaintenanceAssessment" aria-controls="postMaintenanceAssessment" role="tab" data-toggle="tab">Post-Maintenance Assessment</a>
                </li>
                <li role="presentation" class="nav-item active">
                    <a class="nav-link" href="#visitSummary" aria-controls="visitSummary" role="tab" data-toggle="tab">Visit Summary</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9" id="wizardContent">
            <div class="tab-content">
                <div id="inventory" role="tabpanel" class="tab-pane">
                    <div class="wizardHeader"><h2>Inventory</h2></div>
                    <div class="wizardMain">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>BMP Name:</label>
                            </div>
                            <div class="col-sm-9">
                                @ViewDataTyped.TreatmentBMP.TreatmentBMPName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>BMP Type:</label>
                            </div>
                            <div class="col-sm-9">
                            @ViewDataTyped.TreatmentBMP.TreatmentBMPType.TreatmentBMPTypeName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Inventory Updated During Visit?</label>
                            </div>
                            <div class="col-sm-9">
                                @ViewDataTyped.FieldVisit.InventoryUpdated.ToYesNo()
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <label>BMP Verification Status:</label>
                            </div>
                            <div class="col-sm-9">
                            @(ViewDataTyped.TreatmentBMP.InventoryIsVerified ? "Verified" : "Not Verified")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Last Verified by:</label>
                            </div>
                            <div class="col-sm-9">
                            @(ViewDataTyped.TreatmentBMP.InventoryIsVerified ?
                                ViewDataTyped.TreatmentBMP.InventoryVerifiedByPerson?.GetFullNameFirstLast()
                                              : "N/A")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Last Verified on:</label>
                            </div>
                            <div class="col-sm-9">
                            @(ViewDataTyped.TreatmentBMP.DateOfLastInventoryVerification != null ? ViewDataTyped.TreatmentBMP.DateOfLastInventoryVerification.Value.ToShortDateString() :
                                              "N/A")
                            </div>
                        </div>
                        <div class="row text-right">
                        <a class="btn btn-neptune" href="@ViewDataTyped.TreatmentBMPDetailUrl">View BMP Details</a>
                        </div>
                        <div class="row text-right">
                            <a class="btn btn-neptune" onclick="activateTab('assessment')">Assessment <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <div id="assessment" role="tabpanel" class="tab-pane">
                    <div class="row wizardHeader">
                        <div class="col-sm-6" style="padding-left: 0;">
                            <h2>Assessment</h2>
                        </div>
                    </div>
                    <div class="wizardMain">
                        @{ AssessmentDetail.RenderPartialView(Html, ViewDataTyped.InitialAssessmentViewData);}
                        <div class="row text-right">
                            <a class="btn btn-neptune" onclick="activateTab('inventory')"> <span class="glyphicon glyphicon-chevron-left"></span> Inventory</a>
                            <a class="btn btn-neptune" onclick="activateTab('maintenance')">Maintenance <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <div id="maintenance" role="tabpanel" class="tab-pane">
                    <div class="row wizardHeader">
                        <div class="col-sm-6" style="padding-left: 0;">
                            <h2>Maintenance</h2>
                        </div>
                    </div>
                    <div class="wizardMain">
                        @if (ViewDataTyped.MaintenanceRecord != null)
                        {
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Status:</label>
                                </div>
                                <div class="col-sm-9">
                                    @ViewDataTyped.MaintenanceRecord.MaintenanceRecordStatus()
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Type:</label>
                                </div>
                                <div class="col-sm-9">
                                    @if (ViewDataTyped.MaintenanceRecord.MaintenanceRecordType != null)
                                    {
                                        @ViewDataTyped.MaintenanceRecord.MaintenanceRecordType.MaintenanceRecordTypeDisplayName
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Performed By:</label>
                                </div>
                                <div class="col-sm-9">
                                    @ViewDataTyped.MaintenanceRecord.GetMaintenanceRecordPerson().GetFullNameFirstLast()
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Description:</label>
                                </div>
                                <div class="col-sm-9">
                                    @ViewDataTyped.MaintenanceRecord.MaintenanceRecordDescription
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panelNeptune">
                                        <div class="panel-heading panelTitle">Observations</div>
                                        <div class="panel-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Attribute</th>
                                                        <th class="text-right">Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var maintenanceRecordObservation in ViewDataTyped.SortedMaintenanceRecordObservations)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if (ViewDataTyped.UserHasCustomAttributeTypeManagePermissions)
                                                                {
                                                                    <a href="@ViewDataTyped.CustomAttributeTypeDetailUrlTemplate.ParameterReplace(maintenanceRecordObservation.CustomAttributeTypeID)">@maintenanceRecordObservation.CustomAttributeType.CustomAttributeTypeName</a>
                                                                }
                                                                else
                                                                {
                                                                    @maintenanceRecordObservation.CustomAttributeType.CustomAttributeTypeName
                                                                }
                                                                <br/>
                                                                <span class="help-block">@maintenanceRecordObservation.CustomAttributeType.CustomAttributeTypeDescription</span>
                                                            </td>
                                                            <td class="text-right" style="min-width: 150px">@ViewDataTyped.MaintenanceRecord.GetObservationValueForAttributeType(maintenanceRecordObservation.CustomAttributeType)</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <p class="systemText">No maintenance was performed during this Field Visit</p>
                        }
                        <div class="row text-right">
                            <a class="btn btn-neptune" onclick="activateTab('assessment')"> <span class="glyphicon glyphicon-chevron-left"></span> Assessment</a>
                            <a class="btn btn-neptune" onclick="activateTab('postMaintenanceAssessment')">Post-Maintenance Assessment <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <div id="postMaintenanceAssessment" role="tabpanel" class="tab-pane">
                    <div class="row wizardHeader">
                        <div class="col-sm-6" style="padding-left: 0;">
                            <h2>Post-Maintenance Assessment</h2>
                        </div>
                    </div>
                    <div class="wizardMain">
                        @{ AssessmentDetail.RenderPartialView(Html, ViewDataTyped.PostMaintenanceAssessmentViewData);}
                        <div class="row text-right">
                            <a class="btn btn-neptune" onclick="activateTab('maintenance')"> <span class="glyphicon glyphicon-chevron-left"></span> Maintenance</a>
                            <a class="btn btn-neptune" onclick="activateTab('visitSummary')">Visit Summary <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <div id="visitSummary" role="tabpanel" class="tab-pane active">
                    <div class="wizardHeader"><h2>Visit Summary</h2></div>
                    <div class="wizardMain">
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Status</label>
                            <div class="col-sm-9">@ViewDataTyped.FieldVisit.FieldVisitStatus.FieldVisitStatusDisplayName</div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Performed by</label>
                            <div class="col-sm-9">@ViewDataTyped.FieldVisit.PerformedByPerson.GetFullNameFirstLast()</div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Date</label>
                            <div class="col-sm-9">@ViewDataTyped.FieldVisit.VisitDate.ToShortDateString()</div>
                        </div>

                        <h4>Visit Details</h4>

                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Inventory Updated?</label>
                            <div class="col-sm-9">@ViewDataTyped.FieldVisit.InventoryUpdated.ToYesNo()</div>
                        </div>
                        @if (ViewDataTyped.FieldVisit.InventoryUpdated)
                        {
                            <div class="row">
                                <label class="col-sm-3 control-label text-right">Status</label>
                            <div class="col-sm-9">@TreatmentBMP.GetCustomAttributeStatus(ViewDataTyped.TreatmentBMPType, ViewDataTyped.TreatmentBMPCustomAttributes)</div>
                            </div>
                        }
                        <br />

                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Assessment Performed?</label>
                            <div class="col-sm-9">@(ViewDataTyped.InitialAssessment == null ? "No" : "Yes")</div>
                        </div>
                        @if (ViewDataTyped.InitialAssessment != null)
                        {
                            <div class="row">
                                <label class="col-sm-3 control-label text-right">Status</label>
                                <div class="col-sm-9">
                                    @ViewDataTyped.InitialAssessment.GetAssessmentStatus(ViewDataTyped.InitialAssessmentViewData.TreatmentBMPType)
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label text-right">Score</label>
                                <div class="col-sm-9">@ViewDataTyped.InitialAssessment.FormattedScore()</div>
                            </div>
                        }
                        <br />

                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Maintenance Performed?</label>
                            <div class="col-sm-9">@(ViewDataTyped.MaintenanceRecord == null ? "No" : "Yes")</div>
                        </div>
                        @if (ViewDataTyped.MaintenanceRecord != null)
                        {
                            <div class="row">
                                <label class="col-sm-3 control-label text-right">Status</label>
                                <div class="col-sm-9">@ViewDataTyped.MaintenanceRecord.MaintenanceRecordStatus()</div>
                            </div>
                        }
                        <br />

                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Post-Maintenance Assessment Performed?</label>
                            <div class="col-sm-9">@(ViewDataTyped.PostMaintenanceAssessment == null ? "No" : "Yes")</div>
                        </div>

                        @if (ViewDataTyped.PostMaintenanceAssessment != null)
                        {
                            <div class="row">
                                <label class="col-sm-3 control-label text-right">Status</label>
                                <div class="col-sm-9">
                                    @ViewDataTyped.PostMaintenanceAssessment.GetAssessmentStatus(ViewDataTyped.PostMaintenanceAssessmentViewData.TreatmentBMPType)
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 control-label text-right">Score</label>
                                <div class="col-sm-9">@ViewDataTyped.PostMaintenanceAssessment.FormattedScore()</div>
                            </div>
                        }
                        <div class="row text-right">
                            <a class="btn btn-neptune" onclick="activateTab('postMaintenanceAssessment')"> <span class="glyphicon glyphicon-chevron-left"></span> Post-Maintenance Assessment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    function activateTab(tabID) {
        jQuery('.nav-tabs a[href="#' + tabID + '"]').tab('show');
    };
</script>