@*-----------------------------------------------------------------------
    <copyright file="SiteLayout.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Common.ModalDialog
@using Neptune.EFModels.Entities
@inherits Neptune.Web.Views.FieldVisit.FieldVisitSection
@{
    @SetLayout("~/Views/Shared/SiteLayout.cshtml", ViewDataTyped)
}

@section JavascriptAndStylesContent
{
    @RenderSection("JavascriptAndStylesContent", false)

    <style>
        nav#wizardNav ul li.activeGroup a,
        nav#wizardNav ul li.activeGroup span {
            color: #fff;
            background: #0099ab;
            cursor: pointer;
        }

        ul.fieldVisitTierTwoMenu {
            border-left: 4px solid;
            border-bottom: 4px solid;
            border-color: #0099ab;
        }

        @@media (max-width: 768px) {
            ul.fieldVisitTierTwoMenu {
                border-right: 3px solid;
                border-color: #0099ab;
            }
        }

        nav#wizardNav ul.fieldVisitTierTwoMenu li a {
            background-color: #fff;
            color: #333;
        }

        nav#wizardNav ul.fieldVisitTierTwoMenu li a span {
            color: #f0ad4e;
            background-color: inherit;
        }


        @@media (min-width: 769px) {
            nav#wizardNav ul li.activeGroup a.activeItem:after {
                content: '';
                display: block;
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -10px;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 8px solid #0099ab;
                z-index: 900;
            }

            nav#wizardNav ul.fieldVisitTierTwoMenu a.activeItem:after {
                border-left: 8px solid #e49937 !important;
            }
        }

        nav#wizardNav ul.fieldVisitTierTwoMenu a:hover {
            background-color: #e9ad5d;
            color: #fff;
        }

        nav#wizardNav ul.fieldVisitTierTwoMenu a.activeItem,
        nav#wizardNav ul.fieldVisitTierTwoMenu a.activeItem span,
        nav#wizardNav ul.fieldVisitTierTwoMenu a.activeItem:hover {
            background-color: #e49937;
            color: #fff;
        }

        nav#wizardNav ul.fieldVisitTierTwoMenu a:hover .glyphicon-exclamation-sign {
            color: #fff;
        }

        hr {
             border-top: 1px solid #ddd;
         }

        .glyphicon-chevron-down {
            margin-left: 7px;
            margin-top: 7px;
        }
    </style>
}
    <div class="pull-right">
            <span class="helpicon glyphicon glyphicon-warning-sign helpiconGridBlue" style="cursor: default;"></span>
            <span style="margin-right: 5px">Field visit is in progress</span>
            <div class="dropdown moreActionsToggle" style="display: inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="@ViewDataTyped.TreatmentBMPDetailUrl">Treatment BMP Details</a>
                    </li>
                    <li>
                        @ModalDialogFormHelper.ModalDialogFormLink("Change Visit Date/Type", ViewDataTyped.EditDateAndTypeUrl, "Change Visit Date/Type", 400, "Continue", "Cancel", null, null, null)
                    </li>
                    @if (ViewDataTyped.InitialAssessment != null)
                    {
                        <li>
                            @ModalDialogFormHelper.MakeDeleteLink("Delete Initial Assessment", ViewDataTyped.InitialAssessmentDeleteUrl, new List<string> { "" }, ViewDataTyped.UserCanDeleteAssessment(ViewDataTyped.InitialAssessment))
                        </li>
                    }
                    @if (ViewDataTyped.MaintenanceRecord != null)
                    {
                        <li>
                            @ModalDialogFormHelper.MakeDeleteLink("Delete Maintenance Record", ViewDataTyped.MaintenanceRecordDeleteUrl, new List<string> { "" }, ViewDataTyped.UserCanDeleteMaintenanceRecord)
                        </li>
                    }
                    @if (ViewDataTyped.PostMaintenanceAssessment != null)
                    {
                        <li>
                            @ModalDialogFormHelper.MakeDeleteLink("Delete Post-Maintenance Assessment", ViewDataTyped.PostMaintenanceAssessmentDeleteUrl, new List<string> { "" }, ViewDataTyped.UserCanDeleteAssessment(ViewDataTyped.PostMaintenanceAssessment))
                        </li>
                    }
                </ul>
            </div>
    </div>
<div style="clear:both"></div>

@Html.ValidationSummary()
<div>
    <div class="row wizard">
        <div class="col-xs-12 col-sm-3">
            <nav id="wizardNav">
                <ul class="nav nav-stacked">
                    @foreach (var fieldVisitSection in FieldVisitSection.All)
                    {
                        var sectionIsActive = ViewDataTyped.SectionName == fieldVisitSection.FieldVisitSectionName;
                        var topLevelIsActive = ViewDataTyped.SubsectionName == null;
                        <li class="@(sectionIsActive ? "activeGroup" : string.Empty)">
                            <a class="@(topLevelIsActive ? "activeItem" : string.Empty)" href="@fieldVisitSection.GetSectionUrl(ViewDataTyped.FieldVisit, ViewDataTyped.LinkGenerator)">
                                <span>@fieldVisitSection.FieldVisitSectionDisplayName</span>
                            </a>
                            @if (sectionIsActive && (!topLevelIsActive || fieldVisitSection.ExpandMenu(ViewDataTyped.FieldVisit)))
                            {
                                <ul class="nav nav-stacked fieldVisitTierTwoMenu">
                                    @foreach (var fieldVisitSubsection in fieldVisitSection.GetSubsections(ViewDataTyped.FieldVisit, ViewDataTyped.LinkGenerator))
                                    {
                                        var subsectionIsActive = ViewDataTyped.SubsectionName == fieldVisitSubsection.SubsectionName;
                                        <li>
                                            <a class="@(subsectionIsActive ? "activeItem" : string.Empty)" href="@fieldVisitSubsection.SubsectionUrl">
                                                @if (fieldVisitSubsection.SectionCompletionStatusIndicator != null)
                                                {
                                                    @fieldVisitSubsection.SectionCompletionStatusIndicator
                                                }
                                                @fieldVisitSubsection.SubsectionName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div id="wizardContent" class="col-xs-12 col-sm-9">
            <div class="wizardHeader">
                <h2>@ViewDataTyped.SectionHeader</h2>
            </div>

            <div class="wizardMain">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

<script>
    function launchSaveAndWrapUpConfirmModal() {
        var dialogTitle = "Save &amp; Wrap Up";
        var dialogContent = "Are you sure you want to wrap up the field visit? Wrapping up will mark the field visit as complete and ready for review by the Jurisdiction Manager.";
        var modalHtml =
            "<div class='modal neptune-modal' id='saveAndWrapupModal' tabindex='-1'>" +
            "<div class='modal-dialog neptune-modal-dialog' style = 'width:90%; max-width: 500px'>" +
            "<div class='modal-content'>" +
            "<div class='modal-header'>" +
            "<button type='button' class='modal-close-button btn btn-xs btn-neptune' data-dismiss='modal'><span>&times;</span></button>" +
            "<span class='modal-title'>" + dialogTitle + "</span>" +
            "</div>" +
            "<div class='modal-body'>" + dialogContent + "</div>" +
            "<div class='modal-footer'>" +
            "<div class='modal-footer-buttons'>" +
            "<button type='button' onclick='saveAndWrapUp()' class='btn btn-xs btn-neptune'>Continue</button>" +
            "<button type='button' class='btn btn-xs btn-neptune' data-dismiss='modal'>Cancel</button>" +
            "</div>" +
            "</div>" +
            "<div class='progress' style='display:none'>" +
            "<div class='progress-bar progress-bar-info progress-bar-striped active' role='progressbar' style='width:100%'>Saving</div>" +
            "</div>" +
            "</div>" +
            "</div>" +
            "</div>";

        var dialogDiv = jQuery(modalHtml);
        dialogDiv.modal({ backdrop: "static" });
        dialogDiv.draggable({ handle: ".modal-header" });
        $("body").append(dialogDiv);
    }

    function saveAndWrapUp() {
        var theForm = jQuery('form.field-visit-form');
        theForm.append('<input type="hidden" name="FinalizeVisit" id="hiddenIsFinalizeVisitInput" value="true">');
        theForm.submit();
    }
</script>