@*-----------------------------------------------------------------------
<copyright file="EditPersonOrganizations.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.EFModels.Entities
@using Neptune.Web.Common
@using Neptune.Web.Common.HtmlHelperExtensions
@inherits Neptune.Web.Views.PersonOrganization.EditPersonOrganizations
@model Neptune.Web.Views.PersonOrganization.EditPersonOrganizationsViewModel

<script type="text/javascript">
    // <![CDATA[
    angular.module("NeptuneApp").factory("angularModelAndViewData", function()
    {
        return {
            AngularViewData: @Html.Raw(ViewDataTyped.ToJsonHtmlString()),
            AngularModel: @Html.Raw(Model.ToJsonHtmlString())
        };
    });
    angular.bootstrap(jQuery("#EditPersonOrganizationsApp"), ["NeptuneApp"]);
    // ]]>
</script>

<div class="validationError">
    @Html.ValidationSummary()
</div>

<div id="EditPersonOrganizationsApp" ng-controller="PersonOrganizationController">
    <div class="form-group">
        <label class="control-label">Organization to Add:</label>
        <div class="input-group">
            <select ng-model="OrganizationToAdd" ng-options="Organization.DisplayName for Organization in filteredOrganizations()" class="form-control"></select>
            <span class="input-group-btn">
                <button class="btn btn-neptune" type="button" ng-click="addRow()">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </span>                    
        </div>        
    </div>          
    <table class="table table-condensed">
        <tr>
            <th></th>
            <th>@Html.LabelWithSugarFor(FieldDefinitionType.Organization)</th>
        </tr>
        <tr ng-repeat="OrganizationID in AngularModel.OrganizationIDs">
            <td style="width:60px;">
                <span class="glyphicon glyphicon-trash blue" title="Remove row'" alt="Remove row" ng-click="deleteRow(OrganizationID)" style="cursor: pointer"></span></td>
            <td ng-bind="getOrganizationDisplayName(OrganizationID)"></td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        <input ng-repeat="OrganizationID in AngularModel.OrganizationIDs" type="hidden" name="@Html.NameFor(x => x.OrganizationIDs[0]).ToString().Replace("0", "{{$index}}")" value="{{OrganizationID}}">
    }
</div>