@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Models
@inherits Neptune.Web.Views.Shared.HRUCharacteristics.HRUCharacteristics

<table class="table table-responsive" style="text-align:center">
    <thead>
        <tr>
            <th style="text-align: left">@Html.LabelWithSugarFor(FieldDefinition.LandUse)</th>
            <th style="text-align:center">@Html.LabelWithSugarFor(FieldDefinition.Area) (ac)</th>
            <th style="text-align:center">@Html.LabelWithSugarFor(FieldDefinition.ImperviousArea) (ac)</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var summary in ViewDataTyped.HRUCharacteristicsSummaries.OrderBy(x => x.LandUse))
    {
        <tr>
            <td style="text-align: left">@summary.LandUse</td>
            <td>@summary.Area</td>
            <td>@summary.ImperviousCover</td>
        </tr>
    }
    <tr style="font-weight: bold">
        <td style="text-align: left">@ViewDataTyped.HRUCharacteristicsTotal.LandUse</td>
        <td>@ViewDataTyped.HRUCharacteristicsTotal.Area</td>
        <td>@ViewDataTyped.HRUCharacteristicsTotal.ImperviousCover</td>
    </tr>
    </tbody>
</table>