@using Neptune.Web.Common
@using Neptune.Web.Views.Home
@using Neptune.Web.Views.Shared

@inherits LaunchPad

@if (!ViewDataTyped.CurrentPerson.IsAnonymousOrUnassigned())
{
    <div class="row">
        <div class="col-xs-12 launchPadHeader">
            <h2 id="welcome">Welcome @ViewDataTyped.CurrentPerson.FirstName,</h2>
            @if (ViewDataTyped.IsAdmin)
            {
                <p>
                    Your assigned Jurisdictions: You are an Administrator and therefore manage <a href="@ViewDataTyped.JurisdictionIndexUrl">all Jurisdictions</a>.
                </p>
            }
            else if (ViewDataTyped.Jurisdictions.Count() == 1)
            {
                var jurisdiction = ViewDataTyped.Jurisdictions.Single();
                <p>
                    Your assigned Jurisdiction:
                    <a href="@jurisdiction.GetDetailUrl()">@jurisdiction.GetOrganizationDisplayName()</a>
                </p>
            }
            else if (ViewDataTyped.Jurisdictions.Any())
            {
                <p>
                    Your assigned Jurisdictions:
                </p>
                <ul class="launchPadJurisdictionList">
                    @foreach (var jurisdiction in ViewDataTyped.Jurisdictions)
                    {
                        <li>
                            <a href="@jurisdiction.GetDetailUrl()">@jurisdiction.GetOrganizationDisplayName()</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>You are not assigned to a Jurisdiction</p>
            }
        </div>
        @if (ViewDataTyped.IsJurisdictionManager)
        {
            <div class="col-xs-12">
                @if (ViewDataTyped.ManagerDashboardDescription != null)
                {
                    <div class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <span>@ViewDataTyped.ManagerDashboardDescription.ToHTMLFormattedString()
                            <a href="@ViewDataTyped.ManagerDashboardUrl" class="alert-link">Go to the Manager Dashboard</a>.</span>
                    </div>
                }
            </div>
        }
        <div class="col-xs-12">
            <h4>Common Tasks</h4>
        </div>
            <div class="col-xs-12 col-sm-6 launchPadAction">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-4">
                        <a href="@ViewDataTyped.FindABmpUrl" class="btn btn-neptune launchPadActionButton">Find a BMP</a>
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        Start here to view, edit, assess, or maintain a BMP
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 launchPadAction">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-4">
                        <a href="@ViewDataTyped.ExploreBmpTypesUrl" class="btn btn-neptune launchPadActionButton">View BMP Types</a>
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        See details of the @ViewDataTyped.NumberOfBmpTypes different types of BMPs
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 launchPadAction">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-4">
                        <a href="@ViewDataTyped.AddABmpUrl" class="btn btn-neptune launchPadActionButton">Add a BMP</a>
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        Start here to add a new BMP
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 launchPadAction">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-4">
                        <a href="@ViewDataTyped.ViewAssessmentAndMaintenanceRecordsUrl" class="btn btn-neptune launchPadActionButton">View Field Records</a>
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        View records of completed assessment and maintenance events
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 launchPadAction">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-4">
                        <a href="@ViewDataTyped.ViewWaterQualityManagementPlansUrl" class="btn btn-neptune launchPadActionButton">View WQMPs</a>
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        View a list of all Water Quality Management Plans.
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 launchPadAction">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-4">
                        <a href="@ViewDataTyped.ViewDelineationReconciliationReportUrl" class="btn btn-neptune launchPadActionButton" style="word-wrap: break-word; white-space: pre-wrap;">View Delineation Discrepancies</a>
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        View a list of all delineations that are not consistent with the most recent Regional Subbasin Layer.
                    </div>
                </div>
            </div>
        
        @if (ViewDataTyped.IsJurisdictionManager)
        {
            <div class="col-xs-12">
                <h4>Admin Tasks</h4>
            </div>

            <div class="col-xs-12 col-sm-6 launchPadAction">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-4">
                        <a href="@ViewDataTyped.InviteANewUserUrl" class="btn btn-neptune launchPadActionButton">Invite a New User</a>
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        Invite a new user and assign them roles
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 launchPadAction">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-4">
                        <a href="@ViewDataTyped.EditUserRolesUrl" class="btn btn-neptune launchPadActionButton">Edit User Roles</a>
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        Edit roles of an existing user in your jurisdiction
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 launchPadAction">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-lg-4">
                        <a href="@ViewDataTyped.ManagerDashboardUrl" class="btn btn-neptune launchPadActionButton" style="word-wrap: break-word; white-space: pre-wrap;">View Manager Dashboard</a>
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        View and verify provisional records
                    </div>
                </div>
            </div>
        }
    </div>
    { ViewPageContent.RenderPartialView(Html, ViewDataTyped.LaunchPadViewPageContentViewData); }
    <hr />
}
@if (ViewDataTyped.CurrentPerson.IsAnonymousOrUnassigned())
{
    
    <div class="row">
        <div class="col-xs-12 launchPadHeader">

            @if (ViewDataTyped.IsUnassigned)
            {
                <h2 id="welcome">Welcome, @ViewDataTyped.CurrentPerson.GetFullNameFirstLast()</h2>
                <strong>
                    You do not have a role assigned. <a href="@ViewDataTyped.RequestSupportUrl">Request Support</a> or contact your jurisdiction manager to request a role.
                </strong>
            }
            else
            {
                <h2 id="welcome">Welcome</h2>
            }
        </div>
        <div class="col-xs-12">
            <p>
                This website is not intended as a full inventory of facilities and O &amp; M activities. It is not intended as a standalone basis to assess compliance.
                Jurisdictions may have records and utilize data systems that are not connected to this site.
            </p>
        </div>
        
        <div class="col-xs-12 col-sm-6 launchPadAction">
            <div class="row">
                <div class="col-xs-6 col-md-5 col-lg-4">
                    <a href="@ViewDataTyped.FindABmpUrl" class="btn btn-neptune launchPadActionButton">Find a BMP</a>
                </div>
                <div class="col-xs-6 col-md-7 col-lg-8">
                    Start here to view, edit, assess, or maintain a BMP
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 launchPadAction">
            <div class="row">
                <div class="col-xs-6 col-md-5 col-lg-4">
                    <a href="@ViewDataTyped.ViewWaterQualityManagementPlansUrl" class="btn btn-neptune launchPadActionButton">View WQMPs</a>
                </div>
                <div class="col-xs-6 col-md-7 col-lg-8">
                    View a list of all Water Quality Management Plans.
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 launchPadAction">
            <div class="row">
                <div class="col-xs-6 col-md-5 col-lg-4">
                    <a href="@ViewDataTyped.ExploreBmpTypesUrl" class="btn btn-neptune launchPadActionButton">View BMP Types</a>
                </div>
                <div class="col-xs-6 col-md-7 col-lg-8">
                    See details of the @ViewDataTyped.NumberOfBmpTypes different types of BMPs
                </div>
            </div>
        </div>
    </div>
    }