@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Neptune.WebMvc.Common.BootstrapWrappers
@using Neptune.WebMvc.Common.HtmlHelperExtensions
@using Neptune.WebMvc.Views.Shared
@inherits Neptune.WebMvc.Views.DelineationGeometry.DownloadDelineationGeometry
@model Neptune.WebMvc.Views.DelineationGeometry.DownloadDelineationGeometryViewModel
@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}
@section RightOfPageTitle
{
    <a class="btn btn-warning headerButtonText observationTypeButton" href="@ViewDataTyped.GisUploadUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload GDB</a>
}
@Html.ValidationSummary()
<div class="formPage">
    <div class="row">
        <div class="col-md-6">
            <p>
                Use this form on the right to bulk download Treatment BMP Delineations.
            </p>
            <ul>
                <li>A single ArcGIS file geodatabase containing drainage delineation features will be produced. Facilities that receive both piped flow and local surface flow (centralized delineations) are defined as a collection of regional subbasins rather than unique polygons and are excluded from the GDB download</li>
                <li>The file geodatabase will contain only one feature class for facilities that receive local flow only (distributed delineations) </li>
                <li>The file will contain attributes for BMP Name, Jurisdiction, BMP Type, Delineation Status, Delineation Area (ac), Date of Last Delineation Modification, and Date of Last Delineation Verification</li>
                <li>This file download is intended to support bulk editing in desktop GIS software and can be re-uploaded to the platform to update existing or add new delineations for inventoried BMPs. </li>
                <li><i>Note: The GDB download may take a while to be generated depending on the volume of data in the system for the selected jurisdiction. Thank you for your patience.</i></li>
            </ul>
        </div>
        <div class="col-md-6">
            <form id="uploadGisForm" method="post" action="@ViewDataTyped.GisDownloadUrl" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="row form-group" style="margin-top: 0px;">
                        <div class="col-md-6">
                            @Html.LabelWithSugarFor(x => x.DelineationTypeID)
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.DelineationTypeID, ViewDataTyped.DelineationTypes, new Dictionary<string, object> { { "class", "form-control" } })
                        </div>
                    </div>
                    <div class="row form-group" style="margin-top: 0px;">
                        <div class="col-md-6">
                            @Html.LabelWithSugarFor(x => x.StormwaterJurisdictionID)
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(x => x.StormwaterJurisdictionID, ViewDataTyped.StormwaterJurisdictions, new Dictionary<string, object> { { "class", "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download GDB</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>

