@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Common
@inherits Neptune.Web.Views.MaintenanceActivity.EditMaintenanceActivity

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelFor(m => m.MaintenanceActivityDate)</div>
            <div class="col-xs-8">
                <div class="input-group date" data-date-format="m/d/yyyy" data-provide="datepicker" data-date-autoclose="true" data-date-clear-btn="true" style="width: 150px">
                    <input type="text" name="@Html.NameFor(m => m.MaintenanceActivityDate)" class="form-control assessmentDate" value="@Model.MaintenanceActivityDate.ToStringDate()" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelFor(m => m.MaintenanceActivityTypeID)</div>
            <div class="col-xs-8">
                @Html.DropDownListFor(m => m.MaintenanceActivityTypeID, ViewDataTyped.AllMaintenanceActivityTypes, new { @class = "form-control" })
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelFor(m => m.PerformedByPersonID)</div>
            <div class="col-xs-8">
                @Html.SearchableDropDownListFor(m=>m.PerformedByPersonID, ViewDataTyped.AllPersons, new{title=""})
                </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 control-label">@Html.LabelFor(m => m.MaintenanceActivityDescription)</div>
            <div class="col-xs-8">
                @Html.TextAreaFor(m => m.MaintenanceActivityDescription, new { @class = "form-control" })
            </div>
        </div>
    </div>
}