@using Neptune.Web.Models
@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Areas.Trash.Views.Home.Index

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.GeoServerMap.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/Home/TrashMapCommon.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/Home/OVTABasedMapController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/Home/AreaBasedCalculationControl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/Home/OVTABasedResultsCalculationControl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/Home/LoadBasedResultsCalculationControl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/Home/LoadBasedMapController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/Home/AreaBasedMapController.js")"></script>
    <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: null,
                        AngularViewData:
                            @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
                    };
            });

        jQuery(document).ready(function() {
            jQuery('.selectpicker').selectpicker("val", [1, 2]);
            jQuery('#trashCaptureStatusTypeDropdown').change();
        });
        // ]]>
    </script>

    <style>
        #tcLegend, #ovtaAreaLegend {
            padding-left: 0;
            list-style-type: none;
        }

        #tcLegend img {
            max-height: 50px;
            margin-right: 5px;
        }

        #ovtaAreaLegend img {
            max-height: 25px;
            margin-right: 5px;
            border: 1px solid #ddd;
        }

        #ovtaAreaLegend li {
            padding-bottom: 10px;
        }


        .bootstrap-select {
            padding-left: 0;
        }

        .leaflet-control-layers-list {
            width: 195px !important;
            padding: 5px;
        }
    </style>
}


@section RightOfPageTitle
{
    @if (ViewDataTyped.CurrentPerson.IsAdministrator())
    {
        <button class="btn btn-neptune" onclick="createTguDialog()"><span class="glyphicon glyphicon-refresh" style="margin-right: 5px;"></span>Refresh TGUs</button>
    }
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="row">
    <div class="col-xs-12">
        <h3>Common Tasks</h3>
    </div>

    <div class="col-xs-12 col-sm-6 launchPadAction">
        <div class="row">
            <div class="col-xs-6 col-md-5 col-lg-4">
                <a href="@ViewDataTyped.BeginOVTAUrl" class="btn btn-neptune launchPadActionButton"><span class="glyphicon glyphicon-plus"></span> Begin OVTA</a>
            </div>
            <div class="col-xs-6 col-md-7 col-lg-8">
                Start here to begin a new On-land Visual Trash Assessment
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 launchPadAction">
        <div class="row">
            <div class="col-xs-6 col-md-5 col-lg-4">
                <a href="@ViewDataTyped.AllOVTAsUrl" class="btn btn-neptune launchPadActionButton">View all OVTAs</a>
            </div>
            <div class="col-xs-6 col-md-7 col-lg-8">
                See an overview grid of all On-land Visual Trash Assessments
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 launchPadAction">
        <div class="row">
            <div class="col-xs-6 col-md-5 col-lg-4">
                <a href="@ViewDataTyped.AddBMPUrl" class="btn btn-neptune launchPadActionButton">Add a BMP</a>
            </div>
            <div class="col-xs-6 col-md-7 col-lg-8">
                Start here to add a new BMP
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 launchPadAction">
        <div class="row">
            <div class="col-xs-6 col-md-5 col-lg-4">
                <a href="@ViewDataTyped.FindBMPUrl" class="btn btn-neptune launchPadActionButton">Record a BMP Visit</a>
            </div>
            <div class="col-xs-6 col-md-7 col-lg-8">
                Locate a BMP and begin a Field Visit for it
            </div>
        </div>
    </div>
</div>

<h3>Program Overview</h3>

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ProgramOverviewPageContentViewData); }


<div ng-app="NeptuneApp">

    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" id="organizationDetailsTabs" style="border-bottom: none;">
                <li class="active">
                    <a href="#areaResults" aria-controls="areaResultsOverview" role="tab" data-toggle="tab" id="areaResultsTab">Area-Based Results</a>
                </li>
                <li>
                    <a href="#loadResults" aria-controls="loadResultsOverview" role="tab" data-toggle="tab" id="loadResultsTab">Load-Based Results</a>
                </li>
                <li>
                    <a href="#ovtaResults" aria-controls="ovtaResultsOverview" role="tab" data-toggle="tab" id="ovtaResultsTab">OVTA Results</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="areaResults" ng-controller="AreaBasedMapController">
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <div id="areaBasedMapContainer">
                                <div id="@ViewDataTyped.AreaBasedMapInitJson.MapDivID" style="height: 650px; margin: 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="treatmentBMPLegendAreaBased" style="display: none;">
                        <label>
                            <div>

                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID), fullBmpOn)" ng-model="fullBmpOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.Full.MapboxMarkerUrlForLegend()" height="18" /> BMP (Full Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID), partialBmpOn)" ng-model="partialBmpOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.Partial.MapboxMarkerUrlForLegend()" height="18" /> BMP (Partial Trash Capture)
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="loadResults" ng-controller="LoadBasedMapController">
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <div id="loadBasedMapContainer">
                                <div id="@ViewDataTyped.LoadBasedMapInitJson.MapDivID" style="height: 650px; margin: 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="treatmentBMPLegendLoadBased" style="display: none;">
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID), fullBmpOn)" ng-model="fullBmpOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.Full.MapboxMarkerUrlForLegend()" height="18" /> BMP (Full Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID), partialBmpOn)" ng-model="partialBmpOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.Partial.MapboxMarkerUrlForLegend()" height="18" /> BMP (Partial Trash Capture)
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ovtaResults" ng-controller="OVTABasedMapController">
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <div id="ovtaBasedMapContainer">
                                <div id="@ViewDataTyped.OVTABasedMapInitJson.MapDivID" style="height: 650px; margin: 0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="treatmentBMPLegend" style="display: none;">
                        <label>
                            <div>

                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID), fullBmpOn)" ng-model="fullBmpOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.Full.MapboxMarkerUrlForLegend()" height="18" /> BMP (Full Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID), partialBmpOn)" ng-model="partialBmpOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.Partial.MapboxMarkerUrlForLegend()" height="18" /> BMP (Partial Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.None.TrashCaptureStatusTypeID), noneBmpOn)" ng-model="noneBmpOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.None.MapboxMarkerUrlForLegend()" height="18" /> BMP (No Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterBMPsByTrashCaptureStatusType(@(TrashCaptureStatusType.NotProvided.TrashCaptureStatusTypeID), notProvidedBmpOn)" ng-model="notProvidedBmpOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.NotProvided.MapboxMarkerUrlForLegend()" height="18" /> BMP (Not Provided)
                                </span>
                            </div>
                        </label>
                    </div>
                    <div id="parcelLegend" style="display: none;">
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterParcelsByTrashCaptureStatusType(@(TrashCaptureStatusType.Full.TrashCaptureStatusTypeID), fullParcelOn)" ng-model="fullParcelOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.Full.SquareImageUrlForLegend()" height="12" style="margin-bottom: 3px;" /> WQMP (Full Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterParcelsByTrashCaptureStatusType(@(TrashCaptureStatusType.Partial.TrashCaptureStatusTypeID), partialParcelOn)" ng-model="partialParcelOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.Partial.SquareImageUrlForLegend()" height="12" style="margin-bottom: 3px;" /> WQMP (Partial Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterParcelsByTrashCaptureStatusType(@(TrashCaptureStatusType.None.TrashCaptureStatusTypeID), noneParcelOn)" ng-model="noneParcelOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.None.SquareImageUrlForLegend()" height="12" style="margin-bottom: 3px;" /> WQMP (No Trash Capture)
                                </span>
                            </div>
                        </label>
                        <label>
                            <div>
                                <input type="checkbox" ng-change="filterParcelsByTrashCaptureStatusType(@(TrashCaptureStatusType.NotProvided.TrashCaptureStatusTypeID), notProvidedParcelOn)" ng-model="notProvidedParcelOn">
                                <span>
                                    <img src="@TrashCaptureStatusType.NotProvided.SquareImageUrlForLegend()" height="12" style="margin-bottom: 3px;" /> WQMP (Not Provided)
                                </span>
                            </div>
                        </label>
                    </div>
                </div>@*OVTABasedMapController*@
            </div>
        </div>
    </div>
</div>


<style>
    .areaBasedCalculationControlTable {
        margin-bottom: 0;
        width: 400px;
    }

    .font25 {
        font-size: 25px;
    }

    .font15 {
        font-size: 15px;
    }

    .greyLabel {
        margin-bottom: 0;
        color: rgb(116, 116, 114);
    }

    .TGUColumn {
        padding: 0 !important;
        font-weight: bold;
        border-top: none !important;
        border-bottom: none !important;
    }

    table td + td {
        border-left: 1px solid rgb(204, 204, 204);
    }
</style>

<template id="areaBasedCalculationControlTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="areaBasedCalculationControl">
        <div class="form-horizontal">
            @if (ViewDataTyped.ViewDataForAngular.ShowDropdown)
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-6 control-label" style="padding-top: 7px;">
                        <strong class="font15">Showing results for </strong>
                    </div>
                    <div class="col-sm-6">
                        <div id="jurisdictionDropdownContainer"></div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-12 text-center">
                        <strong class="font15">Showing results for @ViewDataTyped.JurisdictionSelectList.Single().Text</strong>
                    </div>
                </div>
            }
            <hr />
            <table class="table areaBasedCalculationControlTable">
                <tfoot>
                    <tr>
                        <td class="TGUColumn text-center">
                            <strong>Full Trash Capture</strong>
                        </td>
                        <td class="TGUColumn text-center" style="border-left: none">
                            <strong>Equivalent Area</strong>
                        </td>
                        <td class="TGUColumn text-center" style="border-left: none">
                            <strong>Total Full Capture Equivalent</strong>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="TGUColumn text-center">
                            <div id="fullTrashCapture" class="font25" style="color: rgb(76, 146, 76)">0</div>
                            <p class="greyLabel">acres</p>
                        </td>
                        <td class="TGUColumn text-center">
                            <div id="equivalentArea" class="font25" style="color: rgb(140, 200, 10)">0</div>
                            <p class="greyLabel">acres via OVTA "A"</p>
                        </td>
                        <td class="TGUColumn pull-right text-center">
                            <div class="row">
                                <div class="col-sm-5" style="padding-right: 0px;">
                                    <div id="totalAcresCaptured" class="font25" style="color: rgb(76, 146, 76);">0</div>
                                    <p class="greyLabel">acres captured</p>
                                </div>
                                <div class="col-sm-1" style="padding-top: 10%; margin-right: 5px;">
                                    <strong> of </strong>
                                </div>
                                <div class="col-sm-5" style="padding-left: 0">
                                    <div id="totalPLUAcres" class="font25">0</div>
                                    <p class="greyLabel">total PLU acres</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<div class="hiddenDropdownContainer" style="display: none;">
    @Html.DropDownList("jurisdictionDropdown", ViewDataTyped.JurisdictionSelectList, new { @class = "form-control" });
</div>


<style>
    .ovtaResults {
        font-weight: bold;
        border: none !important;
    }
</style>
<template id="OVTABasedResultsControlTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="OVTABasedResultsControl">
        <div class="form-horizontal">
            @if (ViewDataTyped.ViewDataForAngular.ShowDropdown)
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-6 control-label" style="padding-top: 7px;">
                        <strong class="font15">Showing results for </strong>
                    </div>
                    <div class="col-sm-6">
                        <div id="jurisdictionOVTAResultsDropdownContainer"></div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-12 text-center">
                        <strong class="font15">Showing results for @ViewDataTyped.JurisdictionSelectList.Single().Text</strong>
                    </div>
                </div>
            }
            <hr />
            <table class="table areaBasedCalculationControlTable">
                <thead>
                    <tr>
                        <td class="ovtaResults font15" style="width: 55%">
                            <strong>Score</strong>
                        </td>
                        <td class="ovtaResults text-center font15" style="width: 8.75%">
                            <strong>A</strong>
                        </td>
                        <td class="ovtaResults text-center font15" style="width: 8.75%">
                            <strong>B</strong>
                        </td>
                        <td class="ovtaResults text-center font15" style="width: 8.75%">
                            <strong>C</strong>
                        </td>
                        <td class="ovtaResults text-center font15" style="width: 8.75%">
                            <strong>D</strong>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font15" style="border: none">
                            <div>Priority Land Use Area (acres)</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="PLUIsA" style="color: rgb(74,222,0)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="PLUIsB" style="color: rgb(255,216,0)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="PLUIsC" style="color: rgb(255,127,127)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="PLUIsD" style="color: rgb(197,0,255)">0</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="font15" style="border: none">
                            <div>Alternate Land Use Area (acres)</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="ALUIsA" style="color: rgb(74,222,0)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="ALUIsB" style="color: rgb(255,216,0)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="ALUIsC" style="color: rgb(255,127,127)">0</div>
                        </td>
                        <td class="ovtaResults text-center font15">
                            <div id="ALUIsD" style="color: rgb(197,0,255)">0</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<div class="hiddenDropdownContainer" style="display: none;">
    @Html.DropDownList("jurisdictionOVTAResultsDropdown", ViewDataTyped.JurisdictionSelectList, new { @class = "form-control" });
</div>



<style>
    .loadBasedResultsColumn {
        border: none;
        border-top: none !important;
        border-bottom: none !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }


    .loadBasedCalculationControlTable {
        margin-bottom: 0;
        width: 475px;
        /*border-collapse: separate;
        border-spacing: 10px;*/
    }

    .loadBasedCalculationControlTable tfoot tr th {
        padding-top: 10px;
    }

    .loadBased-lightblue {
        color: RGB(132, 151, 176);
    }

    .loadBased-red {
        color: RGB(255, 0, 0);
    }

    .loadBased-blue {
        color: RGB(31, 78, 121);
    }

    .font20 {
        font-size: 20px;
    }

    .font22 {
        font-size: 22.5px;
    }
</style>
<template id="LoadBasedResultsControlTemplate">
    <div class="leaflet-bar leaflet-control neptune-leaflet-control" id="LoadBasedResultsControl" style="max-height: 210px;">
        <div class="form-horizontal">
            @if (ViewDataTyped.ViewDataForAngular.ShowDropdown)
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-6 control-label" style="padding-top: 7px;">
                        <strong class="font15">Showing results for </strong>
                    </div>
                    <div class="col-sm-6">
                        <div id="jurisdictionLoadResultsDropdownContainer"></div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-12 text-center">
                        <strong class="font15">Showing results for @ViewDataTyped.JurisdictionSelectList.Single().Text</strong>
                    </div>
                </div>
            }
            <hr />
            <table class="table loadBasedCalculationControlTable">
                <tfoot>
                <tr>
                    <td class="text-center" colspan="4">
                        <p class="font15"><strong>Load Reduction Achieved</strong>, gallons per year</p>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td class="loadBasedResultsColumn text-center">
                        <div id="viaFullTrashCapture" class="font20 loadBased-lightblue bold">0</div>
                        <p>Via Full Capture</p>
                    </td>
                    <td class="loadBasedResultsColumn text-center">
                        <div id="viaPartialTrashCapture" class="font20 loadBased-lightblue bold">0</div>
                        <p>Via Partial Capture</p>
                    </td>
                    <td class="loadBasedResultsColumn text-center">
                        <div id="viaOVTAScore" class="font20 loadBased-lightblue bold">0</div>
                        <p>Via OVTA Score</p>
                    </td>
                    <td class="loadBasedResultsColumn text-center">
                        <div id="totalAchieved" class="font22 loadBased-blue bold">0</div>
                        <p>Total Achieved</p>
                    </td>
                    <td class="loadBasedResultsColumn text-center" style="border-left: 1px solid rgb(204, 204, 204);">
                        <div id="targetLoadReduction" class="font25 loadBased-red bold">0</div>
                        <p><strong>Target Load Reduction</strong>, gallons per year</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<div class="hiddenDropdownContainer" style="display: none;">
    @Html.DropDownList("jurisdictionLoadResultsDropdown", ViewDataTyped.JurisdictionSelectList, new { @class = "form-control" });
</div>


<script>
    jQuery(document).ready(function () {
        jQuery("#treatmentBMPLegend").appendTo("#ovtaResults .leaflet-control-layers-list").toggle();
        jQuery("#parcelLegend").appendTo("#ovtaResults .leaflet-control-layers-list").toggle();
        jQuery("#treatmentBMPLegendLoadBased").appendTo("#loadResults .leaflet-control-layers-list").toggle();
        jQuery("#treatmentBMPLegendAreaBased").appendTo("#areaResults .leaflet-control-layers-list").toggle();

    })
</script>


<script>
    function createTguDialog()
    {
        var alertHtml =
            "<div class='modal neptune-modal' style='width: 500px; margin:auto;'>" +
                "<div class='modal-dialog neptune-modal-dialog'>" +
                "<div class='modal-content'>" +
                "<div class='modal-header'>" +
                "<button type='button' class='btn btn-xs btn-neptune modal-close-button' data-dismiss='modal'><span>&times</span></button>" +
                "<span class='modal-title'>Refresh TGUs</span>" +
                "</div>" +
                "<div class='modal-body'><p>The application will now recreate the Trash Generating Unit table. This operation will take several minutes to run. Updated data will not be available until the operation is complete. The operation will run in the background and you can continue your work while it runs, but you wil not be notified when it has completed." +
                "<div class='modal-footer'>" +
                "<button type='button' class='btn btn-neptune pull-right' data-dismiss='modal'>Cancel</button>" +
                "<button type='button' class='btn btn-neptune pull-right' style='margin-right:5px;' onclick='postRefresh()' data-dismiss='modal'>Continue</a>" +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>";
        var alertDiv = jQuery(alertHtml);
        alertDiv.modal({ keyboard: true });
        alertDiv.draggable({ handle: ".modal-header" });
    }

    function postRefresh() {
        jQuery.ajax({ url: "@ViewDataTyped.RefreshTguUrl", method: "POST" });
    }
</script>