@using DocumentFormat.OpenXml.Drawing.Diagrams
@using Neptune.Web.Models
@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Areas.Trash.Views.Home.Index

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.GeoServerMap.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/Home/TrashModuleMapController.js")"></script>
    <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: null,
                        AngularViewData:
                            @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
                    };
                });

        jQuery(document).ready(function() {
            jQuery('.selectpicker').selectpicker("val", [1, 2]);
            jQuery('#trashCaptureStatusTypeDropdown').change();
        });
        // ]]>
    </script>

    <style>
        #tcLegend, #ovtaAreaLegend {
            padding-left: 0;
            list-style-type: none;
        }

            #tcLegend img {
                max-height: 50px;
                margin-right: 5px;
            }

        #ovtaAreaLegend img {
            max-height: 25px;
            margin-right: 5px;
            border: 1px solid #ddd;
        }
        #ovtaAreaLegend li {
            padding-bottom: 10px;
        }


    </style>
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="row">
    <div class="col-xs-12">
        <h4>Common Tasks</h4>
    </div>

    <div class="col-xs-12 col-sm-6 launchPadAction">
        <div class="row">
            <div class="col-xs-6 col-md-5 col-lg-4">
                <a href="@ViewDataTyped.BeginOVTAUrl" class="btn btn-neptune launchPadActionButton">Begin OVTA</a>
            </div>
            <div class="col-xs-6 col-md-7 col-lg-8">
                Start here to begin a new On-land Visual Trash Assessment
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 launchPadAction">
        <div class="row">
            <div class="col-xs-6 col-md-5 col-lg-4">
                <a href="@ViewDataTyped.AllOVTAsUrl" class="btn btn-neptune launchPadActionButton">View all OVTAs</a>
            </div>
            <div class="col-xs-6 col-md-7 col-lg-8">
                See an overview grid of all On-land Visual Trash Assessments
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 launchPadAction">
        <div class="row">
            <div class="col-xs-6 col-md-5 col-lg-4">
                <a href="@ViewDataTyped.AddBMPUrl" class="btn btn-neptune launchPadActionButton">Add a BMP</a>
            </div>
            <div class="col-xs-6 col-md-7 col-lg-8">
                Start here to add a new BMP
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 launchPadAction">
        <div class="row">
            <div class="col-xs-6 col-md-5 col-lg-4">
                <a href="@ViewDataTyped.FindBMPUrl" class="btn btn-neptune launchPadActionButton">Record a BMP Visit</a>
            </div>
            <div class="col-xs-6 col-md-7 col-lg-8">
                Locate a BMP and begin a Field Visit for it
            </div>
        </div>
    </div>
</div>



<div ng-app="NeptuneApp" ng-controller="TreatmentBMPMapController">

    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" id="organizationDetailsTabs" style="border-bottom: none;">
                <li>
                    <a href="#areaResults" aria-controls="areaResultsOverview" role="tab" data-toggle="tab" id="areaResultsTab">Area-Based Results</a>
                </li>
                <li>
                    <a href="#loadResults" aria-controls="loadResultsOverview" role="tab" data-toggle="tab" id="loadResultsTab">Load-Based Results</a>
                </li>
                <li class="active">
                    <a href="#ovtaResults" aria-controls="ovtaResultsOverview" role="tab" data-toggle="tab" id="ovtaResultsTab">OVTA Results</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="areaResults">
                    <p class="systemText">Content under development.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="loadResults">
                    <p class="systemText">Content under development.</p>
                </div>
                <div role="tabpanel" class="tab-pane active" id="ovtaResults">
                    <div class="row">
                        <div class="col-sm-12 text-right" style="padding-right: 0;">
                            <span style="font-weight: bold">Filter by Trash Capture Status</span>
                            <select id="trashCaptureStatusTypeDropdown" class="btn btn-sm selectpicker" data-width="auto" multiple="multiple" ng-change="filterMapByTrashCaptureStatus()" ng-model="selectedTrashCaptureStatusIDs"
                                    data-selected-text-format="count>1" data-count-selected-text="{0} of {1} selected" data-actions-box="true">
                                <option ng-repeat="trashCaptureStatusType in AngularViewData.TrashCaptureStatusTypes | orderBy:'TrashCaptureStatusTypeSortOrder'" value="{{trashCaptureStatusType.TrashCaptureStatusTypeID}}">
                                    {{trashCaptureStatusType.TrashCaptureStatusTypeDisplayName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <h3>Selected asset</h3>
                            <div id="mapSummaryResults">
                                <p class="systemText">No asset selected</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7" style="margin-top: 20px;">
                            <div id="mapContainer">
                                <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 650px; margin: 0">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <h3>Legend</h3>
                            <ul id="tcLegend">
                                <li>
                                    <img src="@TrashCaptureStatusType.Full.MapboxMarkerUrlForLegend()" /> Full Trash Capture
                                </li>

                                <li>
                                    <img src="@TrashCaptureStatusType.Partial.MapboxMarkerUrlForLegend()" /> Partial Trash Capture
                                </li>

                                <li>
                                    <img src="@TrashCaptureStatusType.None.MapboxMarkerUrlForLegend()" /> No Trash Capture
                                </li>

                                <li>
                                    <img src="@TrashCaptureStatusType.NotProvided.MapboxMarkerUrlForLegend()" /> Trash Capture Status Not Provided
                                </li>
                            </ul>
                            <label>OVTA Areas by Score</label>
                            <ul id="ovtaAreaLegend">
                                <li><img src="@OnlandVisualTrashAssessmentScore.A.LegendImgUrl()"/> A</li>
                                <li><img src="@OnlandVisualTrashAssessmentScore.B.LegendImgUrl()"/> B</li>
                                <li><img src="@OnlandVisualTrashAssessmentScore.C.LegendImgUrl()"/> C</li>
                                <li><img src="@OnlandVisualTrashAssessmentScore.D.LegendImgUrl()"/> D</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> @*NeptuneApp*@ 