@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Views
@using Neptune.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using Neptune.Web.Common
@using Neptune.Web.Controllers

@inherits Neptune.Web.Views.ManagerDashboard.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Provisional Assessment and Maintenance Records
            </div>
            <div class="panel-body">

                @if (ViewDataTyped.FieldVisitCount > 0)
                {
                    <p>A list of all Field Visits that are in progress or are complete but not yet verified ("provisional") are shown here. Click the View button to see details of the Field Visit and verify the Field Visit Assessment and Maintenance records. You can also select multiple Field Visit records and verify them in bulk through grid.</p>
                    <div>
                        @Html.Raw(DhtmlxGridHtmlHelpers.CreateVerifySelectedModalUrlHtml(ViewDataTyped.GridName, new BulkTagModalDialogForm(SitkaRoute<BulkRowController>
                            .BuildUrlFromExpression(x => x.BulkRowFieldVisits(null)), "Verify all Selected Field Visits", "Verify all Selected Field Visits")))
                    </div>
                    @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                }
                else
                {
                    <p> All Assessment and Maintenance Records Added during a Field Visit have been reviewed and verified. <a href="@ViewDataTyped.FieldVisitsIndexUrl">See all Field Records</a></p>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Provisional BMP Records
            </div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    if (ViewDataTyped.TreatmentBMPsCount > 0)

                    {
                        <p>A list of all BMPs with unverified inventory data is shown here. Click the View button to see details of an individual BMP and verify the BMP inventory data. You can also select multiple BMP records and verify them in bulk through grid.</p>
                        <div>
                            @Html.Raw(DhtmlxGridHtmlHelpers.CreateVerifySelectedModalUrlHtml(ViewDataTyped.ProvisionalTreatmentBMPGridName, new BulkTagModalDialogForm(SitkaRoute<BulkRowController>
                                .BuildUrlFromExpression(x => x.BulkRowTreatmentBMPs(null)), "Verify all Selected BMPs", "Verify all Selected BMPs")))
                        </div>
                        @Html.DhtmlxGrid(ViewDataTyped.ProvisionalTreatmentBMPGridSpec, ViewDataTyped.ProvisionalTreatmentBMPGridName, ViewDataTyped.ProvisionalTreatmentBMPGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                    }
                    else
                    {
                        <p> All provisional BMP Records have been reviewed and verified. <a href="@ViewDataTyped.TreatmentBMPIndexUrl">View all BMP Records</a></p>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Provisional BMP Delineations
            </div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    if (ViewDataTyped.DelineationsCount > 0)

                    {
                        <p>A list of all BMP Delineations with unverified inventory data is shown here. Click the View button to see details of an individual BMP Delineation and verify the BMP Delineation data. You can also select multiple BMP Delineation records and verify them in bulk through grid.</p>
                        <div>
                            @Html.Raw(DhtmlxGridHtmlHelpers.CreateVerifySelectedModalUrlHtml(ViewDataTyped.ProvisionalTreatmentBMPGridName, new BulkTagModalDialogForm(SitkaRoute<BulkRowController>
                                .BuildUrlFromExpression(x => x.BulkRowTreatmentBMPs(null)), "Verify all Selected BMP Delineations", "Verify all Selected BMP Delineations")))
                        </div>
                        @Html.DhtmlxGrid(ViewDataTyped.ProvisionalTreatmentBMPGridSpec, ViewDataTyped.ProvisionalTreatmentBMPGridName, ViewDataTyped.ProvisionalTreatmentBMPGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
                    }
                    else
                    {
                        <p> All provisional BMP Delineation Records have been reviewed and verified. <a href="@ViewDataTyped.TreatmentBMPIndexUrl">View all BMP Delineation Records</a></p>
                    }
                }
            </div>
        </div>
    </div>
</div>