@*-----------------------------------------------------------------------
    <copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Common.HtmlHelperExtensions
@inherits Neptune.Web.Views.TreatmentBMP.ConvertTreatmentBMPType
@model Neptune.Web.Views.TreatmentBMP.ConvertTreatmentBMPTypeViewModel

<p>
    This will convert @ViewDataTyped.TreatmentBMP.TreatmentBMPName from a @ViewDataTyped.TreatmentBMP.TreatmentBMPType.TreatmentBMPTypeName to the selected BMP Type.
    Custom Attributes and Modeling Attributes of this BMP which are not applicable to the new BMP Type will be discarded along with any assessment records.
    This BMP has @ViewDataTyped.TreatmentBMP.TreatmentBMPAssessmentTreatmentBMPs.Count assessment records which will be discarded.
</p>
<p>
    This operation cannot be undone.
</p>

@using (Html.BeginForm())
{
    <div class="formPage">
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 control-label">
                        @Html.LabelWithSugarFor(m => m.TreatmentBMPTypeID)
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        @Html.SearchableDropDownListFor(m => m.TreatmentBMPTypeID, ViewDataTyped.TreatmentBMPTypeSelectListItems)
                        @Html.ValidationMessageFor(m => m.TreatmentBMPTypeID)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
