@using LtInfo.Common.HtmlHelperExtensions

@inherits Neptune.Web.Views.TreatmentBMPImage.Edit
@using (Html.BeginForm())
{
    if (!Model.TreatmentBMPImageSimples.Any())
    {
        <p>No images have been uploaded for this Monitoring Program.</p>
    }
    <div>
        @Html.ValidationSummary()
    </div>
    for (var i = 0; i < Model.TreatmentBMPImageSimples.Count; i++)
    {        
        var treatmentBMPImageSimple = Model.TreatmentBMPImageSimples[i];
        var treatmentBMPImage = ViewDataTyped.TreatmentBMPImagesByID[treatmentBMPImageSimple.TreatmentBMPImageID.GetValueOrDefault()];
        @Html.HiddenFor(m => m.TreatmentBMPImageSimples[i].TreatmentBMPImageID)
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                @ViewDataTyped.TreatmentBMPImagesByID[treatmentBMPImageSimple.TreatmentBMPImageID.GetValueOrDefault()].FileResource.OriginalCompleteFileName
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="@(treatmentBMPImage.FileResource.FileResourceUrlScaledThumbnail(150))" alt="@treatmentBMPImage.Caption"/>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="control-label col-md-3">
                                    @Html.LabelWithRequiredTagFor("Caption")
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaWithMaxLengthFor(m => m.TreatmentBMPImageSimples[i].Caption, new TextAreaForExtensions.TextAreaDimensions(null, 4), null)
                                </div>
                                @Html.ValidationMessageFor(m => m.TreatmentBMPImageSimples[i].Caption)
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">                    
                    <div class="form-group">
                        <div class="control-label col-md-3">
                            @Html.LabelWithRequiredTagFor("Delete Image?")
                        </div>
                        <div class="col-md-9">
                            <div class="radio-inline">
                                <label>
                                    @Html.RadioButtonFor(m => m.TreatmentBMPImageSimples[i].ToDelete, true) Yes
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    @Html.RadioButtonFor(m => m.TreatmentBMPImageSimples[i].ToDelete, false) No
                                </label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.TreatmentBMPImageSimples[i].ToDelete)
                    </div>
                </div>
            </div>
        </div>
    }
}

<script type="text/javascript">
    // <![CDATA[
    jQuery(function()
    {
        // ReSharper disable once UseOfImplicitGlobalInFunctionScope
        jQuery(".imageTooltipOnHover").each(function(i, el)
        {
            // ReSharper disable once UseOfImplicitGlobalInFunctionScope
            var $el = jQuery(el);
            $el.qtip({
                style: {
                    classes: "qtip-light"
                },
                content: {
                    text: "<img src=\"" + $el.data("srcforqtip") + "\" alt=\"" + $el.data("altforqtip") + "\"/>"
                }
            });
        });
    });
    // ]]>
</script>