@using Neptune.Web.Views.TreatmentBMPImage
@using LtInfo.Common.HtmlHelperExtensions
@inherits New

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        <div class="control-label col-xs-12 col-sm-3">
            @Html.LabelWithRequiredTagFor("Image")
        </div>
        <div class="col-xs-12 col-sm-9">
            @Html.EditorFor(m => m.Image)
            @Html.ValidationMessageFor(m => m.Image)
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-xs-12 col-sm-3">
            @Html.LabelWithRequiredTagFor("Caption")
        </div>
        <div class="col-xs-12 col-sm-9">
            @Html.TextAreaWithMaxLengthFor(m => m.Caption, new TextAreaForExtensions.TextAreaDimensions(null, 4), null, new List<string> {"form-control"})
            @Html.ValidationMessageFor(m => m.Caption)
        </div>
    </div>
</div>
}
