@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Views.Shared
@using Neptune.Web.Views.Shared.HRUCharacteristics
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Neptune.EFModels.Entities
@inherits Neptune.Web.Views.RegionalSubbasin.Detail

@section JavascriptAndStylesContent
{
 @{ MapJavascriptIncludes.RenderPartialView(Html); }
}
@section RightOfPageTitle{
}

<div class="row">
    <!-- left-->
    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="panel panelNeptune">
                <div class="panel-heading panelTitle">
                    Basics
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label class="col-sm-5 control-label text-right">Catchment ID</label>
                        <div class="col-sm-7">@ViewDataTyped.RegionalSubbasin.OCSurveyCatchmentID</div>
                    </div>
                    <div class="row">
                        <label class="col-sm-5 control-label text-right">Downstream Catchment ID</label>
                        <div class="col-sm-7">
                            @if (ViewDataTyped.RegionalSubbasin.OCSurveyDownstreamCatchmentID != null)
                            {
                                <a href="@ViewDataTyped.OCSurveyDownstreamCatchmentDetailUrl">@ViewDataTyped.RegionalSubbasin.OCSurveyDownstreamCatchmentID</a>
                            }
                            else
                            {
                                <p class="systemText">This Regional Subbasin is the downstream terminus of its watershed and flows directly to the ocean.</p>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-5 control-label text-right">Drain ID</label>
                        <div class="col-sm-7">@ViewDataTyped.RegionalSubbasin.DrainID</div>
                    </div>
                    <div class="row">
                        <label class="col-sm-5 control-label text-right">Watershed</label>
                        <div class="col-sm-7">@ViewDataTyped.RegionalSubbasin.Watershed</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="panel panelNeptune">
                <div class="panel-heading panelTitle">
                   Land Use Statistics
                </div>
                <div class="panel-body">
                    @if (ViewDataTyped.HasAnyHRUCharacteristics)
                    {
                        HRUCharacteristics.RenderPartialView(Html, ViewDataTyped.HRUCharacteristicsViewData);
                    }
                    else
                    {
                        <p class="systemText">Land Use Statistics have not been calculated for this @FieldDefinitionType.RegionalSubbasin.GetFieldDefinitionLabel()</p>
                    }
                </div>

            </div>
        </div>
    </div>

    <!--right-->
    <div class="col-xs-12 col-sm-6">
        <div class="row">
            <div class="panel panelNeptune">
                <div class="panel-heading panelTitle">
                    Location
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 500px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div></div>


    <script type="text/javascript">
    var map;
    jQuery(document).ready(function() {
        var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
        map = new NeptuneMaps.Map(mapInitJson);
    });
    </script>
