
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Models
@inherits Neptune.Web.Views.TreatmentBMPAssessmentObservationType.ViewPercentageSchemaDetail

<div class="col-xs-12 col-sm-12">
    <div class="panel panelNeptune">
        <div class="panel-heading panelTitle">
            Instructions
        </div>
        <div class="panel-body">
            <div class="row">
                <label class="col-sm-3 control-label text-right">Assessment Instructions</label>
                <div class="col-sm-9">@ViewDataTyped.PercentageSchema.AssessmentDescription</div>
            </div>
            <br/>
            <div class="row">
                <label class="col-sm-3 control-label text-right">Benchmark Instructions</label>
                <div class="col-sm-9">@ViewDataTyped.PercentageSchema.BenchmarkDescription</div>
            </div>
            <br/>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">Threshold Instructions</label>
                    <div class="col-sm-9">@ViewDataTyped.PercentageSchema.ThresholdDescription</div>
                </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12">
    <div class="panel panelNeptune">
        <div class="panel-heading panelTitle">
            Labels and Units
        </div>
        <div class="panel-body">
            <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionType.PropertiesToObserve)</label>
                    <div class="col-sm-9">@ViewDataTyped.PropertiesToObserveFormatted</div>
                </div>
                <div class="row">
                    <label class="col-xs-3 col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionType.MeasurementUnitLabel)</label>
                    <div class="col-xs-9 col-sm-3">@ViewDataTyped.PercentageSchema.MeasurementUnitLabel</div>
                    <label class="col-xs-3 col-sm-3 control-label text-right">@Html.LabelWithSugarFor(FieldDefinitionType.MeasurementUnit)</label>
                    <div class="col-xs-9 col-sm-3">@ViewDataTyped.MeasurementUnitType.MeasurementUnitTypeDisplayName</div>
                </div>                           
        </div>
    </div>
</div>
