@using LtInfo.Common
@using Neptune.Web.Views.Delineation
@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.Delineation.DelineationMap

@section JavascriptAndStylesContent
{
    @{MapJavascriptIncludes.RenderPartialView(Html);}

    <style>
        .selectedAssetControl {
            background: white;
            padding: 7px;
            cursor: none;
            width: 240px;
        }

        .leaflet-bar p {
            font-style: italic;
            margin-bottom: 0;
        }

        .leaflet-bar hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        /* weird gross hack to allow centered controls by overriding bottom-right control placement */
        .leaflet-bottom.leaflet-right {
            right: 50%;
            bottom: 50%;
            transform: translate(50%, 50%);
        }

        .beginDelineationControl {
            background: white;
            padding: 7px;
            cursor: pointer;
            width: 375px;
            height: 340px;
        }

        label.group {
            margin-left: 20px;
            font-weight: normal;
        }

        .cancelDelineate {
            margin-left: 7px;
        }

        .leaflet-bar h4 {
            margin-top: 0;
        }
    </style>
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.GeoServerMap.min.js")" type="text/javascript"></script>
    @* Todo: use a local copy instead of a CDN *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js" type="text/javascript"></script>
    <script>


    </script>

    <script type="text/javascript" src="@Url.Content("~/Views/Delineation/DelineationMap.js")"></script>
}

@{ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData);}

<div class="row">
    <div class="col-sm-12">
        <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 700px;"></div>
    </div>
</div>

<script>
    var delineationMap;
    var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
    var geoserverUrl = @Html.Raw(ViewDataTyped.GeoServerUrl.ToJS());

    // todo: this code is better thought-of as an initialization for delineation map
    jQuery(function() {
        delineationMap = new NeptuneMaps.GeoServerMap(mapInitJson, "Terrain", geoserverUrl);
        L.Util.extend(delineationMap, mapMethods);
        delineationMap.treatmentBMPLayerLookup = new Map();

        // ensure that wms layers fetched through the GeoServerMap interface are always above all other layers
        var networkCatchmentPane = delineationMap.map.createPane("networkCatchmentPane");
        networkCatchmentPane.style.zIndex = 10000;
        delineationMap.map.getPane("markerPane").style.zIndex = 10001;
        
        window.stormwaterNetworkLayer = delineationMap.addEsriDynamicLayer("https://ocgis.com/arcpub/rest/services/Flood/Stormwater_Network/MapServer/",
            "Stormwater Network");

        //window.networkCatchmentLayer = delineationMap.addWmsLayerWithParams("OCStormwater:NetworkCatchments", "Network Catchments",
        //    {
        //        pane: "networkCatchmentPane"
        //    });

        window.networkCatchmentLayer =
            delineationMap.addWmsLayerWithSelectFeatureByWfs("OCStormwater:NetworkCatchments",
                "Network Catchments",
            { pane: "networkCatchmentPane" }, function (json) {console.log(json)});

        delineationMap.addWmsLayerWithParams("OCStormwater:Parcels",
            "All Parcels",
            {
                styles: "parcel_alt",
                pane: "overlayPane"
            });
        delineationMap.initializeTreatmentBMPClusteredLayer(mapInitJson);
        window.networkCatchmentLayer.bringToFront();

        L.control.watermark({ position: 'bottomleft' }).addTo(delineationMap.map);
        delineationMap.selectedAssetControl = L.control.delineationSelectedAsset({ position: 'topleft' });
        delineationMap.selectedAssetControl.addTo(delineationMap.map);

        delineationMap.hookupDeselectOnClick();

        window.delineationMap = delineationMap;

        if (@ViewDataTyped.IsInitialTreatmentBMPProvided.ToJS()) {
            @* ReSharper disable once PossibleNullReferenceException *@
                delineationMap.preselectTreatmentBMP(@ViewDataTyped.InitialTreatmentBMPID);
            }
        });

</script>
