@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using Neptune.Web.Views.Delineation
@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.Delineation.DelineationMap
@section JavascriptAndStylesContent
{
    @{MapJavascriptIncludes.RenderPartialView(Html);}

    <link href="@Url.Content("~/Views/Delineation/DelineationMap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-toggle/bootstrap-toggle.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.GeoServerMap.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/proj4js/proj4.js")" type="text/javascript"></script>

    @*todo: use a custom build that only has the stuff we need*@
    <script src=@("https://npmcdn.com/@turf/turf/turf.min.js")></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css" />

    <script type="text/javascript" src="@Url.Content("~/Content/spinjs/spin.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/leaflet/leaflet.spin/leaflet.spin.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Views/Delineation/DelineationMapControls.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Views/Delineation/DelineationMap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Views/Delineation/DelineationMap.AutoDelineate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap-toggle/bootstrap-toggle.min.js")"></script>

}


@section RightOfPageTitle
{
    @if (ViewDataTyped.HasManagePermission)
    {
        <a class="btn btn-neptune" href="@ViewDataTyped.BulkUploadTreatmentBMPDelineationsUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus") @BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus") Bulk Upload Treatment BMP Delineations</a>
    }
}

@{ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData);}

<div class="row">
    <div class="col-sm-12">
        <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 700px;"></div>
        <p class="systemText text-danger" id="warnInternetExplorer" style="display: none;">Your browser might not support all features of this map. Please switch to Google Chrome or Mozilla Firefox for the best experience.</p>
    </div>
</div>

@{ DelineationMapTemplates.RenderPartialView(Html);}
<script>
    var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
    var config = @Html.Raw(JObject.FromObject(ViewDataTyped.DelineationMapConfig).ToString(Formatting.None));

    var geoserverUrl = @Html.Raw(ViewDataTyped.GeoServerUrl.ToJS());


    jQuery(function () {
        if (jQuery("<template></template>")[0] instanceof HTMLUnknownElement) {
            jQuery("#warnInternetExplorer").show();
        }
        window.delineationMap = new NeptuneMaps.DelineationMap(mapInitJson, "Terrain", geoserverUrl, config);

        if (@ViewDataTyped.IsInitialTreatmentBMPProvided.ToJS()) {
            @* ReSharper disable once PossibleNullReferenceException *@
            window.delineationMap.preselectTreatmentBMP(@ViewDataTyped.InitialTreatmentBMPID);
        }
    });
</script>