@*-----------------------------------------------------------------------
    <copyright file="Runoff.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using System.Web.Mvc.Html
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@inherits Neptune.Web.Views.TreatmentBMPBenchmarkAndThreshold.DiscreteThreshold

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <h4>Benchmark</h4>
                <p>@ViewDataTyped.BenchmarkDescription</p>
                <div class="systemText">
                    @ViewDataTyped.DefaultBenchmarkText
                </div>
                <div class="form-group">
                    <div class="col-xs-2 col-sm-3 control-label">
                        @Html.LabelWithRequiredTagFor(ViewDataTyped.BenchmarkMeasurementUnitLabel)
                    </div>
                    <div class="col-xs-10 col-sm-5">
                        <div class="input-group">
                            <input type="number" name="@Html.NameFor(m => m.BenchmarkValue)" placeholder="@ViewDataTyped.DefaultBenchmarkPlaceholder" style="width: 100%; text-align: right" class="form-control" aria-describedby="benchmarkUnit" />
                            <span class="input-group-addon" id="benchmarkUnit">@ViewDataTyped.BenchmarkMeasurementUnitTypeDisplayName</span>
                        </div>
                        @Html.ValidationMessageFor(m => m.BenchmarkValue)
                    </div>
                </div>
                <h4>Threshold</h4>
                <p>@ViewDataTyped.ThresholdDescription</p>
                <div class="systemText">
                     @ViewDataTyped.DefaultThresholdText
                </div>
                <div class="form-group">
                    <div class="col-xs-2 col-sm-3 control-label">
                        @Html.LabelWithRequiredTagFor(ViewDataTyped.ThresholdMeasurementUnitLabel)
                    </div>
                    <div class="col-xs-10 col-sm-5">
                        <div class="input-group">
                            <input type="number" name="@Html.NameFor(m => m.ThresholdValue)" placeholder="@ViewDataTyped.DefaultThresholdPlaceholder" style="width: 100%; text-align: right" class="form-control" aria-describedby="thresholdUnit" />
                            <span class="input-group-addon" id="thresholdUnit">@ViewDataTyped.ThresholdMeasurementUnitTypeDisplayName</span>
                        </div>
                        @Html.ValidationMessageFor(m => m.ThresholdValue)
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <hr />
        <div class="col-xs-12 col-sm-2">
            <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
        </div>
        <div class="col-xs-12 col-sm-10" style="text-align: right">
            <button type="submit" class="btn btn-neptune" value="false" name="@Html.NameFor(x => x.AutoAdvance)">Save</button>
            <button type="submit" class="btn btn-neptune" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Save &amp; Continue</button>
        </div>
        @Html.HiddenFor(m => m.TreatmentBMPID)
        @Html.HiddenFor(m => m.ObservationTypeID)
    </div> 
}

<script type="text/javascript">
    // <![CDATA[

    jQuery(document).ready(function () {        
        HookupCheckIfFormIsDirtyNoDisable(undefined);
    });
    // ]]>
</script>
