@*-----------------------------------------------------------------------
<copyright file="ImageGallery.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@inherits Neptune.Web.Views.Shared.ImageCarousel
<style>
    #imageCarousel, #imageCarousel .carousel-inner .item {
        height: @String.Format("{0}px", ViewDataTyped.Height);
    }

    #imageCarousel .carousel-inner .item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #imageCarousel .carousel-caption {
        width: 100%;
        left: 0;
        right: 0;
        padding: 20px 30px 40px 30px;
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.6);
                      
    }
</style>

@* ReSharper disable once UnknownCssClass -- slide on carousel is used to animate the transition, not recognized by inspector *@
@if (ViewDataTyped.CarouselImages.Count != 0)
{
    <div id="imageCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (var i = 0; i < ViewDataTyped.CarouselImages.Count; i++)
            {
                <li data-target="#imageCarousel" data-slide-to="@(i)" class="@(i == 0 ? "active" : null)"></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @* ReSharper disable once UnknownCssClass - used in jQuery selector *@
            @for (var i = 0; i < ViewDataTyped.CarouselImages.Count; i++)
            {
                var carouselImage = ViewDataTyped.CarouselImages[i];
                <a href="@ViewDataTyped.DisplayFileResourceUrl.ParameterReplace(carouselImage.FileResource.FileResourceGUID.ToString())" class="item gallery@(i == 0 ? " active" : null)" style="background-image: url('@carouselImage.FileResource.GetFileResourceUrl()')"
                   data-caption="@carouselImage.Caption" title="@carouselImage.Caption" rel="group1">
                    <div class="carousel-caption">
                        @carouselImage.Caption
                    </div>
                </a>
            }
        </div>
        <a href="#imageCarousel" class="carousel-control left" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#imageCarousel" class="carousel-control right" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
else
{
    <p class="systemText">No images have been uploaded</p>
}