@*-----------------------------------------------------------------------
    <copyright file="NeptuneNavBar.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Views.Shared
@inherits NeptuneNavBar

<div style="margin-right: 15px;">
    <style>

    </style>
    <nav class="navbar navbar-light">
        <div>
            <ul class="nav navbar-nav">
                <li class="dropdown" style="display: inline-block;">
                    <a href="#" class="dropdown-toggle headerImage noHighlight" data-toggle="dropdown" role="button">
                        <img class="headerLogo" src="/Content/img/OCStormwater/banner_logo.png" style="width: 318px; display: inline-block;" />
                        @if (ViewDataTyped.ShowLinkToArea)
                        {
                            <div id="siteExplorerAreaLink" >
                                @ViewDataTyped.NeptuneArea.NeptuneAreaDisplayName
                            </div>
                        }
                        <span id="dropdownMenuIcon" class="glyphicon glyphicon-menu-down" style="padding-right: 5px; padding-left: 5px;"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="siteExplorerAreaLink" id="siteExplorerMenu">
                        <li><a href="@ViewDataTyped.HomeUrl">OC Stormwater Tools Home</a></li>
                        <li><hr /></li>
                        @foreach (var neptuneArea in ViewDataTyped.NeptuneAreas)
                        {
                            if (neptuneArea.IsAreaVisibleToPerson(ViewDataTyped.CurrentPerson))
                            {
                                <li>
                                    <a href="@neptuneArea.NeptuneAreaName" title="">
                                        <img src="@neptuneArea.GetIconUrl()" style="height: 35px; padding-right: 15px" />
                                        @neptuneArea.NeptuneAreaDisplayName
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            </ul>


                <ul class="nav navbar-nav navbar-right" id="userActionsMenu" style="margin-left: 5px;">
                @if (!User.Identity.IsAuthenticated || ViewDataTyped.CurrentPerson == null)
                    {
                        <li class="topRightMenuParent"><a class="topRightMenu" href="@ViewDataTyped.LogInUrl">Log In</a></li>
                    }
                @if (User.Identity.IsAuthenticated && ViewDataTyped.CurrentPerson != null)
                    {
                        <li class="topRightMenuParent dropdown">
                            <a class="dropdown-toggle topRightMenu noHighlight" id="dropdownMenuUser" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Welcome&nbsp;&nbsp;@ViewDataTyped.CurrentPerson.GetFullNameFirstLast()
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuUser">
                                <li><a href="@ViewDataTyped.CurrentPersonDetailUrl">Account</a></li>
                                <li><a href="@ViewDataTyped.LogOutUrl">Log Out</a></li>
                            </ul>
                        </li>
                    }
                    <li class="topRightMenuParent"><a class="topRightMenu" href="@ViewDataTyped.AboutUrl">About</a></li>
                    @foreach (var topLevelMenu in ViewDataTyped.TopLevelNeptuneMenus)
                    {
                        @topLevelMenu.RenderMenu()
                    }
                </ul>

        </div>
    </nav>
</div>