@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.WebMvc.Views.Shared
@using Neptune.WebMvc.Common.BootstrapWrappers
@using Neptune.Common
@using Neptune.WebMvc.Common
@inherits Neptune.WebMvc.Views.DataHub.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <style>
        #tcLegend, #ovtaAreaLegend {
            padding-left: 0;
            list-style-type: none;
        }
        .sidebar {
            background-color: #EEEEEE;
            padding: 1rem 2rem 2rem 2rem;
            h4 {
                color: #000;
            }
        }
        .tab-pane {
            h3 {
                padding: 0 1rem 0 0;
            }
            a {
                margin: 0 0.5rem 0 0;
            }
        }
    </style>
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

@section RightOfPageTitle{
    
}

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs" id="organizationDetailsTabs" style="border-bottom: none;">
            <li class="active">
                <a href="#bmpsAndDelineations" aria-controls="areaResultsOverview" role="tab" data-toggle="tab" id="areaResultsTab">BMPs and Delineations</a>
            </li>
            <li>
                <a href="#wqmps" aria-controls="loadResultsOverview" role="tab" data-toggle="tab" id="loadResultsTab">WQMPs</a>
            </li>
            <li>
                <a href="#trashModule" aria-controls="ovtaResultsOverview" role="tab" data-toggle="tab" id="ovtaResultsTab">Trash Module</a>
            </li>
            <li>
                <a href="#parcels" aria-controls="ovtaResultsOverview" role="tab" data-toggle="tab" id="ovtaResultsTab">Parcels</a>
            </li>
            <li>
                <a href="#countyIntegration" aria-controls="ovtaResultsOverview" role="tab" data-toggle="tab" id="ovtaResultsTab">County GIS Integration</a>
            </li>
            <li>
                <a href="#webServices" aria-controls="ovtaResultsOverview" role="tab" data-toggle="tab" id="ovtaResultsTab">Web Services</a>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active " id="bmpsAndDelineations">
                <div class="col-md-9">
                    <h3>Treatment BMPs</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.TreatmentBMPPage);
                    }
                    <a href="@ViewDataTyped.UploadTreatmentBMPUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    <a href="@ViewDataTyped.DownloadTreatmentBMPUrl" class="btn btn-neptune" disabled>@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download</a>
                
                    <h3>Delineations</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.DelineationPage);
                    }
                    <a href="@ViewDataTyped.UploadDelineationUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    <a href="@ViewDataTyped.DownloadDelineationUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download</a>
                    <h3>Field Visits</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.FieldTripPage);
                    }
                    <a href="@ViewDataTyped.UploadFieldTripUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                </div>
                <div class="col-md-3 sidebar">
                    <h4>Quick Links:</h4>
                    Tabular data (.csv) can be downloaded from lists throughout the system:
                    <ul>
                        <li>BMP List</li>
                        <li>Field Visits</li>
                        <li>Modeling Attributes</li>
                        <li>BMP Map</li>
                        <li>BMP Types</li>
                    </ul>
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane " id="wqmps">
                <div class="col-md-9">
                    <h3>Water Quality Management Plans</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.WQMPPage);
                    }
                    <a href="@ViewDataTyped.UploadWQMPUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>

                    <h3>Simplified BMPs</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.SimplifiedBMPPage);
                    }
                    <a href="@ViewDataTyped.UploadSimplifiedBMPUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    <h3>Water Quality Management Plan Locations</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.WQMPLocationPage);
                    }
                    <a href="@ViewDataTyped.UploadWQMPLocationsUrl" class="btn btn-neptune" disabled>@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                </div>
                <div class="col-md-3 sidebar">
                    <h4>Quick Links:</h4>
                    Tabular data (.csv) can be downloaded from lists throughout the system:
                    <ul>
                        <li>BMP List</li>
                        <li>Field Visits</li>
                        <li>Modeling Attributes</li>
                        <li>BMP Map</li>
                        <li>BMP Types</li>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="trashModule">
                <div class="col-md-9">
                    <h3>Assessment Areas</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.AssessmentAreaPage);
                    }
                    @* <a href="@ViewDataTyped.UploadTreatmentBMPUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a> *@
                    <a href="@ViewDataTyped.DownloadAssessmentAreasUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download</a>

                    <h3>On-land Visual Trash Assessments (OVTAs)</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.OVTAsPage);
                    }
                    <a href="@ViewDataTyped.UploadOVTAUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    @* <a href="@ViewDataTyped.DownloadDelineationUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download</a> *@
                    <h3>Land Use Blocks</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.LandUseBlocksPage);
                    }
                    <a href="@ViewDataTyped.UploadLandUseBlocksUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    <a href="@ViewDataTyped.DownloadLandUseBlocksUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download</a>
                </div>
                <div class="col-md-3 sidebar">
                    <h4>Quick Links:</h4>
                    Tabular data (.csv) can be downloaded from lists throughout the system:
                    <ul>
                        <li>OVTA List</li>
                        <li>Trash Generating Units Audit List</li>
                        <li>Land Use Blocks</li>
                    </ul>
                    <h4>Tip:</h4>
                    Go to the BMP and WQMP tabs to update asset inventories and set trash capture status.
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="parcels">
                <div class="col-md-9">
                    <h3>Assessment Areas</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.TreatmentBMPPage);
                    }
                    <a href="@ViewDataTyped.UploadTreatmentBMPUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    <a href="@ViewDataTyped.DownloadTreatmentBMPUrl" class="btn btn-neptune" disabled>@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download</a>

                    <h3>On-land Visual Trash Assessments (OVTAs)</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.DelineationPage);
                    }
                    <a href="@ViewDataTyped.UploadDelineationUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    <a href="@ViewDataTyped.DownloadDelineationUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download</a>
                    <h3>Land Use Blocks</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.FieldTripPage);
                    }
                    <a href="@ViewDataTyped.UploadFieldTripUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                </div>
                <div class="col-md-3 sidebar">
                    <h4>Quick Links:</h4>
                    Tabular data (.csv) can be downloaded from lists throughout the system:
                    <ul>
                        <li>OVTA List</li>
                        <li>Trash Generating Units Audit List</li>
                        <li>Land Use Blocks</li>
                    </ul>
                    <h4>Tip:</h4>
                    Go to the BMP and WQMP tabs to update asset inventories and set trash capture status.
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="countyIntegration">
                <div class="col-md-9">
                    <h3>Regional Subbasins</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.TreatmentBMPPage);
                    }
                    <a href="@ViewDataTyped.UploadTreatmentBMPUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    <a href="@ViewDataTyped.DownloadTreatmentBMPUrl" class="btn btn-neptune" disabled>@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download</a>

                    <h3>Land Use Statistics</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.DelineationPage);
                    }
                    <a href="@ViewDataTyped.UploadDelineationUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    <a href="@ViewDataTyped.DownloadDelineationUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-download") Download</a>
                    <h3>Model Basins</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.FieldTripPage);
                    }
                    <a href="@ViewDataTyped.UploadFieldTripUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                    <h3>Precipitation Zones</h3>
                    @{
                        ViewPageContent.RenderPartialView(Html, ViewDataTyped.FieldTripPage);
                    }
                    <a href="@ViewDataTyped.UploadFieldTripUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-upload") Upload</a>
                </div>
                <div class="col-md-3 sidebar">
                    <h4>Quick Links:</h4>
                    Tabular data (.csv) can be downloaded from lists throughout the system:
                    <ul>
                        <li>RSB List</li>
                        <li>RSB Map</li>
                        <li>HRU Characteristics List</li>
                    </ul>
                    <h4>Tip:</h4>
                    Coming soon...
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="webServices">
                <p>This document documents the web connections made in the demonstration PowerBI file <a href="~/Content/PowerBI/OCST_PowerBI_Demo_2020_03_23.zip" download>here</a>, and includes a description of how the connection is used by the file to inform the summary report dashboards.
                    This information and the web addresses referenced herein may change in the coming months since this service is under active and rapid development.
                </p>

                <h3>Tabular Services</h3>
                <table style="border: 0; font-size:14px" class="table table-condensed table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Short Description / Simple Use Case / URL</th>
                    </tr>
                    @foreach (var doc in ViewDataTyped.ServiceDocumentationList)
                    {
                        <tr>
                            <td class="term">@doc.Name</td>
                            <td>
                                <strong>@doc.DescriptionHeader</strong>
                                <div style="margin-top: 5px; margin-bottom: 5px; font-size: 11px">
                                    @{ var url = doc.GetReplacedUrl(ViewDataTyped.WebServiceAccessToken);}
                                    URL: <a href="@url" target="_blank">@url</a>
                                </div>
                                @{ var parameters = doc.GetParameters(ViewDataTyped.WebServiceAccessToken);}
                                <i>Parameters: @(!string.IsNullOrWhiteSpace(parameters) ? parameters : ViewUtilities.NaString)</i>
                                <br /><br />
                                @doc.Description.ToHTMLFormattedString()

                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>