@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using Neptune.Web.Models
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Security
@inherits Neptune.Web.Views.TreatmentBMPType.Detail
@section JavascriptAndStylesContent
{
}

@section RightOfPageTitle
{
    @if (new NeptuneEditFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
    {
        <a class="btn btn-neptune headerButtonText treatmentBMPTypeButton" href="@ViewDataTyped.TreatmentBMPType.GetEditUrl()">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit") Edit Treatment BMP Type</a>
    }
}

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Basics
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.Label("Name")</label>
                    <div class="col-sm-9">@ViewDataTyped.TreatmentBMPType.TreatmentBMPTypeName</div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label text-right">@Html.Label("Description")</label>
                    <div class="col-sm-9">@ViewDataTyped.TreatmentBMPType.TreatmentBMPTypeDescription</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Applicable Observation Types
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table">
                            <tr>
                                <th class="text-left">@Html.LabelWithSugarFor(FieldDefinition.ObservationType)</th>
                                <th class="text-left">@Html.LabelWithSugarFor(FieldDefinition.ObservationCollectionMethod)</th>
                                <th class="text-right">@Html.LabelWithSugarFor(FieldDefinition.DefaultBenchmarkValue)</th>
                                <th class="text-right">@Html.LabelWithSugarFor(FieldDefinition.DefaultThresholdValue)</th>
                                <th class="text-right">@Html.LabelWithSugarFor(FieldDefinition.AssessmentScoreWeight)</th>
                            </tr>
                            <tbody>
                                @foreach (var treatmentBMPTypeObservationType in ViewDataTyped.TreatmentBMPType.TreatmentBMPTypeObservationTypes)
                                {
                                    <tr>
                                        <td class="text-left">@treatmentBMPTypeObservationType.ObservationType.GetDisplayNameAsUrl()</td>
                                        <td class="text-left">@treatmentBMPTypeObservationType.ObservationType.ObservationTypeSpecification.ObservationTypeCollectionMethod.ObservationTypeCollectionMethodDisplayName</td>
                                        <td class="text-right">@treatmentBMPTypeObservationType.ObservationType.GetFormattedBenchmarkValue(@treatmentBMPTypeObservationType.DefaultBenchmarkValue)</td>
                                        <td class="text-right">@treatmentBMPTypeObservationType.ObservationType.GetFormattedThresholdValue(treatmentBMPTypeObservationType.DefaultThresholdValue, treatmentBMPTypeObservationType.DefaultBenchmarkValue)</td>
                                        <td class="text-right">@(treatmentBMPTypeObservationType.AssessmentScoreWeight.HasValue ? treatmentBMPTypeObservationType.AssessmentScoreWeight.Value.ToStringShortPercent() : "pass/fail")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
