@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Models
@using Neptune.Web.Views.Shared
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.TreatmentBMPType.Edit

<script type="text/javascript" src="@Url.Content("~/Views/TreatmentBMPType/EditTreatmentBMPTypeController.js")"></script>
<script type="text/javascript">
    // <![CDATA[
    angular.module("NeptuneApp")
        .factory("angularModelAndViewData",
            function()
            {
                return {
                    AngularModel: @Html.Raw(JObject.FromObject(Model)),
                    AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular))
                };
            });

    // ]]>
</script>
<style>
    .input-group input {
        min-width: 60px;
    }
</style>

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewInstructionsNeptunePage); }


<form method="POST" action="@ViewDataTyped.SubmitUrl" ng-app="NeptuneApp" id="EditTreatmentBMPTypeControllerApp" ng-controller="EditTreatmentBMPTypeController" ng-submit="submit()" name="treatmentBMPTypeForm">
    <div class="formPage">
        <div class="row">
            <div class="col-xs-12">
                <div class="validationError">
                    @Html.ValidationSummary()
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.TreatmentBMPTypeName)
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(m => m.TreatmentBMPTypeName, new { @class = "form-control", style = "width:100%" })
                            @Html.ValidationMessageFor(m => m.TreatmentBMPTypeName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.TreatmentBMPTypeDescription)
                        </div>
                        <div class="col-sm-9">
                            @Html.TextAreaWithMaxLengthFor(m => m.TreatmentBMPTypeDescription, new TextAreaForExtensions.TextAreaDimensions(null, 4), null, new List<string>() { "form-control" })
                            @Html.ValidationMessageFor(m => m.TreatmentBMPTypeName)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.Label("Observation Type to Add")
                        </div>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <select ng-model="ObservationTypeToAdd"
                                        class="form-control"
                                        data-title="Select an Observation Type to Add"
                                        style="width: 100%"
                                        ng-options="TreatmentBMPAssessmentObservationType as TreatmentBMPAssessmentObservationType.TreatmentBMPAssessmentObservationTypeName for TreatmentBMPAssessmentObservationType in filteredObservationTypes() track by TreatmentBMPAssessmentObservationType.TreatmentBMPAssessmentObservationTypeID">
                                    <option value="" disabled selected>Select an Observation Type to Add</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-neptune" type="button" ng-click="addObservationTypeRow()">
                                        <span class="glyphicon glyphicon-plus"></span> Add
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow-x: auto" class="form-inline">
            <table class="table observationTypeTable" style="margin-top: 20px; overflow: scroll" ng-show="AngularModel.TreatmentBMPTypeObservationTypeSimples.length > 0">
                <tr>
                    <th></th>
                    <th class="text-left">@Html.LabelWithSugarFor(FieldDefinition.TreatmentBMPAssessmentObservationType)</th>
                    <th class="text-left">@Html.LabelWithSugarFor(FieldDefinition.ObservationCollectionMethod)</th>
                    <th class="text-right">@Html.LabelWithSugarFor(FieldDefinition.DefaultBenchmarkValue)</th>
                    <th class="text-right">@Html.LabelWithSugarFor(FieldDefinition.DefaultThresholdValue)</th>
                    <th class="text-right">@Html.LabelWithSugarFor(FieldDefinition.AssessmentScoreWeight)</th>
                    <th style="width: 32px"></th>
                    <th class="text-left">@Html.LabelWithSugarFor(FieldDefinition.AssessmentFailsIfObservationFails) </th>
                </tr>
                <tr ng-repeat="treatmentBMPTypeObservationTypeSimple in AngularModel.TreatmentBMPTypeObservationTypeSimples | orderBy:[getObservationTypeName]">
                    <td>
                        <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteObservationTypeRow(treatmentBMPTypeObservationTypeSimple)" style="cursor: pointer"></span>
                    </td>
                    <td class="text-left" ng-bind="getObservationTypeName(treatmentBMPTypeObservationTypeSimple)"></td>
                    <td class="text-left" ng-bind="getObservationCollectionMethodTypeName(treatmentBMPTypeObservationTypeSimple)"></td>

                    @*if observation type is not pass/fail*@
                    <td ng-if="observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)" class="text-right">
                        <div class="input-group">
                            <input type="number" ng-model="treatmentBMPTypeObservationTypeSimple.DefaultBenchmarkValue" class="form-control" aria-describedby="benchmarkUnit{{$index}}" />
                            <span class="input-group-addon" id="benchmarkUnit{{$index}}" ng-bind="getObservationTypeBenchmarkUnit(treatmentBMPTypeObservationTypeSimple)"></span>
                        </div>
                    </td>
                    <td ng-if="observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)" class="text-right">
                        <div class="input-group">
                            <span ng-if="observationTypeTargetIsSweetSpot(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)" class="input-group-addon">+/-</span>
                            <input type="number" ng-model="treatmentBMPTypeObservationTypeSimple.DefaultThresholdValue" class="form-control" aria-describedby="thresholdUnit{{$index}}" />
                            <span class="input-group-addon" id="thresholdUnit{{$index}}" ng-bind="getObservationTypeThresholdUnit(treatmentBMPTypeObservationTypeSimple)"></span>
                        </div>
                    </td>
                    <td ng-if="observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)" class="text-right">
                        <div class="input-group">
                            <input type="number" ng-model="treatmentBMPTypeObservationTypeSimple.AssessmentScoreWeight" class="form-control" aria-describedby="assessmentWeight{{$index}}" />
                            <span class="input-group-addon" id="assessmentWeight{{$index}}">%</span>
                        </div>
                    </td>
                    <td ng-if="observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)"></td>
                    <td ng-if="observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)"></td>


                    @*if observation type is pass/fail*@
                    <td ng-if="!observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)" class="text-right"></td>
                    <td ng-if="!observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)" class="text-right"></td>
                    <td ng-if="!observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)" class="text-right">
                        <div class="input-group">
                            <input type="number" ng-model="treatmentBMPTypeObservationTypeSimple.AssessmentScoreWeight" ng-disabled="treatmentBMPTypeObservationTypeSimple.OverrideAssessmentScoreIfFailing" class="form-control" aria-describedby="assessmentWeight{{$index}}" />
                            <span class="input-group-addon" id="assessmentWeight{{$index}}">%</span>
                        </div>
                    </td>
                    <td ng-if="!observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)" class="text-center">
                        @Html.Label("or")
                    </td>
                    <td ng-if="!observationTypeHasBenchmarkAndThresholds(treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID)" class="text-center">
                        <input ng-model="treatmentBMPTypeObservationTypeSimple.OverrideAssessmentScoreIfFailing" ng-change="checkOverrideIfFailing(treatmentBMPTypeObservationTypeSimple)" type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <th colspan="5">Total</th>
                    <th style="text-align: right"><span ng-bind="getWeightTotal()"></span>%</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>

        <div ng-repeat="treatmentBMPTypeObservationTypeSimple in AngularModel.TreatmentBMPTypeObservationTypeSimples | orderBy:[getObservationTypeName]">
            <input type="hidden" name="@Html.NameFor(x => x.TreatmentBMPTypeObservationTypeSimples[0].TreatmentBMPAssessmentObservationTypeID).ToString().Replace("0", "{{$index}}")" value="{{treatmentBMPTypeObservationTypeSimple.TreatmentBMPAssessmentObservationTypeID}}" />
            <input type="hidden" name="@Html.NameFor(x => x.TreatmentBMPTypeObservationTypeSimples[0].DefaultBenchmarkValue).ToString().Replace("0", "{{$index}}")" value="{{treatmentBMPTypeObservationTypeSimple.DefaultBenchmarkValue}}" />
            <input type="hidden" name="@Html.NameFor(x => x.TreatmentBMPTypeObservationTypeSimples[0].DefaultThresholdValue).ToString().Replace("0", "{{$index}}")" value="{{treatmentBMPTypeObservationTypeSimple.DefaultThresholdValue}}" />
            <input type="hidden" name="@Html.NameFor(x => x.TreatmentBMPTypeObservationTypeSimples[0].AssessmentScoreWeight).ToString().Replace("0", "{{$index}}")" value="{{treatmentBMPTypeObservationTypeSimple.AssessmentScoreWeight}}" />
            <input type="hidden" name="@Html.NameFor(x => x.TreatmentBMPTypeObservationTypeSimples[0].OverrideAssessmentScoreIfFailing).ToString().Replace("0", "{{$index}}")" value="{{treatmentBMPTypeObservationTypeSimple.OverrideAssessmentScoreIfFailing}}" />
        </div>
    
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.Label("BMP Attribute Type to Add")
                        </div>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <select ng-model="TreatmentBMPAttributeTypeToAdd"
                                        class="form-control"
                                        data-title="Select an Attribute Type to Add"
                                        style="width: 100%"
                                        ng-options="treatmentBMPAttributeType as treatmentBMPAttributeType.TreatmentBMPAttributeTypeName for treatmentBMPAttributeType in filteredTreatmentBMPAttributeTypes() track by treatmentBMPAttributeType.TreatmentBMPAttributeTypeID">
                                    <option value="" disabled selected>Select a BMP Attribute Type to Add</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-neptune" type="button" ng-click="addTreatmentBMPAttributeTypeRow()">
                                        <span class="glyphicon glyphicon-plus"></span> Add
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow-x: auto" class="form-inline">
            <table class="table observationTypeTable" style="margin-top: 20px; overflow: scroll" ng-show="AngularModel.TreatmentBMPTypeAttributeTypeSimples.length > 0">
                <tr>
                    <th></th>
                    <th class="text-left">@Html.LabelWithSugarFor(FieldDefinition.TreatmentBMPAttributeType)</th>
                    <th class="text-left">@Html.Label("Purpose")</th>
                    <th class="text-left">@Html.LabelWithSugarFor(FieldDefinition.TreatmentBMPAttributeDataType)</th>
                    <th class="text-left">@Html.LabelWithSugarFor(FieldDefinition.MeasurementUnit)</th>
                    <th class="text-center">@Html.Label("Required?")</th>
                    <th class="text-left">@Html.Label("Description")</th>
                </tr>
                <tr ng-repeat="treatmentBMPTypeAttributeTypeSimple in AngularModel.TreatmentBMPTypeAttributeTypeSimples | orderBy:[getTreatmentBMPAttributeTypeName]">
                    <td>
                        <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteTreatmentBMPAttributeTypeRow(treatmentBMPTypeAttributeTypeSimple)" style="cursor: pointer"></span>
                    </td>
                    <td class="text-left" ng-bind="getTreatmentBMPAttributeTypeName(treatmentBMPTypeAttributeTypeSimple)"></td>
                    <td class="text-left" ng-bind="getTreatmentBMPAttributeTypePurpose(treatmentBMPTypeAttributeTypeSimple)"></td>
                    <td class="text-left" ng-bind="getTreatmentBMPAttributeTypeDataTypeName(treatmentBMPTypeAttributeTypeSimple)"></td>
                    <td class="text-left" ng-bind="getTreatmentBMPAttributeTypeMeasurementUnitName(treatmentBMPTypeAttributeTypeSimple)"></td>
                    <td class="text-center" ng-bind="getTreatmentBMPAttributeTypeIsRequired(treatmentBMPTypeAttributeTypeSimple)"></td>
                    <td class="text-left" ng-bind="getTreatmentBMPAttributeTypeDescription(treatmentBMPTypeAttributeTypeSimple)"></td>
                </tr>
            </table>
        </div>

        <div ng-repeat="treatmentBMPTypeAttributeTypeSimple in AngularModel.TreatmentBMPTypeAttributeTypeSimples | orderBy:[getTreatmentBMPAttributeTypeName]">
            <input type="hidden" name="@Html.NameFor(x => x.TreatmentBMPTypeAttributeTypeSimples[0].TreatmentBMPAttributeTypeID).ToString().Replace("0", "{{$index}}")" value="{{treatmentBMPTypeAttributeTypeSimple.TreatmentBMPAttributeTypeID}}" />
        </div>

    </div>
    <div class="row">
        <hr />
        <div class="col-xs-12 col-sm-2">
            <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
        </div>
        <div class="col-xs-12 col-sm-10" style="text-align: right">
            <button type="submit" class="btn btn-neptune">Save</button>
            <a href="@ViewDataTyped.TreatmentBMPTypeIndexUrl" class="btn btn-neptune">Cancel</a>
        </div>
        @Html.HiddenFor(m => m.TreatmentBMPTypeID)
    </div>
</form>
