@*-----------------------------------------------------------------------
<copyright file="EditFundingEventFundingSources.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Neptune.EFModels.Entities
@using Neptune.Web.Common
@using Neptune.Web.Common.HtmlHelperExtensions
@inherits Neptune.Web.Views.FundingEvent.Edit
@model Neptune.Web.Views.FundingEvent.EditViewModel

<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function() {
        angular.module("NeptuneApp").factory("angularModelAndViewData",
            function() {
                return {
                    AngularModel: @Html.Raw(Model.ToHtmlString()),
                    AngularViewData: @Html.Raw(ViewDataTyped.ToHtmlString())
                };
            });
        angular.bootstrap(jQuery("#EditFundingEventFundingSourceApp"), ["NeptuneApp"]);

        jQuery(".selectpicker").selectpicker("refresh");
        jQuery(".modal").on("hidden.bs.modal",
            function() {
                jQuery(".bootstrap-select.open").removeClass("open");
            });
    })
    // ]]>
</script>

<div class="row">
    <div class="col-xs-12">
        <div class="validationError">
            @Html.ValidationSummary()
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div ng-app="NeptuneApp" id="EditFundingEventFundingSourceApp" ng-controller="EditFundingEventFundingSourceController" style="max-height: 600px;">
                <div class="form-horizontal">
                    @Html.HiddenFor(m => m.FundingEvent.TreatmentBMPID)
                    <div class="form-group row">
                        <div class="col-sm-3 text-right">
                            @Html.LabelWithSugarFor(m => m.FundingEvent.FundingEventTypeID)
                        </div>
                        <div class="col-sm-9">
                            @Html.SearchableDropDownListFor(m => m.FundingEvent.FundingEventTypeID, ViewDataTyped.AllFundingEventTypes, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 text-right">
                            @Html.LabelWithSugarFor(m => m.FundingEvent.Year)
                        </div>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.FundingEvent.Year, new Dictionary<string, object> { { "style", "width: auto" }, { "class", "form-control" }, { "type", "number" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 text-right">
                            @Html.LabelWithSugarFor(m => m.FundingEvent.Description)
                        </div>
                        <div class="col-sm-9">
                            @Html.TextAreaWithMaxLengthFor(m => m.FundingEvent.Description, new TextAreaForExtensions.TextAreaDimensions(null, 3), "", new List<string> { "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right">
                            <label class="control-label">Funding Source to Add</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select ng-model="FundingSourceToAdd"
                                        class="selectpicker"
                                        data-live-search="true"
                                        data-container="body"
                                        data-width="100%" selectpicker
                                        title="Select a Funding Source to Add"
                                        ng-options="fundingSource as fundingSource.FundingSourceName for fundingSource in filteredFundingSources(AngularModel.FundingEvent) track by fundingSource.FundingSourceID">
                                    <option value="" disabled selected>Select a Funding Source to Add</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-neptune" type="button" ng-click="addRow(AngularModel.FundingEvent)">
                                        <span class="glyphicon glyphicon-plus"></span> Add
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <table class="dialogFormLayout" style="margin-top: 20px; table-layout: fixed" ng-show="AngularModel.FundingEvent.FundingEventFundingSources.length > 0">
                        <tbody>
                        <tr>
                            <th style="width: 30px;"></th>
                            <th style="white-space: nowrap">@Html.LabelWithSugarFor(FieldDefinitionType.FundingSource)</th>
                            <th style="text-align: right; padding-right: 17px;">Amount</th>
                        </tr>
                        <tr ng-repeat="fundingEventFundingSource in AngularModel.FundingEvent.FundingEventFundingSources | orderBy:[getFundingSourceName]">
                            <td>
                                <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteRow(AngularModel.FundingEvent, fundingEventFundingSource)" style="cursor: pointer"></span>
                            </td>
                            <td ng-bind="getFundingSourceName(fundingEventFundingSource)">
                            <td style="text-align: right; padding-right: 17px;">
                                <input style="float: right; text-align: right; padding: 2px 0; width: 150px;" type="text" ng-model="fundingEventFundingSource.Amount" class="sitkaCurrency form-control" ng-currency/>
                            </td>
                        </tr>
                        <tr style="border-top: 1px solid #eeeeee;">
                            <th colspan="2">Total</th>
                            <th style="text-align: right; padding-right: 17px;" ng-bind="getTotal(AngularModel.FundingEvent) | nfcurrency"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-repeat="fundingEventFundingSource in AngularModel.FundingEvent.FundingEventFundingSources">
                    <input type="hidden" name="@Html.NameFor(x => x.FundingEvent.FundingEventFundingSources[1].FundingEventID).ToString().Replace("0", "{{$parent.$index}}").Replace("1", "{{$index}}")" value="{{fundingEventFundingSource.FundingEventID}}"/>
                    <input type="hidden" name="@Html.NameFor(x => x.FundingEvent.FundingEventFundingSources[1].FundingSourceID).ToString().Replace("0", "{{$parent.$index}}").Replace("1", "{{$index}}")" value="{{fundingEventFundingSource.FundingSourceID}}"/>
                    <input type="hidden" name="@Html.NameFor(x => x.FundingEvent.FundingEventFundingSources[1].Amount).ToString().Replace("0", "{{$parent.$index}}").Replace("1", "{{$index}}")" value="{{fundingEventFundingSource.Amount}}"/>
                </div>
            </div>
        }
    </div>
</div>