@using LtInfo.Common
@using LtInfo.Common.ModalDialog
@using Neptune.Web.Models
@using Neptune.Web.Views.FieldVisit
@inherits Neptune.Web.Views.FieldVisit.Detail

@section JavascriptAndStylesContent
{
    <style>
        #fieldVisitDetailNav li a {
            color: #000;
            background: #fff;
            cursor: pointer;
        }
        
        @@media (max-width: 768px) {
            ul {
                border-right: 3px solid;
                border-color: #0099ab;
            }
        }

        #fieldVisitDetailNav li a:hover {
            background-color: #00c1d5;
            color: #fff;
        }

        #fieldVisitDetailNav li.active a,
        #fieldVisitDetailNav li.active a:hover {
            background-color: #0099ab;
            color: #fff;
        }

        @@media (min-width: 769px) {
            #fieldVisitDetailNav li.active a:after {
                content: '';
                display: block;
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -10px;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 8px solid #0099ab;
                z-index: 900;
            }
        }

        #fieldVisitDetailNav.nav-tabs > li > a {
            border-radius: 0;
        }
    </style>
}


<div class="row wizard">
    <div class="col-xs-12 col-sm-3">
        <ul class="nav nav-stacked nav-tabs" id="fieldVisitDetailNav" role="tablist">
            <li role="presentation" class="nav-item">
                <a class="nav-link" href="#inventory" aria-controls="inventory" role="tab" data-toggle="tab">Inventory</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" href="#assessment" aria-controls="assessment" role="tab" data-toggle="tab">Assessment</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" href="#maintenance" aria-controls="maintenance" role="tab" data-toggle="tab">Maintenance</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" href="#postMaintenanceAssessment" aria-controls="postMaintenanceAssessment" role="tab" data-toggle="tab">Post-Maintenance Assessment</a>
            </li>
            <li role="presentation" class="nav-item active">
                <a class="nav-link" href="#visitSummary" aria-controls="visitSummary" role="tab" data-toggle="tab">Visit Summary</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-9" id="wizardContent">
        <div class="tab-content">
            <div id="inventory" role="tabpanel" class="tab-pane active">
                <div class="wizardHeader"><h2>Inventory</h2></div>
                <div class="wizardMain">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>BMP Name:</label>
                        </div>
                        <div class="col-sm-9">
                            @ViewDataTyped.FieldVisit.TreatmentBMP.TreatmentBMPName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>BMP Type:</label>
                        </div>
                        <div class="col-sm-9">
                            @ViewDataTyped.FieldVisit.TreatmentBMP.TreatmentBMPType.TreatmentBMPTypeName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Inventory Updated During Visit?</label>
                        </div>
                        <div class="col-sm-9">
                            @ViewDataTyped.FieldVisit.InventoryUpdated.ToYesNo()
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <label>BMP Verification Status:</label>
                        </div>
                        <div class="col-sm-9">
                            @(ViewDataTyped.FieldVisit.TreatmentBMP.InventoryIsVerified ? "Verified" : "Not Verified")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Last Verified by:</label>
                        </div>
                        <div class="col-sm-9">
                            @(ViewDataTyped.FieldVisit.TreatmentBMP.InventoryIsVerified ?
                                  ViewDataTyped.FieldVisit.TreatmentBMP.InventoryVerifiedByPerson.GetFullNameFirstLast()
                                  : "N/A")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Last Verified on:</label>
                        </div>
                        <div class="col-sm-9">
                            @(ViewDataTyped.FieldVisit.TreatmentBMP.DateOfLastInventoryVerification != null ? ViewDataTyped.FieldVisit.TreatmentBMP.DateOfLastInventoryVerification.Value.ToShortDateString() :
                              "N/A")
                        </div>
                    </div>
                    <div class="row text-right">
                        <a class="btn btn-neptune" href="@ViewDataTyped.FieldVisit.TreatmentBMP.GetDetailUrl()">View BMP Details</a>
                    </div>
                </div>
            </div>
            <div id="assessment" role="tabpanel" class="tab-pane">
                <div class="wizardHeader"><h2>Assessment</h2></div>
                <div class="wizardMain">@{ AssessmentDetail.RenderPartialView(Html, ViewDataTyped.InitialAssessmentViewData);}</div>
            </div>
            <div id="maintenance" role="tabpanel" class="tab-pane">
                <div class="row wizardHeader">
                    <div class="col-sm-6" style="padding-left: 0;">
                        <h2>Maintenance</h2>
                    </div>
                    <div class="col-sm-6 text-right" style="margin-top: 20px;">
                        @ModalDialogFormHelper.MakeDeleteLink("Delete", ViewDataTyped.MaintenanceRecord != null ? ViewDataTyped.MaintenanceRecord.GetDeleteUrl() : "", new List<string>{"btn btn-neptune"}, ViewDataTyped.UserCanDeleteMaintenanceRecord)
                    </div>
                </div>
                <div class="wizardMain">
                    @if(ViewDataTyped.MaintenanceRecord != null)
                    {
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Status:</label>
                        </div>
                        <div class="col-sm-9">
                            @ViewDataTyped.MaintenanceRecord.MaintenanceRecordStatus()
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Type:</label>
                        </div>
                        <div class="col-sm-9">
                            @ViewDataTyped.MaintenanceRecord.MaintenanceRecordType.MaintenanceRecordTypeDisplayName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Performed By:</label>
                        </div>
                        <div class="col-sm-9">
                            @ViewDataTyped.MaintenanceRecord.GetMaintenanceRecordPerson().GetFullNameFirstLast()
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Description:</label>
                        </div>
                        <div class="col-sm-9">
                            @ViewDataTyped.MaintenanceRecord.MaintenanceRecordDescription
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panelNeptune">
                                <div class="panel-heading panelTitle">Observations</div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Attribute</th>
                                            <th class="text-right">Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var mro in ViewDataTyped.SortedMaintenanceRecordObservations)
                                        {
                                            <tr>
                                                <td>
                                                    @(ViewDataTyped.UserHasCustomAttributeTypeManagePermissions ? mro.CustomAttributeType.GetDisplayNameAsUrl() : new HtmlString(mro.CustomAttributeType.CustomAttributeTypeName))
                                                    <br/>
                                                    <span class="help-block">@mro.CustomAttributeType.CustomAttributeTypeDescription</span>
                                                </td>
                                                <td class="text-right" style="min-width: 150px">@ViewDataTyped.MaintenanceRecord.GetObservationValueWithUnitsForAttributeType(mro.CustomAttributeType)</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    else
                    {
                        <p class="systemText">No maintenance performed during this Field Visit</p>
                    }
                </div>
            </div>
            <div id="postMaintenanceAssessment" role="tabpanel" class="tab-pane">
                <div class="wizardHeader"><h2>Post-Maintenance Assessment</h2></div>
                <div class="wizardMain">@{ AssessmentDetail.RenderPartialView(Html, ViewDataTyped.PostMaintenanceAssessmentViewData);}</div>
            </div>
            <div id="visitSummary" role="tabpanel" class="tab-pane">
                <div class="wizardHeader"><h2>Visit Summary</h2></div>
                <div class="wizardMain">
                    <div class="row">
                        <label class="col-sm-3 control-label text-right">Status</label>
                        <div class="col-sm-9">@ViewDataTyped.FieldVisit.FieldVisitStatus.FieldVisitStatusDisplayName</div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label text-right">Performed by</label>
                        <div class="col-sm-9">@ViewDataTyped.FieldVisit.PerformedByPerson.GetFullNameFirstLast()</div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label text-right">Date</label>
                        <div class="col-sm-9">@ViewDataTyped.FieldVisit.VisitDate.ToShortDateString()</div>
                    </div>

                    <h4>Visit Details</h4>

                    <div class="row">
                        <label class="col-sm-3 control-label text-right">Inventory Updated?</label>
                        <div class="col-sm-9">@ViewDataTyped.FieldVisit.InventoryUpdated.ToYesNo()</div>
                    </div>
                    @if (ViewDataTyped.FieldVisit.InventoryUpdated)
                    {
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Status</label>
                            <div class="col-sm-9">@ViewDataTyped.FieldVisit.TreatmentBMP.CustomAttributeStatus()</div>
                        </div>
                    }
                    <br />

                    <div class="row">
                        <label class="col-sm-3 control-label text-right">Assessment Performed?</label>
                        <div class="col-sm-9">@(ViewDataTyped.FieldVisit.InitialAssessment == null ? "No" : "Yes")</div>
                    </div>
                    @if (ViewDataTyped.FieldVisit.InitialAssessment != null)
                    {
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Status</label>
                            <div class="col-sm-9">@(ViewDataTyped.FieldVisit.InitialAssessment.AssessmentStatus())</div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Score</label>
                            <div class="col-sm-9">@ViewDataTyped.FieldVisit.InitialAssessment.FormattedScore()</div>
                        </div>
                    }
                    <br />

                    <div class="row">
                        <label class="col-sm-3 control-label text-right">Maintenance Performed?</label>
                        <div class="col-sm-9">@(ViewDataTyped.MaintenanceRecord == null ? "No" : "Yes")</div>
                    </div>
                    @if (ViewDataTyped.MaintenanceRecord != null)
                    {
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Status</label>
                            <div class="col-sm-9">@ViewDataTyped.MaintenanceRecord.MaintenanceRecordStatus()</div>
                        </div>
                    }
                    <br />

                    <div class="row">
                        <label class="col-sm-3 control-label text-right">Post-Maintenance Assessment Performed?</label>
                        <div class="col-sm-9">@(ViewDataTyped.FieldVisit.PostMaintenanceAssessment == null ? "No" : "Yes")</div>
                    </div>
                    @if (ViewDataTyped.FieldVisit.PostMaintenanceAssessment != null)
                    {
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Status</label>
                            <div class="col-sm-9">@(ViewDataTyped.FieldVisit.PostMaintenanceAssessment.AssessmentStatus())</div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label text-right">Score</label>
                            <div class="col-sm-9">@ViewDataTyped.FieldVisit.PostMaintenanceAssessment.FormattedScore()</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>