@*-----------------------------------------------------------------------
    <copyright file="EditMaintenanceRecord.cs" company="Tahoe Regional Planning Agency">
        Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
        <author>Sitka Technology Group</author>
    </copyright>

    <license>
        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU Affero General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

        Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using Neptune.Web.Models
@using Neptune.Web.Views.FieldVisit
@inherits EditMaintenanceRecord

@{
    @SetLayout("SiteLayout.cshtml", ViewDataTyped)
}

@using (Html.BeginForm("EditMaintenanceRecord", "FieldVisit", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "field-visit-form" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">@Html.LabelWithSugarFor(m => m.MaintenanceRecordTypeID)</div>
            <div class="col-xs-12 col-sm-9">
                @Html.DropDownListFor(m => m.MaintenanceRecordTypeID, ViewDataTyped.AllMaintenanceRecordTypes, new Dictionary<string, object>() { { "style", "width: auto" }, { "class", "form-control" } })

            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">@Html.LabelWithSugarFor(m => m.MaintenanceRecordDescription)</div>
            <div class="col-xs-12 col-sm-9">
                @Html.TextAreaWithMaxLengthFor(m => m.MaintenanceRecordDescription, new TextAreaForExtensions.TextAreaDimensions(null, 6), null, new List<string>() { "form-control" })
            </div>
        </div>
    </div>
    <hr />
    Neptune.Web.Views.Shared.EditAttributes.EditAttributes.RenderPartialView(Html, ViewDataTyped.EditMaintenanceRecordObservationsViewData, Model);

    <div class="row">
        <hr /><div class="col-sm-2">
            @ModalDialogFormHelper.MakeDeleteLink("Delete", ViewDataTyped.MaintenanceRecord != null ? ViewDataTyped.MaintenanceRecord.GetDeleteUrl() : "", new List<string> { "btn btn-sm btn-neptune" }, ViewDataTyped.UserCanDeleteMaintenanceRecord)
        </div>

        <div class="col-xs-12 col-sm-10" style="text-align: right">
            <button type="submit" class="btn btn-neptune" value="@StepToAdvanceToEnum.StayOnPage" name="@Html.NameFor(x => x.StepToAdvanceTo)">Save</button>
            <button type="submit" class="btn btn-neptune" value="@StepToAdvanceToEnum.NextPage" name="@Html.NameFor(x => x.StepToAdvanceTo)">Save &amp; Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
            <a class="btn btn-neptune" onclick="launchSaveAndWrapUpConfirmModal()">Save &amp; Wrap Up Visit</a>
            <input type="hidden" name="@Html.NameFor(x => x.StepToAdvanceTo)" value="@StepToAdvanceToEnum.WrapUpPage">
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
        </div>
    </div>


}
<script type="text/javascript">
    $(function () {
        $('#maintenancedatetime').datetimepicker();
    });
</script>