@*-----------------------------------------------------------------------
    <copyright file="Maintain.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Views.FieldVisit

@inherits Maintain

@{
    @SetLayout("SiteLayout.cshtml", ViewDataTyped)
}
<p>The maintenance workflow allows input of observations to quantify the type and amount of maintenance performed.</p>
<p>Some observation are required for the Maintenance Record to be considered complete. The required observations are identified with <span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 12px; "></span> icon. </p>
<hr />
<div class="row" style="margin-bottom: 21px;">
    <div class="col-xs-12 text-right">
        @using (Html.BeginForm("Maintain", "FieldVisit", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "field-visit-form" }))
        {
            if (ViewDataTyped.IsNew)
            {
                <div class="row">
                    <div class="col-xs-12" style="margin-top: 10px;">
                        <button class="btn btn-neptune" style="display: inline-block;">
                            <span>
                                @(ViewDataTyped.FieldVisit.MaintenanceRecord == null ? "Create a Maintenance Record" : "Edit the Maintenance Record")
                            </span>
                            <span class="glyphicon glyphicon-triangle-right" style="margin-left: 10px;"></span>
                        </button>
                        <a href="@ViewDataTyped.PostMaintenanceAssessmentUrl" class="btn btn-neptune" style="display: inline-block;">Skip to Post-Maintenance Assessment <span class="glyphicon glyphicon-forward" style="margin-left: 10px;"></span></a>
                        <a class="btn btn-neptune" onclick="launchSaveAndWrapUpConfirmModal()">Wrap Up Visit</a>
                    </div>
                </div>
            }
            else
            {
                <a href="@ViewDataTyped.EditMaintenanceRecordUrl" class="btn btn-neptune" style="display: inline-block;">Edit the Maintenance Record <span class="glyphicon glyphicon-forward" style="margin-left: 10px;"></span></a>
                <a href="@ViewDataTyped.PostMaintenanceAssessmentUrl" class="btn btn-neptune" style="display: inline-block;">Skip to Post-Maintenance Assessment <span class="glyphicon glyphicon-forward" style="margin-left: 10px;"></span></a>
                <a class="btn btn-neptune" onclick="launchSaveAndWrapUpConfirmModal()">Wrap Up Visit</a>
            }
        }
    </div>
</div>