@*-----------------------------------------------------------------------
    <copyright file="Maintain.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Views.FieldVisit

@inherits Maintain

@{
    @SetLayout("SiteLayout.cshtml", ViewDataTyped)
}

<div class="row" style="margin-bottom: 21px;">
    <div class="col-xs-12">
        <p>I want to:</p>
        @if (ViewDataTyped.IsNew)
        {
            using (Html.BeginForm())
            {
                
                <div class="row">
                    <div class="col-xs-12" style="margin-top: 10px;">
                        <button class="btn btn-neptune" style="display: inline-block;">
                            <span>
                                @(ViewDataTyped.FieldVisit.MaintenanceRecord == null ? "Create a Maintenance Record" : "Edit the Maintenance Record")
                            </span>
                            <span class="glyphicon glyphicon-triangle-right" style="margin-left: 10px;"></span>
                        </button>
                        <a href="@ViewDataTyped.PostMaintenanceAssessmentUrl" class="btn btn-neptune" style="display: inline-block;">Skip to Post-Maintenance Assessment <span class="glyphicon glyphicon-forward" style="margin-left: 10px;"></span></a>
                    </div>
                </div>
            }
        }
        else
        {
            <a href="@ViewDataTyped.EditMaintenanceRecordUrl" class="btn btn-neptune" style="display: inline-block;">Edit the Maintenance Record <span class="glyphicon glyphicon-forward" style="margin-left: 10px;"></span></a>
            <a href="@ViewDataTyped.PostMaintenanceAssessmentUrl" class="btn btn-neptune" style="display: inline-block;">Skip to Post-Maintenance Assessment <span class="glyphicon glyphicon-forward" style="margin-left: 10px;"></span></a>
        }
    </div>
</div>