@*-----------------------------------------------------------------------
<copyright file="ProjectTypeSelection.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.Web.Models
@using Neptune.Web.Views.FieldVisit
@inherits NewFieldVisit

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    if(@ViewDataTyped.AskToContinue)
     {
         <div>
             There is a @FieldDefinition.FieldVisit.GetFieldDefinitionLabel() already in progress. Do you want to
         </div>
         <div class="form-group">
             <div class="radio">
                 <label>
                     @Html.RadioButtonFor(m => m.Continue, true)
                     <strong>Continue the existing @FieldDefinition.FieldVisit.GetFieldDefinitionLabel() from @ViewDataTyped.InProgressVisitDate.Value.ToShortDateString()</strong>
                 </label>
             </div>
             <div class="radio" style="margin-top: 10px;">
                 <label>
                     @Html.RadioButtonFor(m => m.Continue, false)
                     <strong>Close the existing @FieldDefinition.FieldVisit.GetFieldDefinitionLabel() and begin a new one?</strong>
                 </label>
             </div>
         </div>
    }
    else
    {
        <text>Begin a new @FieldDefinition.FieldVisit.GetFieldDefinitionLabel()?</text>
    }
}
