@*-----------------------------------------------------------------------
    <copyright file="Photos.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using Neptune.Web.Views.FieldVisit
@using Neptune.Web.Views.Shared.ManagePhotosWithPreview

@inherits Photos

@{
    @SetLayout("SiteLayout.cshtml", ViewDataTyped)
}

<form method="post" enctype="multipart/form-data" class="field-visit-form">
    @{ ManagePhotosWithPreview.RenderPartialView(Html, ViewDataTyped.ManagePhotosWithPreviewViewData, Model); }
    <div class="row">
        <hr />
        <div class="col-xs-12 col-sm-2">
            <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
        </div>

        <div class="col-xs-12 col-sm-10" style="text-align: right">
            <button type="submit" class="btn btn-neptune" value="@StepToAdvanceToEnum.StayOnPage" name="@Html.NameFor(x => x.StepToAdvanceTo)">Save</button>
            <button type="submit" class="btn btn-neptune" value="@StepToAdvanceToEnum.NextPage" name="@Html.NameFor(x => x.StepToAdvanceTo)">Save &amp; Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
            <a class="btn btn-neptune" onclick="launchSaveAndWrapUpConfirmModal()">Save &amp; Wrap Up <i class="glyphicon glyphicon-forward" style="margin-left: 10px;"></i></a>
            <input type="hidden" name="@Html.NameFor(x => x.StepToAdvanceTo)" value="@StepToAdvanceToEnum.WrapUpPage">
        </div>
    </div>
</form>
