@*-----------------------------------------------------------------------
    <copyright file="SiteLayout.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Models
@inherits Neptune.Web.Views.FieldVisit.FieldVisitSection
@{
    @SetLayout("~/Views/Shared/SiteLayout.cshtml", ViewDataTyped)
}

@section JavascriptAndStylesContent
{
    @RenderSection("JavascriptAndStylesContent", false)

    <style>
        nav#wizardNav ul li.activeGroup a,
        nav#wizardNav ul li.activeGroup span {
            color: #fff;
            background: #0099ab;
            cursor: pointer;
        }

        ul.fieldVisitTierTwoMenu {
            border-left: 3px solid;
            border-bottom: 3px solid;
            border-color: #0099ab;
        }

        @@media (max-width: 768px) {
            ul.fieldVisitTierTwoMenu {
                border-right: 3px solid;
                border-color: #0099ab;
            }
        }

        nav#wizardNav ul.fieldVisitTierTwoMenu li a {
            background-color: #fff;
            color: #333;
            padding-left: 45px;
        }

        @@media (min-width: 769px) {
            nav#wizardNav ul li.activeGroup a.activeItem:after {
                content: '';
                display: block;
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -10px;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 8px solid #0099ab;
                z-index: 900;
            }

            nav#wizardNav ul.fieldVisitTierTwoMenu a.activeItem:after { border-left: 8px solid #e49937 !important; }
        }

        nav#wizardNav ul.fieldVisitTierTwoMenu a:hover {
            background-color: #e9ad5d;
            color: #fff;
        }

        nav#wizardNav ul.fieldVisitTierTwoMenu a.activeItem,
        nav#wizardNav ul.fieldVisitTierTwoMenu a.activeItem:hover {
            background-color: #e49937;
            color: #fff;
        }
    </style>
}

<div>
    <div class="row wizard">
        <div class="col-xs-12 col-sm-3">
            <nav id="wizardNav">
                <ul class="nav nav-stacked">
                    @foreach (var fieldVisitSection in FieldVisitSection.All)
                    {
                        var sectionIsActive = ViewDataTyped.SectionName == fieldVisitSection.FieldVisitSectionName;
                        var topLevelIsActive = ViewDataTyped.SubsectionName == null;
                        <li class="@(sectionIsActive ? "activeGroup" : string.Empty)">
                            <a class="@(topLevelIsActive ? "activeItem" : string.Empty)" href="@fieldVisitSection.GetSectionUrl(ViewDataTyped.FieldVisit)">
                                <span>@fieldVisitSection.FieldVisitSectionDisplayName</span>
                            </a>
                            @if (sectionIsActive)
                            {
                                <ul class="nav nav-stacked fieldVisitTierTwoMenu">
                                    @foreach (var fieldVisitSubsection in fieldVisitSection.GetSubsections(ViewDataTyped.FieldVisit))
                                    {
                                        var subsectionIsActive = ViewDataTyped.SubsectionName == fieldVisitSubsection.SubsectionName;
                                        <li>
                                            <a class="@(subsectionIsActive ? "activeItem" : string.Empty)" href="@fieldVisitSubsection.SubsectionUrl">@fieldVisitSubsection.SubsectionName</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div id="wizardContent" class="col-xs-12 col-sm-9">
            <div class="wizardHeader">
                <h2>@ViewDataTyped.SectionHeader</h2>
                <hr>
            </div>

            <div class="validationError">
                @Html.ValidationSummary()
            </div>

            <div class="wizardMain">
                @RenderBody()
            </div>
        </div>
    </div>
</div>