@*-----------------------------------------------------------------------
    <copyright file="WrapUpVisit.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using Neptune.Web.Views.FieldVisit

@inherits WrapUpVisit

@{
    @SetLayout("SiteLayout.cshtml", ViewDataTyped)
}

<p>Review the status of your visit. If you've completed everything needed for this visit, use the Finalize Visit button. Otherwise navigate to any section to continue entering visit data.</p>
<h4>Visit Overview</h4>
<div class="row">
    <label class="col-sm-3 control-label text-right">Status</label>
    <div class="col-sm-9">@ViewDataTyped.FieldVisit.FieldVisitStatus.FieldVisitStatusDisplayName</div>
</div>
<div class="row">
    <label class="col-sm-3 control-label text-right">Performed by</label>
    <div class="col-sm-9">@ViewDataTyped.FieldVisit.PerformedByPerson.GetFullNameFirstLast()</div>
</div>
<div class="row">
    <label class="col-sm-3 control-label text-right">Date</label>
    <div class="col-sm-9">@ViewDataTyped.FieldVisit.VisitDate.ToShortDateString()</div>
</div>

<h4>Visit Details</h4>

<div class="row">
    <label class="col-sm-3 control-label text-right">Inventory Updated?</label>
    <div class="col-sm-9">@ViewDataTyped.FieldVisit.InventoryUpdated.ToYesNo()</div>
</div>
@if (ViewDataTyped.FieldVisit.InventoryUpdated)
{
    <div class="row">
        <label class="col-sm-3 control-label text-right">Status</label>
        <div class="col-sm-9">@ViewDataTyped.FieldVisit.TreatmentBMP.CustomAttributeStatus()</div>
    </div>
}
<br />

<div class="row">
    <label class="col-sm-3 control-label text-right">Assessment Performed?</label>
    <div class="col-sm-9">@(ViewDataTyped.FieldVisit.InitialAssessment == null ? "No" : "Yes")</div>
</div>
@if (ViewDataTyped.FieldVisit.InitialAssessment != null)
{
    <div class="row">
        <label class="col-sm-3 control-label text-right">Status</label>
        <div class="col-sm-9">@(ViewDataTyped.FieldVisit.InitialAssessment.AssessmentStatus())</div>
    </div>
    <div class="row">
        <label class="col-sm-3 control-label text-right">Score</label>
        <div class="col-sm-9">@ViewDataTyped.FieldVisit.InitialAssessment.FormattedScore()</div>
    </div>
}
<br />

<div class="row">
    <label class="col-sm-3 control-label text-right">Maintenance Performed?</label>
    <div class="col-sm-9">@(ViewDataTyped.FieldVisit.MaintenanceRecord == null ? "No" : "Yes")</div>
</div>
@if (ViewDataTyped.FieldVisit.MaintenanceRecord != null)
{
    <div class="row">
        <label class="col-sm-3 control-label text-right">Status</label>
        <div class="col-sm-9">@ViewDataTyped.FieldVisit.MaintenanceRecord.MaintenanceRecordStatus()</div>
    </div>
}
<br />

<div class="row">
    <label class="col-sm-3 control-label text-right">Post-Maintenance Assessment Performed?</label>
    <div class="col-sm-9">@(ViewDataTyped.FieldVisit.PostMaintenanceAssessment == null ? "No" : "Yes")</div>
</div>
@if (ViewDataTyped.FieldVisit.PostMaintenanceAssessment != null)
{
    <div class="row">
        <label class="col-sm-3 control-label text-right">Status</label>
        <div class="col-sm-9">@(ViewDataTyped.FieldVisit.PostMaintenanceAssessment.AssessmentStatus())</div>
    </div>

    <div class="row">
        <label class="col-sm-3 control-label text-right">Score</label>
        <div class="col-sm-9">@ViewDataTyped.FieldVisit.PostMaintenanceAssessment.FormattedScore()</div>
    </div>
}
<hr />

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-neptune pull-right" style="display: inline-block;">
                <span>
                    Finalize Visit
                </span>
                <span class="glyphicon glyphicon-thumbs-up" style="margin-left: 10px;"></span>
            </button>
        </div>
    </div>
}
