@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.DelineationUpload.ApproveDelineationGisUpload

@Html.ValidationSummary()

<div class="formPage" style="padding: 0; margin-top: -10px;">
    <div>
        <div id="uploadGisReport">
            
            @if (ViewDataTyped.DelineationUpoadGisReportFromStaging.Errors.Count == 0)
            {
                <div>
                    <ul>
                        <li>The Feature Class contains @ViewDataTyped.DelineationUpoadGisReportFromStaging.NumberOfDelineations delineations</li>
                        <li>@ViewDataTyped.DelineationUpoadGisReportFromStaging.NumberOfDelineationsToBeUpdated Treatment BMPs with existing delineations will be replaced by new delineations from this Feature Class</li>
                        <li>@ViewDataTyped.DelineationUpoadGisReportFromStaging.NumberOfDelineationsToBeCreated Treatment BMPs that do not currently have delineations will receive new delineations from this Feature Class</li>
                        <li id="numberOfDelineationNotMatchingTreatmentBMP">@ViewDataTyped.DelineationUpoadGisReportFromStaging.DelineationNotMatchingTreatmentBMP.Count Delineations were found that do not match a Treatment BMP Name in the selected Jurisdiction
                            <i>@(string.Join(", ", ViewDataTyped.DelineationUpoadGisReportFromStaging.DelineationNotMatchingTreatmentBMP))</i>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div>
                    <ul>
                        @foreach (var error in ViewDataTyped.DelineationUpoadGisReportFromStaging.Errors)
                        {
                            <li class="text-danger">@error</li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="text-right" style="margin-top: 15px;">
            <button id="submitApproveDelineationGisUpload" type="submit" class="btn btn-neptune" disabled="disabled">Accept</button>
            <a href="@ViewDataTyped.DelineationMapUrl" class="btn btn-neptune">Cancel</a>
        </div>
    </div>
</div>

<script>
    var submitApproveDelineationGisUploadButton = jQuery("#submitApproveDelineationGisUpload");
    var report = @Html.Raw(JObject.FromObject(ViewDataTyped.DelineationUpoadGisReportFromStaging).ToString(Formatting.None));

    if (report.NumberOfDelineationNotMatchingTreatmentBMP > 0 || report.NumberOfDelineations === 0) {
        jQuery("#numberOfDelineationNotMatchingTreatmentBMP").addClass("text-danger");
    }
    if (report.NumberOfDelineationNotMatchingTreatmentBMP !== 0 || report.NumberOfDelineations === 0) {
        submitApproveDelineationGisUploadButton.prop("disabled", true);
    } else {
        submitApproveDelineationGisUploadButton.prop("disabled", false);
    }
</script>
