@using LtInfo.Common
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.DelineationUpload.ApproveDelineationGisUpload

@Html.ValidationSummary()

<div class="formPage">
    <div>
        <label class="col-md-2" for="@Html.IdFor(x => x.StormwaterJurisdictionID)">
            Jurisdiction
        </label>
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.StormwaterJurisdictionID, ViewDataTyped.StormwaterJurisdictionSelectListItems, new Dictionary<string, object> {{"style", "width:auto;"}, {"class", "form-control"}})
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                @if (Model.DelineationGeometryLayers.Count > 1)
                {
                    <th>Import?</th>
                }
                <th>Feature Class</th>
                <th>Catchment Name Field</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.DelineationGeometryLayers != null)
            {
                for (var i = 0; i < Model.DelineationGeometryLayers.Count; i++)
                {
                    <tr>
                        <td>
                            <div style="height: 20px; width: 20px; background-color: @ViewDataTyped.LayerColors[Model.DelineationGeometryLayers[i].DelineationGeometryStagingID];"></div>
                            @Html.HiddenFor(x => x.DelineationGeometryLayers[i].DelineationGeometryStagingID)
                            @if (Model.DelineationGeometryLayers.Count == 1)
                            {
                                <input type="hidden" value="@Model.DelineationGeometryLayers[i].DelineationGeometryStagingID" name="@Html.NameFor(x => x.LayerToImportID)"/>
                            }
                        </td>
                        @if (Model.DelineationGeometryLayers.Count > 1)
                        {
                            <td class="text-center">
                                <input type="radio" value="@Model.DelineationGeometryLayers[i].DelineationGeometryStagingID" name="@Html.NameFor(x => x.LayerToImportID)"/>
                            </td>
                        }
                        <td>@ViewDataTyped.DelineationGeometryFeatureClassNames[Model.DelineationGeometryLayers[i].DelineationGeometryStagingID]</td>
                        <td>
                            @Html.DropDownListFor(x => x.DelineationGeometryLayers[i].SelectedProperty, ViewDataTyped.DelineationGeometryLayerSelectProperties[Model.DelineationGeometryLayers[i].DelineationGeometryStagingID], new Dictionary<string, object> {{"style", "width:auto;"}, {"class", "form-control selectedProperty"}, {"data-delineationGeometryStagingID", Model.DelineationGeometryLayers[i].DelineationGeometryStagingID.ToString()}})
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div>
        <p>
            To zoom, hold <strong>Shift</strong> and drag rectangle.
        </p>
        <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 400px;"></div>
        <div id="uploadGisReport"></div>
        <div class="text-right" style="margin-top: 15px;">
            <button id="submitApproveDelineationGisUpload" type="submit" class="btn btn-neptune" disabled="disabled">Upload GIS</button>
            <a href="@ViewDataTyped.DelineationIndexUrl" class="btn btn-neptune">Cancel</a>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    // <![CDATA[
    jQuery(function()
    {
        var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None)),
            map = new NeptuneMaps.Map(mapInitJson),

            delineationStagingGeoJsons =
                @Html.Raw(JObject.FromObject(ViewDataTyped.DelineationStagingGeoJsons).ToString(Formatting.None)),

            submitApproveDelineationGisUploadButton = jQuery("#submitApproveDelineationGisUpload"),

            delineationUploadGisReports = [],

            uploadGisReportUrlTemplateString = @Html.Raw(ViewDataTyped.UploadGisReportUrlTemplate.ToJS()),
            uploadGisReportUrlTemplate = new Sitka.UrlTemplate(uploadGisReportUrlTemplateString);

        jQuery("#uploadGisReport").html("");
        jQuery("[name=@Html.NameFor(x => x.StormwaterJurisdictionID)],[name=@Html.NameFor(x => x.LayerToImportID)],[data-delineationGeometryStagingID]")
            .on("change", updateDelineationUploadPreview);

        function updateDelineationUploadPreview()
        {
            var stormwaterJurisdictionID = jQuery("#@Html.IdFor(x => x.StormwaterJurisdictionID)").val(),
                delineationGeometryStagingID =
                    jQuery("[type=radio][name=@Html.NameFor(x => x.LayerToImportID)]:checked,[type=hidden][name=@Html.NameFor(x => x.LayerToImportID)]").val(),
                selectedProperty = jQuery(".selectedProperty[data-delineationGeometryStagingID=" +
                        delineationGeometryStagingID +
                        "]")
                    .val();
            submitApproveDelineationGisUploadButton.prop("disabled", true);

            if (!(Sitka.Methods.isUndefinedNullOrEmpty(stormwaterJurisdictionID) ||
                Sitka.Methods.isUndefinedNullOrEmpty(delineationGeometryStagingID) ||
                Sitka.Methods.isUndefinedNullOrEmpty(selectedProperty)))
            {
                map.blockMap();
                pushWktAndAnnotationsToForm(delineationGeometryStagingID, selectedProperty);
                debugger;
                var currentReport = _.find(delineationUploadGisReports,
                {
                    StormwaterJurisdictionID: Number.parseInt(stormwaterJurisdictionID),
                    DelineationGeometryStagingID: Number.parseInt(delineationGeometryStagingID),
                    SelectedProperty: selectedProperty
                    });


                debugger;
                if (Sitka.Methods.isUndefinedNullOrEmpty(currentReport))
                {
                    var uploadGisReportUrl = uploadGisReportUrlTemplate
                        .ParameterReplace(stormwaterJurisdictionID,
                            delineationGeometryStagingID,
                            selectedProperty);
                    jQuery.ajax(uploadGisReportUrl,
                    {
                        method: "POST",
                        data: {
                            StormwaterJurisdictionID: stormwaterJurisdictionID,
                            DelineationGeometryStagingID: delineationGeometryStagingID,
                            SelectedProperty: selectedProperty
                        },
                        success: function(data)
                        {
                            delineationUploadGisReports.push(data);
                            handleValidReport(data);
                        },
                        error: function() {
                            debugger;
                            var report = {
                                StormwaterJurisdictionID: stormwaterJurisdictionID,
                                DelineationGeometryStagingID: delineationGeometryStagingID,
                                SelectedProperty: selectedProperty,
                                Errors: ["There was a problem fetching the report for this GIS upload."]
                            };
                            delineationUploadGisReports.push(report);
                            handleValidReport(report);
                        },
                        complete: function() { map.unblockMap(); }
                    });
                }
                else
                {
                    handleValidReport(currentReport);
                    map.unblockMap();
                }
            }
            else
            {
                jQuery("#uploadGisReport").html("");
            }
        }

        function handleValidReport(report) {
            if (Sitka.Methods.isUndefinedNullOrEmpty(report.Errors))
            {
                submitApproveDelineationGisUploadButton.prop("disabled", false);
                jQuery("#uploadGisReport")
                    .html(jQuery("#uploadGisReportTemplateHtml")
                        .html()
                        .replace("{{numberOfCatchments}}", report.NumberOfCatchments)
                        .replace("{{numberOfCatchmentsToBeUpdated}}", report.NumberOfCatchmentsToBeUpdated)
                        .replace("{{numberOfCatchmentsToBeCreated}}", report.NumberOfCatchmentsToBeCreated)
                        .replace("{{numberOfCatchmentsInActiveBMPRegistration}}",
                            report.NumberOfCatchmentsInActiveBMPRegistration));
            }
            else {
                _.forEach(report.Errors, function(err) { console.error(err); });
                jQuery("#uploadGisReport").html(jQuery("#uploadGisReportWarning").html());
            }
        }

        function pushWktAndAnnotationsToForm(delineationGeometryStagingID, selectedProperty)
        {
            var approveGisUploadForm = jQuery("#approveGisUploadForm");
            jQuery(".wktAndAnnotation").remove();
            var geoJson = JSON.parse(delineationStagingGeoJsons[Number
                .parseInt(delineationGeometryStagingID)]);
            _.forEach(geoJson.features,
                function(feature, i)
                {
                    approveGisUploadForm
                        .append(jQuery("#wktAndAnnotationsTemplateHtml")
                            .html()
                            .replace(new RegExp("{{index}}", "g"), i)
                            .replace(new RegExp("{{wkt}}", "g"), Terraformer.WKT.convert(feature.geometry))
                            .replace(new RegExp("{{annotation}}", "g"), feature.properties[selectedProperty]));
                });
        }
    });
    // ]]>
</script>

<script type="text/html" id="uploadGisReportWarning">
    <div style="margin-top: 15px;">
        <div class="alert alert-warning" role="alert">
            There are problems with the selections for the layer you wish to import. Make sure that the <strong>Property</strong> selected is
            unambiguous (every feature has the selected property, and there are no duplicate values for features that have the selected property).
        </div>
    </div>
</script>
<script type="text/html" id="uploadGisReportTemplateHtml">
    <div style="margin-top: 15px;">
        <ul>
            <li>Layer contains {{numberOfCatchments}} catchments.</li>
            <li>{{numberOfCatchmentsToBeUpdated}} catchment names match existing catchments in jurisdiction.</li>
            <li>{{numberOfCatchmentsToBeCreated}} new catchments will be created.</li>
            <li>{{numberOfCatchmentsInActiveBMPRegistration}} catchments are included in an approved Registration. These catchments will not be updated.</li>
        </ul>
    </div>
</script>
<script type="text/html" id="wktAndAnnotationsTemplateHtml">
    <input type="hidden" name="WktAndAnnotations[{{index}}].Wkt" value="{{wkt}}" class="wktAndAnnotation"/>
    <input type="hidden" name="WktAndAnnotations[{{index}}].Annotation" value="{{annotation}}" class="wktAndAnnotation"/>
</script>