@*-----------------------------------------------------------------------
<copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.Web.Models
@using Neptune.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.DelineationUpload.Detail

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}
@section RightOfPageTitle
{
    @if (ViewDataTyped.CurrentPersonCanManage)
    {
        <a class="pull-right" href="@ViewDataTyped.ModeledCatchment.GetEditUrl()">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit") Edit Catchment</a>
    }
}

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panelNeptune">
            <div class="panel-heading ">
                Basics                
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-sm-5 control-label text-right">Name</label>
                    <div class="col-sm-7">@ViewDataTyped.ModeledCatchment.ModeledCatchmentName</div>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label text-right">@Html.LabelWithSugarFor(FieldDefinition.Jurisdiction, "Jurisdiction")</label>
                    <div class="col-sm-7">@ViewDataTyped.ModeledCatchment.StormwaterJurisdiction.GetDisplayNameAsDetailUrl()</div>
                </div>                
                <div class="row">
                    <label class="col-sm-5 control-label text-right">Notes</label>
                    <div class="col-sm-7">@ViewDataTyped.ModeledCatchment.Notes</div>
                </div>           
            </div>
        </div>        
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panelNeptune">
            <div class="panel-heading ">
                Location
            </div>
            <div class="panel-body" id="mapContainer">
                <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 500px;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
        var map = new NeptuneMaps.Map(mapInitJson);
        
        if (@((ViewDataTyped.ModeledCatchment.ModeledCatchmentGeometry == null).ToString().ToLower()) === true)
        {
            map.blockMap();
        }

    });
</script>
