@using Neptune.Web.Views.Shared
@using Neptune.Web.Views.WaterQualityManagementPlan
@using Neptune.EFModels.Entities
@using Neptune.Web.Common
@model EditWqmpParcelsViewModel
@inherits EditWqmpParcels

@section JavascriptAndStylesContent {
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/EditWqmpParcelsController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/typeahead/typeahead.min.js")"></script>
    <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp").factory("angularModelAndViewData", function() {
            return {
                AngularViewData: @Html.Raw(ViewDataTyped.ViewDataForAngular.ToJsonHtmlString()),
                AngularModel: @Html.Raw(Model.ToJsonHtmlString()),
            };
        });
        // ]]>
    </script>
    <style>
        #@ViewDataTyped.ViewDataForAngular.MapInitJson.MapDivID {
            height: 500px;
            margin: 0;
        }
        .findResultsHeader {
            padding: 3px 20px;
        }
        .tt-menu .tt-suggestion {
            padding: 3px 40px;
        }
    </style>
}

@Html.ValidationSummary()

<div class="row" ng-app="NeptuneApp" ng-controller="EditWqmpParcelsController">
    <div class="col-xs-12">
        <p>
            Use the map or @FieldDefinitionType.Parcel.GetFieldDefinitionLabel() Number (APN) search to associate @FieldDefinitionType.Parcel.GetFieldDefinitionLabelPluralized() with this @FieldDefinitionType.WaterQualityManagementPlan.GetFieldDefinitionLabel().
            Clicking a @FieldDefinitionType.Parcel.GetFieldDefinitionLabel() or selecting it in the search box will add it this @FieldDefinitionType.WaterQualityManagementPlan.GetFieldDefinitionLabel().
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-push-4">
        <div class="row">
            <div id="mapContainer" class="col-xs-12">
                <div id="@ViewDataTyped.ViewDataForAngular.MapInitJson.MapDivID"></div>
            </div>
        </div>
        <div class="row" style="margin-top: 8px">
            <div class="col-xs-6">
                @if (ViewDataTyped.RecordedWQMPAreaInAcres != null)
                {
                    <label>Recorded WQMP Area: <span> @ViewDataTyped.RecordedWQMPAreaInAcres</span> acres</label>
                }
                else
                {
                    <label>Recorded Area not provided</label>
                }
                <p>This is the recorded area as manually entered on the WQMP Basics panel</p>
            </div>
            <div class="col-xs-6">
                <label ng-if="calculatedParcelArea != null">Calculated Parcel Area: <span ng-bind="calculatedParcelArea">{{calculatedParcelArea}}</span> acres</label>
                <label ng-if="calculatedParcelArea == null"> No parcels have been associated with this WQMP</label>
                <p>This is the total area of all parcels associated with this WQMP</p>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="col-xs-12 col-sm-4 col-sm-pull-8">
            <div class="input-group" id="scrollable-dropdown-menu" style="margin-bottom: 10px;">
                @* ReSharper disable once UnknownCssClass *@
                <input type="text"
                       id="@ViewDataTyped.ViewDataForAngular.TypeAheadInputId"
                       class="typeahead form-control"
                       placeholder="Search by Address or @FieldDefinitionType.Parcel.GetFieldDefinitionLabel() Number"
                       autocomplete="off"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" id="@($"{ViewDataTyped.ViewDataForAngular.TypeAheadInputId}Button")" ng-click="selectFirstSuggestionFunction()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
            <div class="alert alert-warning" ng-if="!AngularModel.ParcelIDs || AngularModel.ParcelIDs.length < 1">
                No @FieldDefinitionType.Parcel.GetFieldDefinitionLabelPluralized() selected for this @FieldDefinitionType.WaterQualityManagementPlan.GetFieldDefinitionLabel().
                Select a @FieldDefinitionType.Parcel.GetFieldDefinitionLabel().
            </div>
            <div ng-if="AngularModel.ParcelIDs.length >= 1">
                <div style="min-height: 150px; max-height: 500px; overflow-y: auto;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>@FieldDefinitionType.Parcel.GetFieldDefinitionLabel() Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="parcelId in AngularModel.ParcelIDs">
                            <td>
                                <input type="hidden" name="@Html.NameFor(x => x.ParcelIDs)" value="{{parcelId}}" />
                                <a ng-click="toggleParcel(parcelId); $event.preventDefault();" href="#">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                            <td>
                                <div ng-bind="getParcelNumber(parcelId)"></div>
                                <div class="help-block" ng-bind="getParcelAddress(parcelId)"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr/>
        </div>
        <div class="col-xs-12 col-sm-12" style="text-align: right">
            <button type="submit" class="btn btn-neptune" value="false" name="@Html.NameFor(x => x.AutoAdvance)"> Save </button>
            <a href="@ViewDataTyped.SubEntityUrl" class="btn btn-neptune"> Cancel </a>
        </div>
    }
</div>
