@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Neptune.Web.Common
@using Neptune.Web.Common.HtmlHelperExtensions
@using Neptune.Web.Views.WaterQualityManagementPlan

@inherits EditSimplifiedStructuralBMPs
@model EditSimplifiedStructuralBMPsViewModel

@section JavascriptAndStylesContent
{
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/EditSimplifiedStructuralBMPsController.js")"></script>
    <script type="text/javascript">
        jQuery(function () {
            angular.module("NeptuneApp").factory("angularModelAndViewData",
                function() {
                    return {
                        AngularViewData: @Html.Raw(ViewDataTyped.ViewDataForAngular.ToJsonHtmlString()),
                        AngularModel: @Html.Raw(Model.ToJsonHtmlString())
                    };
                });
            angular.bootstrap(jQuery('[ng-controller="EditSimplifiedStructuralBMPsController"]'), ["NeptuneApp"]);
        });
    </script>
}

<div ng-controller="EditSimplifiedStructuralBMPsController">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-12">
                @Html.ValidationSummary()
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Simplified Structural BMPs</h4>
                <p>
                    Describe simplified structural BMPs associated with this WQMP. This does not add records to the detailed Inventory. If the simplified model approach is selected then the percent of site, percent captured, and percent retained values will be used by the Modeling Module to determine load and volume reduction credit. In the percent of site field please enter the percentage of this WQMP site treated by each Simplified Structural BMP. The total should not exceed 100%.
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
        <div class="col-xs-12">
            <p>
                Should all BMPs override Dry Weather Flow? <button type="button" class="btn btn-xs btn-neptune" ng-click="setAllDryWeatherOverridesToYes()">Set all to 'Yes'</button>
            </p>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="overflow-x:auto">
                <p class="systemText" ng-if="ifAnyQuickBMPSimple(AngularModel.QuickBmpSimples) == false">There are no Other Structural BMPs associated with this WQMP. Use the Add button to enter one or more Other Structural BMPs</p>

                <table class="dialogFormLayout table table-condensed" ng-if="ifAnyQuickBMPSimple(AngularModel.QuickBmpSimples) == true">
                    <tbody>
                        <tr ng-repeat-start="quickBmp in AngularModel.QuickBmpSimples">
                            <th style="width: 30px; border:none">  </th>
                            <th class="col-sm-3" style="vertical-align: bottom; white-space: nowrap; border:none;"> Name <span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 8px; "></span></th>
                            <th class="col-sm-3"style="vertical-align: bottom; white-space: nowrap; border:none;"> Type <span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 8px; "></span></th>
                            <th class="col-sm-2"style="vertical-align: bottom; border: none">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForPercentOfSiteTreated)</th>
                            <th class="col-sm-2"style="vertical-align: bottom; border: none">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForPercentCaptured)</th>
                            <th class="col-sm-2"style="vertical-align: bottom; border: none">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForPercentRetained)</th>
                        </tr>
                    <tr>
                        <td style="width: 30px; border:none">
                            <input type="hidden" name="@Html.NameFor(x => x.QuickBmpSimples[0].QuickBMPID).ToString().Replace("0", "{{$index}}")" value="{{quickBmp.QuickBMPID}}" />
                            <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteQuickBMPRow(AngularModel.QuickBmpSimples, quickBmp)" style="cursor: pointer"></span>
                        </td>
                        <td style="text-align: right; padding-right: 17px; border:none">
                                <input type="text" name="@Html.NameFor(x => x.QuickBmpSimples[0].QuickBMPName).ToString().Replace("0", "{{$index}}")" class="form-control" ng-model="quickBmp.QuickBMPName" value="{{quickBmp.QuickBMPName}}" />
                        </td>
                        <td style="text-align: right; padding-right: 17px; border:none">
                            <select name="@Html.NameFor(x => x.QuickBmpSimples[0].TreatmentBMPTypeID).ToString().Replace("0", "{{$index}}")"
                                    class="selectpicker"
                                    data-live-search="true"
                                    data-container="body"
                                    data-width="100%"  selectpicker
                                    title="Select a Treatment BMP Type">
                                <option ng-selected="isTreatmentBMPTypeSelected(treatmentType, quickBmp)"
                                        ng-repeat="treatmentType in AngularViewData.TreatmentBMPTypes"
                                        value="{{treatmentType.TreatmentBMPTypeID}}">
                                    {{treatmentType.TreatmentBMPTypeName}}
                                </option>
                            </select>
                        </td>
                        <td style="padding-right: 17px; border: none">
                            <div class="input-group">
                                <input type="number" style="text-align: right; padding-right:0" name="@Html.NameFor(x => x.QuickBmpSimples[0].PercentOfSiteTreated).ToString().Replace("0", "{{$index}}")" class="form-control" min="0" max="100" ng-model="quickBmp.PercentOfSiteTreated" />
                                <div class="input-group-addon">
                                    <span>%</span>
                                </div>
                                </div>
                            </td>
                        <td style="padding-right: 17px; border: none">
                            <div class="input-group">
                                <input type="number" style="text-align: right; padding-right:0" name="@Html.NameFor(x => x.QuickBmpSimples[0].PercentCaptured).ToString().Replace("0", "{{$index}}")" class="form-control" min="0" max="100" ng-model="quickBmp.PercentCaptured" />
                                <div class="input-group-addon">
                                    <span>%</span>
                                </div>
                            </div>
                        </td>
                        <td style="padding-right: 17px; border: none">
                            <div class="input-group">
                                <input type="number" style="text-align: right; padding-right:0" name="@Html.NameFor(x => x.QuickBmpSimples[0].PercentRetained).ToString().Replace("0", "{{$index}}")" class="form-control" min="0" max="100" ng-model="quickBmp.PercentRetained" />
                                <div class="input-group-addon">
                                    <span>%</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 30px; border:none"></th>
                        <th colspan="3" style="border: none"> Notes</th>
                        <th colspan="2" style="vertical-align: bottom; white-space: nowrap; border: none">@Html.LabelWithSugarFor(ViewDataTyped.FieldDefinitionForDryWeatherFlowOverride)</th>
                    </tr>
                    <tr ng-repeat-end style="border-bottom: 2px solid #ddd;">
                        <td style="width: 30px; border:none"></td>
                        <td colspan="3" style="padding-right: 17px; border: none;">
                            <textarea name="@Html.NameFor(x => x.QuickBmpSimples[0].QuickBMPNote).ToString().Replace("0", "{{$index}}")" class="form-control" ng-model="quickBmp.QuickBMPNote"></textarea>
                        </td>
                        <td colspan="2" style="text-align: right; padding-right: 17px; border:none">
                            <select name="@Html.NameFor(x => x.QuickBmpSimples[0].DryWeatherFlowOverrideID).ToString().Replace("0", "{{$index}}")"
                                    class="selectpicker"
                                    data-container="body"
                                    data-width="100%" selectpicker
                                    ng-init="blah = quickBmp"
                                    ng-model="blah.DryWeatherFlowOverrideID"
                                    ng-change="updateDryWeatherFlowOverrideIDForQuickBmp($index, blah)"
                                    ng-options="option.DryWeatherFlowOverrideID as option.DryWeatherFlowOverrideDisplayName for option in AngularViewData.DryWeatherFlowOverrides">
                            </select>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" style="text-align: right; vertical-align: middle">
                                Untreated Percentage
                            </td>
                            <td style="padding-right: 17px; border: none">
                                <div class="input-group">
                                    <input type="number" style="text-align: right; padding-right: 0; cursor:default"class="form-control" value="{{calculateRemainingPercent()}}" disabled/>
                                    <div class="input-group-addon">
                                        <span>%</span>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-xs-12">
                <div class="pull-right">
                    <button class="btn btn-neptune" type="button" ng-click="addQuickBMPRow(AngularModel.QuickBmpSimples)" style="margin: 0 17px 0 0">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr/>
                <div class="pull-right">
                    <button type="submit" ng-click="prepareOptionsForParsing()" class="btn btn-neptune">Save</button>
                    <a href="@ViewDataTyped.WaterQualityManagementPlanDetailUrl" class="btn btn-neptune">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>
