@using Neptune.Web.Views.WaterQualityManagementPlan
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Neptune.EFModels.Entities

@inherits EditWqmpBmps
@model EditWqmpBmpsViewModel

@section JavascriptAndStylesContent
{
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/EditWqmpTreatmentBmpsController.js")"></script>
    <script type="text/javascript">
        jQuery(function () {
            angular.module("NeptuneApp").factory("angularModelAndViewData",
                function() {
                    return {
                        AngularViewData:
                            @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None)),
                        AngularModel: @Html.Raw(JObject.FromObject(Model).ToString(Formatting.None))
                    };
                });
            angular.bootstrap(jQuery('[ng-controller="EditWqmpTreatmentBmpsController"]'), ["NeptuneApp"]);
        });
    </script>

    <style>
        .row-group {
            background: whitesmoke;
        }

        .row-spacing {
            margin-top: 32px;
        }
    </style>
}

<div ng-controller="EditWqmpTreatmentBmpsController">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-12">
                @Html.ValidationSummary()
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Structural BMPs in Detailed Inventory</h4>
                <p>
                    Select an Inventoried Treatment BMP from the dropdown then click <strong>Add</strong> to add it to the list. To add a BMP to the detailed inventory, use the <a href="@ViewDataTyped.NewTreatmentBMPUrl">Add a BMP</a> page. When you're finished editing the Treatment BMPs, click <strong>Save</strong> to submit your changes.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">Select a Treatment BMP</label>
                    <div class="input-group">
                        <select ng-model="treatmentBmp"
                                class="selectpicker"
                                data-live-search="true"
                                data-container="body"
                                data-width="100%" selectpicker
                                title="Select a Treatment BMP"
                                ng-options="treatmentBmp.DisplayName for treatmentBmp in unselectedTreatmentBmps()">
                            <option value="" disabled selected>Select a Treatment BMP to Add</option>
                        </select>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-neptune" ng-click="addTreatmentBmp()">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 35px;"></th>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="treatmentBmpID in AngularModel.TreatmentBmpIDs">
                            <td style="border: none">
                                <span>
                                    <a href="#" ng-click="removeTreatmentBmp(treatmentBmpID)" style="margin-right: 15px">
                                        <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinitionType.TreatmentBMP.GetFieldDefinitionLabel()"></i>
                                    </a>
                                </span>
                            </td>
                            <td style="border: none">
                                <span ng-bind="getTreatmentBmpDisplayName(treatmentBmpID)"></span>
                            </td>
                            <td style="border: none">
                                <span ng-bind="getTreatmentBmpTypeName(treatmentBmpID)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input ng-repeat="treatmentBmpID in AngularModel.TreatmentBmpIDs" type="hidden" name="@Html.NameFor(m => m.TreatmentBmpIDs)" ng-value="treatmentBmpID" />

        <div class="row row-spacing">
            <div class="col-xs-12">
                <div class="pull-right">

                    <button type="submit" class="btn btn-neptune">Save</button>
                    <a href="@ViewDataTyped.WaterQualityManagementPlanDetailUrl" class="btn btn-neptune">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>
