@*-----------------------------------------------------------------------
    <copyright file="BulkDeleteTreatmentBMPs.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.ModalDialog
@using Microsoft.Web.Mvc
@using Neptune.Web.Controllers
@inherits Neptune.Web.Views.TreatmentBMP.BulkDeleteTreatmentBMPs

@if (Model.TreatmentBMPIDList == null || !Model.TreatmentBMPIDList.Any())
{

    <p>
        No Treatment BMPs selected to be deleted.
    </p>

    <script type="text/javascript">
    // <![CDATA[
    var saveButtonId = "@ModalDialogFormHelper.SaveButtonID";
    jQuery("#" + saveButtonId).hide();
    // ]]>
    </script>

}
else
{
    using (Html.BeginForm<TreatmentBMPController>(x => x.BulkDeleteTreatmentBMPsModal(null)))
    {
        <div style="min-height: 150px; max-height: 350px; overflow-y: auto; overflow-x: hidden">
            <div style="margin: 5px 0">Delete @Model.TreatmentBMPIDList.Count @ViewDataTyped.TreatmentBMPLabel?</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">BMP Name</th>
                        <th scope="col">Jurisdiction</th>
                        <th scope="col">Owner</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var treatmentBMP in ViewDataTyped.TreatmentBMPs)
                    {
                        <tr>
                            <td>@treatmentBMP.TreatmentBMPName</td>
                            <td>@treatmentBMP.StormwaterJurisdiction.Organization.OrganizationName</td>
                            <td>@treatmentBMP.OwnerOrganization.OrganizationName</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p><em>Warning: </em>This action cannot be undone</p>
        </div>

        foreach (var treatmentBMPID in Model.TreatmentBMPIDList)
        {
            <input type="hidden" name="@Html.NameFor(x => x.TreatmentBMPIDList)" value="@treatmentBMPID" />
        }
    }
}
