@*-----------------------------------------------------------------------
    <copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@

@using System.Globalization
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Models
@inherits Neptune.Web.Views.TreatmentBMP.EditModelingAttributes

<div class="row">
    <div class="col-xs-12">
        <div class="validationError">
            @Html.ValidationSummary()
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="formPage">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-horizontal">
                            @*<div class="form-group row">
                                <label class="col-sm-4 control-label">
                                    @Html.LabelWithSugarFor(x => x.UpstreamTreatmentBMPID)
                                </label>
                                <div class="col-sm-8">@(ViewDataTyped.TreatmentBMP.TreatmentBMPModelingAttribute != null && ViewDataTyped.TreatmentBMP.TreatmentBMPModelingAttribute.UpstreamTreatmentBMP != null ? ViewDataTyped.TreatmentBMP.TreatmentBMPModelingAttribute.UpstreamTreatmentBMP.GetDisplayNameAsUrl() : new HtmlString(string.Empty))</div>
                            </div>*@

                            @switch (ViewDataTyped.TreatmentBMP.TreatmentBMPType.TreatmentBMPModelingType.ToEnum)
                            {
                                case TreatmentBMPModelingTypeEnum.Bioinfiltrationbioretentionwithraisedunderdrain:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.RoutingConfigurationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.RoutingConfigurationID, ViewDataTyped.RoutingConfigurations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DiversionRate)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DiversionRate)" aria-describedby="attributeUnit" type="number" value="@Model.DiversionRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TimeOfConcentrationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.TimeOfConcentrationID, ViewDataTyped.TimeOfConcentrations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TotalEffectiveBMPVolume)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.TotalEffectiveBMPVolume)" aria-describedby="attributeUnit" type="number" value="@Model.TotalEffectiveBMPVolume" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.StorageVolumeBelowLowestOutletElevation)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.StorageVolumeBelowLowestOutletElevation)" aria-describedby="attributeUnit" type="number" value="@Model.StorageVolumeBelowLowestOutletElevation" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.MediaBedFootprint)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.MediaBedFootprint)" aria-describedby="attributeUnit" type="number" value="@Model.MediaBedFootprint" /><span class="input-group-addon" id="attributeUnit">square feet</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DesignMediaFiltrationRate)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DesignMediaFiltrationRate)" aria-describedby="attributeUnit" type="number" value="@Model.DesignMediaFiltrationRate" /><span class="input-group-addon" id="attributeUnit">in/hr</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.UnderlyingHydrologicSoilGroupID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.UnderlyingHydrologicSoilGroupID, ViewDataTyped.UnderlyingHydrologicSoilGroups, new { @class = "form-control" })</div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.BioretentionwithnoUnderdrain:
                                case TreatmentBMPModelingTypeEnum.InfiltrationBasin:
                                case TreatmentBMPModelingTypeEnum.InfiltrationTrench:
                                case TreatmentBMPModelingTypeEnum.PermeablePavement:
                                case TreatmentBMPModelingTypeEnum.UndergroundInfiltration:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.RoutingConfigurationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.RoutingConfigurationID, ViewDataTyped.RoutingConfigurations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DiversionRate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DiversionRate)" aria-describedby="attributeUnit" type="number" value="@Model.DiversionRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TimeOfConcentrationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.TimeOfConcentrationID, ViewDataTyped.TimeOfConcentrations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TotalEffectiveBMPVolume)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.TotalEffectiveBMPVolume)" aria-describedby="attributeUnit" type="number" value="@Model.TotalEffectiveBMPVolume" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.InfiltrationSurfaceArea)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.InfiltrationSurfaceArea)" aria-describedby="attributeUnit" type="number" value="@Model.InfiltrationSurfaceArea" /><span class="input-group-addon" id="attributeUnit">square feet</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.UnderlyingInfiltrationRate)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.UnderlyingInfiltrationRate)" aria-describedby="attributeUnit" type="number" value="@Model.UnderlyingInfiltrationRate" /><span class="input-group-addon" id="attributeUnit">in/hr</span></div>
                                        </div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.BioretentionwithUnderdrainandImperviousLiner:
                                case TreatmentBMPModelingTypeEnum.SandFilters:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.RoutingConfigurationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.RoutingConfigurationID, ViewDataTyped.RoutingConfigurations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DiversionRate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DiversionRate)" aria-describedby="attributeUnit" type="number" value="@Model.DiversionRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TimeOfConcentrationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.TimeOfConcentrationID, ViewDataTyped.TimeOfConcentrations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TotalEffectiveBMPVolume)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.TotalEffectiveBMPVolume)" aria-describedby="attributeUnit" type="number" value="@Model.TotalEffectiveBMPVolume" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.MediaBedFootprint)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.MediaBedFootprint)" aria-describedby="attributeUnit" type="number" value="@Model.MediaBedFootprint" /><span class="input-group-addon" id="attributeUnit">square feet</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DesignMediaFiltrationRate)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DesignMediaFiltrationRate)" aria-describedby="attributeUnit" type="number" value="@Model.DesignMediaFiltrationRate" /><span class="input-group-addon" id="attributeUnit">in/hr</span></div>
                                        </div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.CisternsforHarvestandUse:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.RoutingConfigurationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.RoutingConfigurationID, ViewDataTyped.RoutingConfigurations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DiversionRate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DiversionRate)" aria-describedby="attributeUnit" type="number" value="@Model.DiversionRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TimeOfConcentrationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.TimeOfConcentrationID, ViewDataTyped.TimeOfConcentrations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TotalEffectiveBMPVolume)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.TotalEffectiveBMPVolume)" aria-describedby="attributeUnit" type="number" value="@Model.TotalEffectiveBMPVolume" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.WinterHarvestedWaterDemand)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.WinterHarvestedWaterDemand)" aria-describedby="attributeUnit" type="number" value="@Model.WinterHarvestedWaterDemand" /><span class="input-group-addon" id="attributeUnit">gpd</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.SummerHarvestedWaterDemand)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.SummerHarvestedWaterDemand)" aria-describedby="attributeUnit" type="number" value="@Model.SummerHarvestedWaterDemand" /><span class="input-group-addon" id="attributeUnit">gpd</span></div></div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.ConstructedWetland:
                                case TreatmentBMPModelingTypeEnum.WetDetentionBasin:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.RoutingConfigurationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.RoutingConfigurationID, ViewDataTyped.RoutingConfigurations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DiversionRate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DiversionRate)" aria-describedby="attributeUnit" type="number" value="@Model.DiversionRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TimeOfConcentrationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.TimeOfConcentrationID, ViewDataTyped.TimeOfConcentrations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.PermanentPoolorWetlandVolume)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.PermanentPoolorWetlandVolume)" aria-describedby="attributeUnit" type="number" value="@Model.PermanentPoolorWetlandVolume" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DesignResidenceTimeforPermanentPool)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DesignResidenceTimeforPermanentPool)" aria-describedby="attributeUnit" type="number" value="@Model.DesignResidenceTimeforPermanentPool" /><span class="input-group-addon" id="attributeUnit">days</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.WaterQualityDetentionVolume)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.WaterQualityDetentionVolume)" aria-describedby="attributeUnit" type="number" value="@Model.WaterQualityDetentionVolume" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DrawdownTimeforWQDetentionVolume)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DrawdownTimeforWQDetentionVolume)" aria-describedby="attributeUnit" type="number" value="@Model.DrawdownTimeforWQDetentionVolume" /><span class="input-group-addon" id="attributeUnit">hours</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.WinterHarvestedWaterDemand)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.WinterHarvestedWaterDemand)" aria-describedby="attributeUnit" type="number" value="@Model.WinterHarvestedWaterDemand" /><span class="input-group-addon" id="attributeUnit">gpd</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.SummerHarvestedWaterDemand)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.SummerHarvestedWaterDemand)" aria-describedby="attributeUnit" type="number" value="@Model.SummerHarvestedWaterDemand" /><span class="input-group-addon" id="attributeUnit">gpd</span></div></div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.DryExtendedDetentionBasin:
                                case TreatmentBMPModelingTypeEnum.FlowDurationControlBasin:
                                case TreatmentBMPModelingTypeEnum.FlowDurationControlTank:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.RoutingConfigurationID)
                                        </label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(x => x.RoutingConfigurationID, ViewDataTyped.RoutingConfigurations, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DiversionRate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DiversionRate)" aria-describedby="attributeUnit" type="number" value="@Model.DiversionRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TimeOfConcentrationID)
                                        </label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(x => x.TimeOfConcentrationID, ViewDataTyped.TimeOfConcentrations, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TotalEffectiveBMPVolume)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.TotalEffectiveBMPVolume)" aria-describedby="attributeUnit" type="number" value="@Model.TotalEffectiveBMPVolume" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.StorageVolumeBelowLowestOutletElevation)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.StorageVolumeBelowLowestOutletElevation)" aria-describedby="attributeUnit" type="number" value="@Model.StorageVolumeBelowLowestOutletElevation" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.EffectiveFootprint)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.EffectiveFootprint)" aria-describedby="attributeUnit" type="number" value="@Model.EffectiveFootprint" /><span class="input-group-addon" id="attributeUnit">square feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TotalDrawdownTime)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.TotalDrawdownTime)" aria-describedby="attributeUnit" type="number" value="@Model.TotalDrawdownTime" /><span class="input-group-addon" id="attributeUnit">hours</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.UnderlyingHydrologicSoilGroupID)
                                        </label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(x => x.UnderlyingHydrologicSoilGroupID, ViewDataTyped.UnderlyingHydrologicSoilGroups, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.DryWeatherTreatmentSystems:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DesignDryWeatherTreatmentCapacity)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DesignDryWeatherTreatmentCapacity)" aria-describedby="attributeUnit" type="number" value="@Model.DesignDryWeatherTreatmentCapacity" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.AverageTreatmentFlowrate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.AverageTreatmentFlowrate)" aria-describedby="attributeUnit" type="number" value="@Model.AverageTreatmentFlowrate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.MonthsofOperation)
                                        </label>
                                        <div class="col-sm-8">
                                            @Html.CheckBoxListFor(x => x.MonthsofOperation, ViewDataTyped.MonthsOfOperation)
                                        </div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.Drywell:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.RoutingConfigurationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.RoutingConfigurationID, ViewDataTyped.RoutingConfigurations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DiversionRate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DiversionRate)" aria-describedby="attributeUnit" type="number" value="@Model.DiversionRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TimeOfConcentrationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.TimeOfConcentrationID, ViewDataTyped.TimeOfConcentrations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TotalEffectiveDrywellBMPVolume)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.TotalEffectiveDrywellBMPVolume)" aria-describedby="attributeUnit" type="number" value="@Model.TotalEffectiveDrywellBMPVolume" /><span class="input-group-addon" id="attributeUnit">cubic feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.InfiltrationDischargeRate)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.InfiltrationDischargeRate)" aria-describedby="attributeUnit" type="number" value="@Model.InfiltrationDischargeRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div>
                                        </div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.HydrodynamicSeparator:
                                case TreatmentBMPModelingTypeEnum.ProprietaryBiotreatment:
                                case TreatmentBMPModelingTypeEnum.ProprietaryTreatmentControl:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TreatmentRate)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.TreatmentRate)" aria-describedby="attributeUnit" type="number" value="@Model.TreatmentRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TimeOfConcentrationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.TimeOfConcentrationID, ViewDataTyped.TimeOfConcentrations, new { @class = "form-control" })</div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.LowFlowDiversions:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DesignLowFlowDiversionCapacity)
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DesignLowFlowDiversionCapacity)" aria-describedby="attributeUnit" type="number" value="@Model.DesignLowFlowDiversionCapacity" /><span class="input-group-addon" id="attributeUnit">gpd</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.AverageDivertedFlowrate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.AverageDivertedFlowrate)" aria-describedby="attributeUnit" type="number" value="@Model.AverageDivertedFlowrate" /><span class="input-group-addon" id="attributeUnit">gpd</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.MonthsofOperation)
                                        </label>
                                        <div class="col-sm-8">
                                            @Html.CheckBoxListFor(x => x.MonthsofOperation, ViewDataTyped.MonthsOfOperation)
                                        </div>
                                    </div>
                                    break;
                                case TreatmentBMPModelingTypeEnum.VegetatedFilterStrip:
                                case TreatmentBMPModelingTypeEnum.VegetatedSwale:
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.RoutingConfigurationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.RoutingConfigurationID, ViewDataTyped.RoutingConfigurations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.DiversionRate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.DiversionRate)" aria-describedby="attributeUnit" type="number" value="@Model.DiversionRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TimeOfConcentrationID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.TimeOfConcentrationID, ViewDataTyped.TimeOfConcentrations, new { @class = "form-control" })</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.TreatmentRate)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.TreatmentRate)" aria-describedby="attributeUnit" type="number" value="@Model.TreatmentRate" /><span class="input-group-addon" id="attributeUnit">cfs</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.WettedFootprint)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.WettedFootprint)" aria-describedby="attributeUnit" type="number" value="@Model.WettedFootprint" /><span class="input-group-addon" id="attributeUnit">square feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.EffectiveRetentionDepth)
                                        </label>
                                        <div class="col-sm-8"><div class="input-group"><input class="form-control" name="@Html.NameFor(m => m.EffectiveRetentionDepth)" aria-describedby="attributeUnit" type="number" value="@Model.EffectiveRetentionDepth" /><span class="input-group-addon" id="attributeUnit">feet</span></div></div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 control-label">
                                            @Html.LabelWithSugarFor(x => x.UnderlyingHydrologicSoilGroupID)
                                        </label>
                                        <div class="col-sm-8">@Html.DropDownListFor(x => x.UnderlyingHydrologicSoilGroupID, ViewDataTyped.UnderlyingHydrologicSoilGroups, new { @class = "form-control" })</div>
                                    </div>
                                    break;
                            }
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-xs-12 col-sm-2">
                            <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
                        </div>
                        <div class="col-xs-12 col-sm-10" style="text-align: right">
                            <button type="submit" class="btn btn-neptune">Save</button>
                            <a href="@ViewDataTyped.SubEntityUrl" class="btn btn-neptune">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}