@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.TreatmentBMP.FindABMP

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.Stormwater.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.StormwaterSearch.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Views/TreatmentBMP/TreatmentBMPMapController.js")"></script>
    <link href="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: null,
                        AngularViewData:
                            @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
                    };
                });
        // ]]>
    </script>

}

@section RightOfPageTitle
{
    @if (ViewDataTyped.HasManagePermissions)
    {
        <a class="btn btn-neptune headerButtonText treatmentBMPButton" href="@ViewDataTyped.NewUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus") Add Treatment BMP</a>
    }
}

<div class="pageIntroText">
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<div ng-app="NeptuneApp" ng-controller="TreatmentBMPMapController">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <p class="systemText">Or, search for a BMP by name, click a BMP icon on the map, or see all BMPs in the grid at the bottom of the page.</p>
                    <div class="input-group">
                        <input type="text" id="treatmentBMPFinder" class="typeahead form-control" placeholder="Enter the name of a Treatment BMP" autocomplete="off"/>
                        <span class="input-group-btn">
                            <a id="treatmentBMPFinderButton" class="btn btn-default">
                                <i class="glyphicon glyphicon-search"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-12">
                    <a style="margin-bottom: 10px" class="btn btn-neptune" ng-click="zoomMapToCurrentLocation()"><i class="glyphicon glyphicon-phone"></i>Find nearby BMPs</a>
                    <p class="systemText">Use your device location to find nearby BMPs. This works best for devices with GPS.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div id="mapContainer">
                <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 300px; margin: 0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div>
                    <p class="systemText">Found {{visibleBMPCount()}} BMPs.</p>
                    <div style="height: 270px; overflow-y: scroll;">
                        <table ng-if="visibleBMPCount() <= 15" class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>BMP Name</th>
                                <th>BMP Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="treatmentBMP in visibleBMPs()">
                                <td class="text-center">
                                    <span ng-if="!isActive(treatmentBMP)" class="btn btn-neptune" ng-click="setActive(treatmentBMP)">Select</span>
                                    <span ng-if="isActive(treatmentBMP)" class="btn btn-neptune" disabled>Selected</span>
                                </td>
                                <td>
                                    <span ng-bind="treatmentBMP.DisplayName" style="line-height: 22px; overflow: hidden; text-overflow: ellipsis; max-height: 22px; white-space: nowrap;"></span>
                                </td>
                                <td>
                                    <span ng-bind="treatmentBMP.TreatmentBMPTypeName" style="line-height: 22px; overflow: hidden; text-overflow: ellipsis; max-height: 22px; white-space: nowrap;"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p ng-if="visibleBMPCount() > 15" class="systemText">Zoom in on the map or search by BMP name to see a list of BMPs</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" id="mapSummaryResults"></div>
        </div>
    </div>
</div>