@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using Neptune.Web.Views.TreatmentBMP
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits FindABMP

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Views/TreatmentBMP/TreatmentBMPMapController.js")"></script>
    <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: null,
                        AngularViewData:
                            @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
                    };
                });

        jQuery(document).ready(function () {
            jQuery("#treatmentBMPTypeDropDown").selectpicker("selectAll");

            jQuery("#jurisdictionDropDown").selectpicker("selectAll");
        });
        // ]]>
    </script>

    <style>
        .selected-bmp {
            background-color: #FFFF85;
        }

            .selected-bmp:hover {
                background-color: #FFFF85 !important;
            }

        .list-group-item .help-block {
            margin-bottom: 0;
            font-size: 12px;
        }

        ul.list-group {
            max-height: 350px;
            overflow-y: auto;
            border: 1px solid #eee;
            border-top: none;
            border-bottom: none;
        }

        @@media (max-width: 991px) {
            .mapDiv {
                height: 350px;
            }
        }

        @@media (min-width: 992px) {
            .mapDiv {
                height: 525px;
            }
        }

        li.list-group-item {
            color: #737373;
            cursor: pointer;
        }

            li.list-group-item:hover {
                background-color: #eee;
                cursor: pointer;
            }

        .panel.panelNeptune {
            border: none;
        }

        .aligned-row {
            display: flex;
            &::before

        {
            display: block;
        }

        }

        .no-padding-centered-col {
            padding-left: 0;
            padding-right: 0;
            display: flex;
            align-items: center;
        }
    </style>

}


@section RightOfPageTitle
{
    @if (ViewDataTyped.HasEditPermissions)
    {
        <a class="btn btn-neptune headerButtonText treatmentBMPButton" href="@ViewDataTyped.NewUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus") Add Treatment BMP</a>
    }}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div ng-app="NeptuneApp" ng-controller="TreatmentBMPMapController">
    <div class="row">
        <div class="col-sm-8 col-md-3">
            <div class="input-group">
                <input type="text" id="treatmentBMPFinder" class="typeahead form-control" placeholder="Search by BMP name" autocomplete="off" />
                <span class="input-group-btn">
                    <a id="treatmentBMPFinderButton" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </a>
                </span>
            </div>

        </div>
        <div class="col-sm-4 col-md-3">
            <a style="width: 100%" class="btn btn-neptune" ng-click="zoomMapToCurrentLocation()"><i class="glyphicon glyphicon-phone" style="margin-right: 4px;"></i>Find nearby BMPs</a>
        </div>
        <div class="col-sm-8 col-md-6">
            <div class="aligned-row">
                <div class="col-xs-4 no-padding-centered-col">
                    <span style="font-weight: bold">Filter by BMP Type</span>
                </div>
                <div class="col-xs-8" style="padding: 0">
                    <select id="treatmentBMPTypeDropDown" class="selectpicker" data-width="100%" multiple="multiple" ng-change="filterMapByBmpType()" ng-model="selectedTreatmentBMPTypeIDs"
                            data-selected-text-format="count>1" data-count-selected-text="{0} of {1} selected" data-actions-box="true">
                        <option ng-repeat="treatmentBMPType in AngularViewData.TreatmentBMPTypes | orderBy:'TreatmentBMPTypeName'" value="{{treatmentBMPType.TreatmentBMPTypeID}}">
                            {{treatmentBMPType.TreatmentBMPTypeName}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:2px">
        <div class="col-sm-8 col-md-6 col-md-push-6">
            <div class="aligned-row">
                <div class="col-xs-4 no-padding-centered-col">
                    <span style="display: inline-block; width: 138px; font-weight: bold">Filter by Jurisdiction</span>
                </div>
                <div class="col-xs-8" style="padding: 0">
                    <select id="jurisdictionDropDown" class="selectpicker" data-width="100%" multiple="multiple" ng-change="filterMapByJurisdiction()" ng-model="selectedJurisdictionIDs"
                            data-selected-text-format="count>1" data-count-selected-text="{0} of {1} selected" data-actions-box="true">
                        <option ng-repeat="jurisdiction in AngularViewData.Jurisdictions | orderBy:'StormwaterJurisdictionDisplayName'" value="{{jurisdiction.StormwaterJurisdictionID}}">
                            {{jurisdiction.StormwaterJurisdictionDisplayName}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
            <div id="mapContainer">
                <div id="@ViewDataTyped.MapInitJson.MapDivID" class="mapDiv" style="margin: 0">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9">
            <div class="panel panelNeptune">
                <div class="panel-heading panelTitle">
                    <h3>
                        BMPs in Map View
                    </h3>
                </div>
                <ul class="list-group" ng-if="visibleBMPCount() <= @FindABMPViewData.MaxNumberOfBmpsInList">
                    <li class="list-group-item" ng-repeat="treatmentBMP in visibleBMPs()" ng-click="setActive(treatmentBMP)" ng-class="{'selected-bmp' : isActive(treatmentBMP)}">
                        <strong>{{treatmentBMP.DisplayName}}</strong>
                        <div class="help-block">
                            {{treatmentBMP.TreatmentBMPTypeName}}
                        </div>
                    </li>
                </ul>
                <div class="panel-body" ng-if="visibleBMPCount() >  @FindABMPViewData.MaxNumberOfBmpsInList">
                    <p class="systemText">{{visibleBMPCount()}} BMPs shown on map - Zoom closer see a list</p>
                </div>

            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-4 col-md-3">
        </div>

        <div class="col-sm-8 col-md-12" id="mapSummaryResults"></div>
    </div>
    @if (!ViewDataTyped.CurrentPerson.IsAnonymousOrUnassigned())
    {
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <h4 style="margin-top: 0;">Didn't find the BMP you were looking for?</h4>
                <a href="@ViewDataTyped.AllBMPsUrl" class="btn btn-neptune btn">View list of All BMPs</a>
                @if (ViewDataTyped.HasManagePermissions)
                {
                    <a class="btn btn-neptune headerButtonText treatmentBMPButton" href="@ViewDataTyped.NewUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus") Add Treatment BMP</a>
                }
            </div>
        </div>
    }
</div>