@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Web.Views
@using Neptune.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@inherits Neptune.Web.Views.TreatmentBMP.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

}

@section RightOfPageTitle
{
    <div class="dropdown">
        <button id="actionsDropdown" class="btn btn-neptune" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
            Actions
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labeledby="actionsDropdown" style="list-style: none; background: #fff;">
            @if (ViewDataTyped.HasEditPermissions)
            {
                <li><a href="@ViewDataTyped.NewUrl">Add Treatment BMP</a></li>
            }
            @if (ViewDataTyped.HasAdminPermissions)
            {        
                <li><a href="@ViewDataTyped.BulkBMPUploadUrl">Bulk Upload Treatment BMP</a></li>
                <li>@ModalDialogFormHelper.ModalDialogFormLink("Refresh LSPC Basins", ViewDataTyped.RefreshLSPCBasinsUrl, "Refresh LSPC Basin layer from OC Survey", 400, "Continue", "Cancel", null, null, null)</li>
                <li>@ModalDialogFormHelper.ModalDialogFormLink("Refresh Precipitation Zones", ViewDataTyped.RefreshPrecipitationZonesUrl, "Refresh Precipitation Zones layer from OC Survey", 400, "Continue", "Cancel", null, null, null)</li>
            }
            <li><a href="javascript:createDownloadConfirmDialog()">Export Inventory to GIS</a></li>
        </ul>
    </div>
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Treatment BMP Table
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:600px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>

<script>
    function createDownloadConfirmDialog()
    {
        var alertHtml =
            "<div class='modal neptune-modal' style='width: 500px; margin:auto;'>" +
                "<div class='modal-dialog neptune-modal-dialog'>" +
                "<div class='modal-content'>" +
                "<div class='modal-header'>" +
                "<button type='button' class='btn btn-xs btn-neptune modal-close-button' data-dismiss='modal'><span>&times</span></button>" +
                "<span class='modal-title'>Export Inventory to GIS</span>" +
                "</div>" +
                "<div class='modal-body'><p>This will download the BMP Inventory to your computer as a file geodatabase. " +
                "This will open a new tab and may take several minutes. Please do not close your browser or the new tab until the download is complete.</p>" +
                "<p>The file geodatabase will contain @ViewDataTyped.FeatureClassesInExportCount feature classes and a total of @ViewDataTyped.TreatmentBmpsInExportCount BMPs.</p></div>" +
                "<div class='modal-footer'>" +
                "<button type='button' class='btn btn-neptune pull-right' data-dismiss='modal'>Cancel</button>" +
                "<a class='btn btn-neptune pull-right' style='margin-right:5px;' onclick='openDownloadUrl()' data-dismiss='modal'>Continue</a>" +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>";
        var alertDiv = jQuery(alertHtml);
        alertDiv.modal({ keyboard: true });
        alertDiv.draggable({ handle: ".modal-header" });
    }

    function openDownloadUrl() {
        window.open("@ViewDataTyped.DownloadBMPInventoryUrl");
    }
</script>