@*-----------------------------------------------------------------------
<copyright file="SummaryForMap.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.Web.Models
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@inherits Neptune.Web.Views.TreatmentBMP.SummaryForMap

<style>
    .keyPhoto {
        margin-left: auto;
        margin-right: auto;
    }
    .keyPhoto img {
        max-height: 350px;
    }
    .captionText {
        font-size: 12px;
    }
</style>

<div class="panel panelNeptune">
    <div class="panel-heading panelTitle">
        BMP Overview
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-7">

                <div class="row">
                <label class="col-sm-4 control-label text-right">Name</label>
                <div class="col-sm-8">@ViewDataTyped.TreatmentBMP.TreatmentBMPName</div>
            </div>
            <div class="row">
                <label class="col-sm-4 control-label text-right">@Html.LabelWithSugarFor(FieldDefinition.TreatmentBMPType, "Type")</label>
                <div class="col-sm-8">@ViewDataTyped.TreatmentBMP.TreatmentBMPType.TreatmentBMPTypeName</div>
            </div>

            <div class="row">
                <label class="col-sm-4 control-label text-right">@Html.LabelWithSugarFor(FieldDefinition.Jurisdiction, "Jurisdiction")</label>
                <div class="col-sm-8">@ViewDataTyped.TreatmentBMP.StormwaterJurisdiction.GetDisplayNameAsDetailUrl()</div>
            </div>
            <div class="row">
                <label class="col-sm-4 control-label text-right">Score</label>
                <div class="col-sm-8">@ViewDataTyped.TreatmentBMP.GetMostRecentScoreAsString()</div>
            </div>
            <div class="row">
                <label class="col-sm-4 control-label text-right">Notes</label>
                <div class="col-sm-8">@ViewDataTyped.TreatmentBMP.Notes</div>
                </div>

            </div>
            <div class="col-sm-5">
                @if (ViewDataTyped.KeyPhoto != null)
                {
                    <div class="keyPhoto">
                        <img class="img-responsive" src="@(ViewDataTyped.KeyPhoto.PhotoUrl)" alt="@ViewDataTyped.KeyPhoto.CaptionOnFullView" />
                        <span class="captionText">@ViewDataTyped.KeyPhoto.Caption</span>
                    </div>
                }
                else
                {
                    <div class="text-center">
                        <p class="systemText">No Key Photo provided for this Treatment BMP</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>