@*-----------------------------------------------------------------------
<copyright file="SummaryForMap.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.Web.Models
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Views
@inherits Neptune.Web.Views.TreatmentBMP.SummaryForMap

<style>
    .keyPhoto {
        margin-left: auto;
        margin-right: auto;
    }

    .keyPhoto img { max-height: 150px; }

    .noKeyPhoto {
        height: 150px;
        background-color: #f9f9f9;
    }

    .noKeyPhoto p {
        padding: 55px 5px 0 5px;
    }

    .captionText { font-size: 12px; }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h4>@ViewDataTyped.TreatmentBMP.TreatmentBMPName</h4>
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                @if (ViewDataTyped.KeyPhoto != null)
                {
                    <div class="keyPhoto">
                        <a id="keyPhoto" href="@ViewDataTyped.KeyPhoto.PhotoUrl" title="@ViewDataTyped.KeyPhoto.CaptionOnFullView" data-caption="@Html.Raw(@ViewDataTyped.KeyPhoto.CaptionOnFullView.HtmlEncode())">
                            <p class="img">
                                <img src="@ViewDataTyped.KeyPhoto.PhotoUrlScaledThumbnail(200)" alt="@ViewDataTyped.KeyPhoto.CaptionOnFullView" />
                            </p>
                        </a>
                        <div class="caption">
                            @Html.Raw(ViewDataTyped.KeyPhoto.CaptionOnGallery.HtmlEncodeWithBreaks())
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center noKeyPhoto">
                        <p class="systemText">No Key Photo provided for this Treatment BMP</p>
                    </div>
                }
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-xs-12">@Html.LabelWithSugarFor(FieldDefinition.TreatmentBMPType, "Type"): @ViewDataTyped.TreatmentBMP.TreatmentBMPType.TreatmentBMPTypeName</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">@Html.LabelWithSugarFor(FieldDefinition.Jurisdiction, "Jurisdiction"): @ViewDataTyped.TreatmentBMP.StormwaterJurisdiction.GetDisplayNameAsDetailUrl()</div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><strong>Notes:</strong> @ViewDataTyped.TreatmentBMP.Notes</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-right">
        <a href="@ViewDataTyped.TreatmentBMP.GetDetailUrl()" class="btn btn-neptune">View Details</a>
        <a href="#" class="btn btn-neptune">Begin Inspection</a>                
    </div>
    <hr/>
    <div class="col-xs-12 text-right">
        <a href="#" class="btn btn-sm btn-warning">Flag for Deletion</a>
        <div class="help-block">If you can't locate the BMP in the field, flag for removal from the inventory</div>
    </div>
</div>

<script>
    // <![CDATA[
    jQuery(document).ready(function()
    {
        var keyPhoto = jQuery("#keyPhoto");
        keyPhoto.fancybox({ "type": "image" }); //hook up fancybox again.
    });
    // ]]>
</script>