@*-----------------------------------------------------------------------
    <copyright file="NewMonitoringProgramDocument.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@


@using LtInfo.Common.HtmlHelperExtensions
@inherits Neptune.Web.Views.TreatmentBMP.UploadTreatmentBMPs

<style>

    .mt-2 {
        margin-top: 20px;
    }

    .mb-2 {
        margin-bottom: 20px;
    }
</style>
<p>Use this form to bulk upload Treatment BMPs. If the upload fails a detailed error report will be provided, otherwise BMPs will be imported per the CSV. Once uploaded, this action cannot be undone. <strong>It is strongly advised to test the upload in the QA environment prior to bulk uploading data to Production.</strong> The CSV must have a header row with column names that match the label of the field to be uploaded. The CSV should follow this general format:</p>

<pre class="panel">
BMP Name,BMP Type,Latitude,Longitude,Jurisdiction,Owner,Year Built or Installed,Asset ID in System of Record,Required Lifespan of Installation,Allowable End Date of Installation (if applicable),Required Field Visits Per Year,Required Post-Storm Field Visits Per Year,Notes,Trash Capture Status,Sizing Basis
Test2,Drywell,30,10,Sitka Technology Group,Sitka Technology Group,2008,ABCD,Perpetuity/Life of Project,,5,6,Happy,Full,Not Provided
</pre>

<p>Some fields are optional and others are required. Optional fields must exist in the CSV header, but can have blank/null data in the CSV. The fields must appear in the specified order.</p>


<form method="post" enctype="multipart/form-data">
    <div class="form-group form-horizontal">
        <div class="col-sm-2 col-xs-12 control-label">
            @Html.LabelWithSugarFor(m => m.BMPType)
        </div>
        <div class="col-sm-10 col-xs-12">
            @Html.DropDownListFor(m => m.BMPType, ViewDataTyped.BMPTypes, new { @class = "form-control", style = "width:auto;" })
        </div>
    </div>
    <div class="form-group form-horizontal">
        <div class="col-sm-2 col-xs-12 control-label">
            @Html.LabelWithSugarFor(m => m.UploadCSV)
        </div>
        <div class="col-sm-10 col-xs-12">
            @Html.EditorFor(m => m.UploadCSV, new { @class = "form-control", stylke = "width:400px;" })
        </div>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-neptune">Upload</button>
    </div>
    <div class="clearfix"></div>
</form>

@if (ViewDataTyped.ErrorList.Any())
{
    var count = 1;
    <div>
        <div class="alert alert-danger">There are @ViewDataTyped.ErrorList.Count errors that need to be fixed before upload can be successful</div>
        <div class="col-md-12 col-xs-12 mt-2">

            <div class="row mt-2">
                <div class="col-sm-1">
                    <strong>Error</strong>
                </div>
                <div class="col-sm-11">
                    <strong>Description</strong>
                </div>
            </div>
            @foreach (var error in ViewDataTyped.ErrorList)
            {
                <div clas="row">
                    <div class="col-sm-1">
                        @count
                    </div>
                    <div class="col-sm-11">
                        @error
                    </div>
                </div>
                count++;

            }
        </div>
    </div>
}