@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.WebMvc.Common.HtmlHelperExtensions
@inherits Neptune.WebMvc.Views.Jurisdiction.Edit
@model Neptune.WebMvc.Views.Jurisdiction.EditViewModel
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-5 control-label">
            @Html.LabelWithSugarFor(x => x.StormwaterJurisdictionPublicBMPVisibilityTypeID, "Which BMPs are Visible to the Public?")
        </div>
        <div class="col-sm-7">
            @Html.DropDownListFor(m => m.StormwaterJurisdictionPublicBMPVisibilityTypeID, ViewDataTyped.StormwaterJurisdictionPublicBMPVisibilityTypes, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.StormwaterJurisdictionPublicBMPVisibilityTypeID)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5 control-label">
            @Html.LabelWithSugarFor(x => x.StormwaterJurisdictionPublicWQMPVisibilityTypeID, "Which WQMPs are Visible to the Public?")
        </div>
        <div class="col-sm-7">
            @Html.DropDownListFor(m => m.StormwaterJurisdictionPublicWQMPVisibilityTypeID, ViewDataTyped.StormwaterJurisdictionPublicWQMPVisibilityTypes, new { @class = "form-control", style = "width:100%" })
            @Html.ValidationMessageFor(m => m.StormwaterJurisdictionPublicWQMPVisibilityTypeID)
        </div>
    </div>
</div>
    @Html.HiddenFor(m => m.StormwaterJurisdictionID)
}