@*-----------------------------------------------------------------------
<copyright file="NewMonitoringProgramDocument.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.WebMvc.Views.TreatmentBMPDocument
@using Neptune.WebMvc.Common.HtmlHelperExtensions
@inherits Edit
@model EditViewModel

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-12 control-label">
            @Html.LabelWithSugarFor(m => m.DisplayName)
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(x => x.DisplayName, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.DisplayName, null)
        </div>
        
    </div>
    <div class="form-group">
        <div class="col-md-12 control-label">
            @Html.LabelWithSugarFor(m => m.DocumentDescription)
        </div>
        <div class="col-md-12">
            @Html.TextAreaWithMaxLengthFor(x => x.DocumentDescription, new TextAreaForExtensions.TextAreaDimensions(null, 4), "Enter document description", new List<string> { "form-control" })
            @Html.ValidationMessageFor(x => x.DocumentDescription, null)
        </div>
    </div>
}