@*-----------------------------------------------------------------------
    <copyright file="SummaryForMap.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@inherits Neptune.WebMvc.Views.Parcel.SummaryForMap

<div class="panel panelNeptune" style="margin-top: 10px">
    <div class="panel-heading panelTitle">Parcel Information</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Html.Label("APN")</dt>
            <dd>@ViewDataTyped.Parcel.ParcelNumber</dd>
                    
            <dt>@Html.Label("Owner Name")</dt>
            <dd>@ViewDataTyped.Parcel.OwnerName</dd>
        
            <dt>@Html.Label("Address") </dt>
            <dd>
                @if (ViewDataTyped.Parcel.HasValidAddress())
                {
                    @ViewDataTyped.Parcel.GetParcelAddress()
                }
                else
                {
                    <span class="systemText">Address not available</span>
                }
            </dd>
        
            <dt>@Html.Label("Reported Land Use") </dt>
            <dd>@ViewDataTyped.Parcel.LandUse</dd>        
        </dl>
    </div>
</div>