@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Areas.DroolTool.Views.Home.Index

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/Content/JQuery/jquery.toast.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/JQuery/MonthPicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.GeoServerMap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/DroolTool/Views/Home/DroolToolMap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/JQuery/jquery.slideout/jquery.slideout.js")" type="text/javascript"></script>

    <link rel="stylesheet" href="@Url.Content("~/Areas/DroolTool/Views/Home/DroolToolSplash.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Areas/DroolTool/Views/Home/DroolToolMain.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/JQuery/jquery.toast.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/JQuery/MonthPicker.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/JQuery/jquery.slideout/jquery.slideout.min.css")"/>
    <script>

        window.mapInitJson =
            @Html.Raw(JObject.FromObject(ViewDataTyped.StormwaterMapInitJson).ToString(Formatting.None));
        window.mapConfig = @Html.Raw(JObject.FromObject(ViewDataTyped.DroolToolMapConfig).ToString(Formatting.None));

        initResizeHandler(window.mapInitJson);
    </script>
    <meta name="Description" content="Neptune provides public access to program information and details on watershed, habitat, stormwater, forestry, air quality, and projects implemented by Neptune partners."/>

    <style>


        @@media only screen and (max-width: 869px) {
            .neighborhood-detail-hidden-mobile,
            .neighborhood-detail-show-hidden-mobile,
            .expand-slideout-alternate-mobile-container,
            .close-slideout-button-mobile {
                display: none !important;
            }

            .neighborhood-detail-control {
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                max-width: none;
                z-index: 5000000000;
                border: none !important;
                margin: 0 !important;
            }

            .expando-bar {
                display: none;
            }

            .leaflet-top {
                position: static;
            }
            
            body { overflow: hidden; }

            #highlightFlowButton {
                display: none;
            }

            .slideout {
                width: 100% !important;
                height: 100% !important;
                 text-align: center !important;
                 position: relative !important;
            }
    }

        @@media only screen and (min-width: 870px) {
            .neighborhood-detail-show-mobile {
                display: none !important;
            }
        }

        button.neighborhood-detail-show-mobile:disabled {
            background-color: #606060;
        }

    </style>
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }




@section DroolToolMap
{
    <div class="container-fluid" id="@ViewDataTyped.StormwaterMapInitJson.MapDivID" style="width: 100%; height: 1000px;"></div>

    <div class="aboutYourNeighborhoodSlideout slideout">
        <img src="@Url.Content("~/Areas/DroolTool/Content/mock/slideout1.png")" />
    </div>

    <div class="waterUsageSlideout slideout">
        <img src="@Url.Content("~/Areas/DroolTool/Content/mock/slideout2.png")" />
    </div>

    <div class="conservationActionsSlideout slideout">
        <img src="@Url.Content("~/Areas/DroolTool/Content/mock/slideout3.png")" />
    </div>

    <script>
        jQuery(function() {
            window.map = new NeptuneMaps.DroolToolMap(window.mapInitJson, "Hillshade", "@ViewDataTyped.GeoserverUrl",
                window.mapConfig);

            jQuery(".aboutYourNeighborhoodSlideout").slideout({
                targetSelector: '.sectionAboutYourNeighborhood',
                xorSlideouts: true,
                width: '230px',
                clickTargetToExpand: true,
                mediaQuery: " (min-width: 870px) ",
                alternate: {

                }
            });
            jQuery(".waterUsageSlideout").slideout({
                targetSelector: '.sectionWaterUsage',
                xorSlideouts: true,
                width: '450px',
                clickTargetToExpand: true,
                mediaQuery: " (min-width: 870px) "
            });
            jQuery(".conservationActionsSlideout").slideout({
                targetSelector: '.sectionConservationActions',
                xorSlideouts: true,
                width: '450px',
                clickTargetToExpand: true,
                mediaQuery: " (min-width: 870px) "
            });


            function killSplash() {
                jQuery("#splashModal").detach();
                window.map.intializeTray();
                jQuery("header").show();
                resizeHandler(window.mapInitJson);
            }


            jQuery("#enterAddressButton").on("click",
                function() {
                    jQuery(".callToActionContainer").hide();
                    jQuery(".splashSearchContainer").show();
                });

            jQuery("#closeSplashButton").on("click",
                function() {
                    killSplash();
                });

            jQuery("#splashModal .nominatimSearchButton").on("click",
                function() {
                    var q = jQuery("#splashModal .nominatimSearchInput").val();
                    RemoteService.nominatimLookup(q);

                    killSplash();
                });

            jQuery("#splashModal .nominatimSearchInput").on("keyup",
                function(event) {
                    if (event.keyCode === 13) {
                        var q = jQuery("#splashModal .nominatimSearchInput").val();
                        RemoteService.nominatimLookup(q);

                        killSplash();
                    }
                });

        });
    </script>

    <div id="hiddenOnLoadControlElements" style="display: none;">
        <div class="row" id="nominatimSearchWrapper">
            <div class="col-xs-10">
                <div class="input-group">
                    <input type="text" class="form-control nominatimSearchInput" style="outline: currentcolor none medium; margin-top: 0;" placeholder="Search by address or landmark">
                    <span class="input-group-btn"><a class="btn btn-sm btn-neptune nominatimSearchButton" style="height: 34px; color: white; padding-top: 7px;"><i class="glyphicon glyphicon-search"></i></a></span>
                </div>
            </div>
            <div class="col-xs-2 showLocationWrapper" style="padding: 0;">

            </div>
        </div>
    </div>

    <div id="splashModal" style="overflow: hidden;">
        <div id="splashModalContent">
            <div class="row">
                <div class="col-md-2 hidden-sm hidden-xs"></div>
                <div class="col-md-8 text-center">
                    <img class="droolSplashLogo" src="@Url.Content("~/Areas/DroolTool/Content/udt_color_logo.png")" />
                </div>
                <div class="col-md-2 hidden-sm hidden-xs"></div>
            </div>
            <div class="row">
                <div class="col-md-2 hidden-sm hidden-xs"></div>
                <div class="col-md-8 text-center splashHeaderContainer">
                    <p class="droolToolSplashHeader">Learn about how your neighborhood is conserving water and protecting our streams and beaches</p>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs"></div>
            </div>
            <div class="row">
                <div class="col-md-2 hidden-sm hidden-xs"></div>
                <div class="col-md-8 text-center splashSubheaderContainer">
                    <p class="droolToolSplashSubheader">The Urban Drool Tool is a collaborative project between the Moulton Niguel Water District, the County of Orange, and the Cities of Aliso Viejo, Mission Viejo, Laguna Niguel, Laguna Woods, Laguna Hills.</p>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs"></div>
            </div>
            <div class="row">
                <div class="col-md-2 hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-6 col-xs-12 droolToolActionCallContainer text-right" style="padding-right: 25px;">
                    <a class="btn btn-neptune droolToolActionCall" id="enterAddressButton">Enter Address to Get Started</a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 droolToolActionCallContainer text-left" style="padding-left: 25px;" id="closeSplashButton">
                    <a class="btn btn-neptune droolToolActionCall">Explore My Watershed</a>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs"></div>
            </div>
            <div class="row splashSearchContainer" style="display: none">
                <div class="col-md-2 hidden-sm hidden-xs"></div>
                <div class="col-md-8 text-center">
                    <div class="input-group splashSearchGroup">
                        <input type="text" class="form-control nominatimSearchInput" style="outline: currentcolor none medium; margin-top: 0;" placeholder="Search by address or landmark">
                        <span class="input-group-btn"><a class="btn btn-sm btn-neptune nominatimSearchButton" style="height: 34px; color: white; padding-top: 7px;"><i class="glyphicon glyphicon-search"></i></a></span>
                    </div>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs"></div>
            </div>
            <div class="row">
                <div class="col-md-2 hidden-sm hidden-xs"></div>
                <div class="col-md-8 text-center">
                    <span class="droolToolSpashCartouche">
                        <img src="@Url.Content("~/Areas/DroolTool/Content/h2oc_color_logo.png")" class="h2ocSplashLogo splashCartoucheLogo" />
                        <img src="@Url.Content("~/Areas/DroolTool/Content/mnwd_color_logo.jpg")" class="mnwdSplashLogo splashCartoucheLogo" />
                    </span>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs"></div>
            </div>
        </div>
    </div>
}