@using Neptune.Web.Models
@using Neptune.Web.Views.WaterQualityManagementPlan
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@inherits EditWqmpBmps


@section JavascriptAndStylesContent
{
    <script type="text/javascript" src="@Url.Content("~/Views/WaterQualityManagementPlan/EditWqmpTreatmentBmpsController.js")"></script>
    <script type="text/javascript">
        jQuery(function() {
            angular.module("NeptuneApp").factory("angularModelAndViewData",
                function() {
                    return {
                        AngularViewData:
                            @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None)),
                        AngularModel: @Html.Raw(JObject.FromObject(Model).ToString(Formatting.None))
                    };
                });
            angular.bootstrap(jQuery('[ng-controller="EditWqmpTreatmentBmpsController"]'), ["NeptuneApp"]);
        });
    </script>

    <style>
        .row-group {
            background: whitesmoke;
        }

        .row-spacing {
            margin-top: 32px;
        }
        .panel-heading a.collapsePanel:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            margin-top: -11px;
        }

        .panel-heading a.collapsePanel.collapsed:after {
            content: "\e080";
        }
    </style>
}

<div ng-controller="EditWqmpTreatmentBmpsController">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-12">
                @Html.ValidationSummary()
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Select a @FieldDefinition.TreatmentBMP.GetFieldDefinitionLabel() from the dropdown then click <strong>Add</strong> to add it to the list.
                    When you're finished editing the @FieldDefinition.TreatmentBMP.GetFieldDefinitionLabelPluralized(), click <strong>Save</strong> to submit your changes.
                </p>
            </div>
        </div>
        <div class="row row-group">
            <div class="col-xs-12">
                <h4>Structural Treatment and Hydromodification BMPs</h4>
            </div>
        </div>
        <div class="row row-group">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Structural BMPs in Detailed Inventory</h5>
                        <p>Select any structural BMPs that have been separately inventoried. To add a BMP to the detailed inventory, use the Add a BMP page.</p>
                    </div>
                    <div class="panel-collapse" style="padding: 21px 15px">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Select a Treatment BMP</label>
                                    <div class="input-group">
                                        <select ng-model="treatmentBmp"
                                                class="selectpicker"
                                                data-live-search="true"
                                                data-container="body"
                                                data-width="100%" selectpicker
                                                title="Select a Treatment BMP"
                                                ng-options="treatmentBmp.DisplayName for treatmentBmp in unselectedTreatmentBmps()">
                                            <option value="" disabled selected>Select a Treatment BMP to Add</option>
                                        </select>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-neptune" ng-click="addTreatmentBmp()">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="ifAnyTreatmentkBMPSimple(AngularModel.TreatmentBmpIDs) == true">
                            <div class="col-xs-12">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th style="width: 35px;"></th>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="treatmentBmpID in AngularModel.TreatmentBmpIDs">
                                            <td style="border: none">
                                                <span>
                                                    <a href="#" ng-click="removeTreatmentBmp(treatmentBmpID)" style="margin-right: 15px">
                                                        <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.TreatmentBMP.GetFieldDefinitionLabel()"></i>
                                                    </a>
                                                </span>
                                            </td>
                                            <td style="border: none">
                                                <span ng-bind="getTreatmentBmpDisplayName(treatmentBmpID)"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input ng-repeat="treatmentBmpID in AngularModel.TreatmentBmpIDs" type="hidden" name="@Html.NameFor(m => m.TreatmentBmpIDs)" ng-value="treatmentBmpID" />
                    </div>
                </div>
            </div>
        </div>





        <div class="row row-group">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Other Structural BMPs</h5>
                        <p>Describe any other structural BMPs associated with this WQMP. This does not add records to the detailed Inventory.</p>
                    </div>
                    <div class="panel-collapse" style="padding: 21px 15px">
                        <div class="row" ng-if="ifAnyQuickBMPSimple(AngularModel.QuickBmpSimples) == false">
                            <div class="col-xs-12">
                                <p class="systemText">There are no Other Structural BMPs associated with this WQMP. Use the Add button to enter one or more Other Structural BMPs</p>
                            </div>
                        </div>
                        <div class="row" ng-if="ifAnyQuickBMPSimple(AngularModel.QuickBmpSimples) == true">
                            <div class="col-xs-12">
                                <table class="dialogFormLayout table table-condensed">
                                    <tbody>
                                        <tr>
                                            <th style="width: 30px; border-top:none; border-bottom: 2px solid #ddd;">  </th>
                                            <th style="white-space: nowrap; border-top:none; border-bottom: 2px solid #ddd;"> Name <span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 8px; "></span></th>
                                            <th style="white-space: nowrap; border-top:none; border-bottom: 2px solid #ddd;"> Type <span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 8px; "></span></th>
                                            <th style="white-space: nowrap; border-top:none; border-bottom: 2px solid #ddd;"> Note</th>
                                        </tr>
                                        <tr ng-repeat="quickBmp in AngularModel.QuickBmpSimples">
                                            <td style="border:none">
                                                <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteQuickBMPRow(AngularModel.QuickBmpSimples, quickBmp)" style="cursor: pointer"></span>
                                            </td>
                                            <td style="text-align: right; padding-right: 17px; border:none">
                                                <input class="form-control" ng-model="quickBmp.DisplayName" value="{{quickBmp.DisplayName}}" />
                                            </td>
                                            <td style="text-align: right; padding-right: 17px; border:none">
                                                <select ng-model="quickBmp.QuickTreatmentBMPTypeID"
                                                        class="selectpicker"
                                                        data-live-search="true"
                                                        data-container="body"
                                                        data-width="100%" selectpicker
                                                        title="Select a Treatment BMP Type">
                                                    <option value="" disabled selected>Select a Treatment BMP Type</option>
                                                    <option ng-selected="{{treatmentType.TreatmentBMPTypeID == quickBmp.QuickTreatmentBMPTypeID}}"
                                                            ng-repeat="treatmentType in AngularViewData.TreatmentBMPTypes"
                                                            value="{{treatmentType.TreatmentBMPTypeID}}">
                                                        {{treatmentType.TreatmentBMPTypeName}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td style="text-align: right; padding-right: 17px; border:none">
                                                <input class="form-control" ng-model="quickBmp.QuickBMPNote" value="{{quickBmp.QuickBMPNote}}" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-repeat="quickBmp in AngularModel.QuickBmpSimples">
                                    <input type="hidden" name="@Html.NameFor(x => x.QuickBmpSimples[0].QuickBMPID).ToString().Replace("0", "{{$index}}")" value="{{quickBmp.QuickBMPID}}" />
                                    <input type="hidden" name="@Html.NameFor(x => x.QuickBmpSimples[0].DisplayName).ToString().Replace("0", "{{$index}}")" value="{{quickBmp.DisplayName}}" />
                                    <input type="hidden" name="@Html.NameFor(x => x.QuickBmpSimples[0].QuickTreatmentBMPTypeID).ToString().Replace("0", "{{$index}}")" value="{{quickBmp.QuickTreatmentBMPTypeID}}" />
                                    <input type="hidden" name="@Html.NameFor(x => x.QuickBmpSimples[0].QuickBMPNote).ToString().Replace("0", "{{$index}}")" value="{{quickBmp.QuickBMPNote}}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    <button class="btn btn-neptune" type="button" ng-click="addQuickBMPRow(AngularModel.QuickBmpSimples)" style="margin: 17px 17px 0 0">
                                        <span class="glyphicon glyphicon-plus"></span> Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row row-group row-spacing">
            <div class="col-xs-12">
                <h4>Source Control BMPs</h4>
            </div>
        </div>
        <div class="row row-group">
            <div class="col-xs-12">
                <div ng-repeat="sourceControlSimpleGroupedByAttributeCategory in orderSourceControlBMPsByAttributeCategory" class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-target="#sourceControlCategory{{$index}}" href="#collapse{{$index}}" class="collapsed collapsePanel">
                            <h5> {{sourceControlSimpleGroupedByAttributeCategory[0].SourceControlBMPAttributeCategoryName}}</h5>
                        </a>
                        <p>Optionally identify which BMPs are present on the project.</p>
                    </div>
                    <div id="sourceControlCategory{{$index}}" class="panel-collapse collapse" style="padding: 21px 15px">
                        <table class="dialogFormLayout table table-condensed">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap; border-top: none"> Source Control Attribute </th>
                                    <th style="white-space: nowrap; border-top: none"> Present?</th>
                                    <th style="white-space: nowrap; border-top: none"> Note</th>
                                </tr>
                            </thead>
                            <tbody style="border: none">
                                <tr ng-repeat="sourceControlSimple in sourceControlSimpleGroupedByAttributeCategory">
                                    <td style="padding-right: 17px; border: none">
                                        <label>{{sourceControlSimple.SourceControlBMPAttributeName}}</label>
                                    </td>
                                    <td style="padding-right: 17px; border: none" ng-init="sourControlIndex = sourControlIndex + 1">
                                        <label style="margin-right: 10px"><input type="radio" name="sourceControl[{{sourceControlSimple.SourceControlBMPAttributeID}}]" ng-model="sourceControlSimple.IsPresent" ng-value="true"> Yes</label>
                                        <label style="margin-right: 10px"><input type="radio" name="sourceControl[{{sourceControlSimple.SourceControlBMPAttributeID}}]" ng-model="sourceControlSimple.IsPresent" ng-value="false"> No</label>
                                    </td>
                                    <td style="padding-right: 17px; border: none">
                                        <input class="form-control" ng-model="sourceControlSimple.SourceControlBMPNote" value="{{sourceControlSimple.SourceControlBMPNote}}" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-repeat="sourceControlSimple in AngularModel.SourceControlBMPSimples">
                    <input type="hidden" name="@Html.NameFor(x => x.SourceControlBMPSimples[0].SourceControlBMPAttributeName).ToString().Replace("0", "{{$index}}")" value="{{sourceControlSimple.SourceControlBMPAttributeName
                           }}" />
                    <input type="hidden" name="@Html.NameFor(x => x.SourceControlBMPSimples[0].SourceControlBMPID).ToString().Replace("0", "{{$index}}")" value="{{sourceControlSimple.SourceControlBMPID}}" />
                    <input type="hidden" name="@Html.NameFor(x => x.SourceControlBMPSimples[0].SourceControlBMPAttributeID).ToString().Replace("0", "{{$index}}")" value="{{sourceControlSimple.SourceControlBMPAttributeID}}" />
                    <input type="hidden" name="@Html.NameFor(x => x.SourceControlBMPSimples[0].SourceControlBMPAttributeCategoryID).ToString().Replace("0", "{{$index}}")" value="{{sourceControlSimple.SourceControlBMPAttributeCategoryID}}" />
                    <input type="hidden" name="@Html.NameFor(x => x.SourceControlBMPSimples[0].SourceControlBMPAttributeCategoryName).ToString().Replace("0", "{{$index}}")" value="{{sourceControlSimple.SourceControlBMPAttributeCategoryName}}" />
                    <input type="hidden" name="@Html.NameFor(x => x.SourceControlBMPSimples[0].IsPresent).ToString().Replace("0", "{{$index}}")" value="{{sourceControlSimple.IsPresent}}" />
                    <input type="hidden" name="@Html.NameFor(x => x.SourceControlBMPSimples[0].SourceControlBMPNote).ToString().Replace("0", "{{$index}}")" value="{{sourceControlSimple.SourceControlBMPNote}}" />
                </div>
            </div>
        </div>



        <div class="row row-spacing">
            <div class="col-xs-12">
                <div class="pull-right">

                    <button type="submit" class="btn btn-neptune">Save</button>
                    <a href="@ViewDataTyped.WaterQualityManagementPlanDetailUrl" class="btn btn-neptune">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>
