@using Neptune.Web.Models
@using Neptune.Web.Views.WaterQualityManagementPlan
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@inherits EditWqmpTreatmentBmps


@section JavascriptAndStylesContent
{
    <script type="text/javascript" src="@Url.Content("~/Views/WaterQualityManagementPlan/EditWqmpTreatmentBmpsController.js")"></script>
    <script type="text/javascript">
        jQuery(function() {
            angular.module("NeptuneApp").factory("angularModelAndViewData",
                function() {
                    return {
                        AngularViewData:
                            @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None)),
                        AngularModel: @Html.Raw(JObject.FromObject(Model).ToString(Formatting.None))
                    };
                });
            angular.bootstrap(jQuery('[ng-controller="EditWqmpTreatmentBmpsController"]'), ["NeptuneApp"]);
        });
    </script>

    <style>
        .row-group {
            background: whitesmoke;
            padding-bottom: 16px;
        }

        .row.row-spacing {
            margin-top: 32px;
        }
    </style>
}

    <div ng-controller="EditWqmpTreatmentBmpsController">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-xs-12">
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        Select a @FieldDefinition.TreatmentBMP.GetFieldDefinitionLabel() from the dropdown then click <strong>Add</strong> to add it to the list.
                        When you're finished editing the @FieldDefinition.TreatmentBMP.GetFieldDefinitionLabelPluralized(), click <strong>Save</strong> to submit your changes.
                    </p>
                </div>
            </div>
            <div class="row row-group">
                <div class="col-xs-12">
                    <h4>Inventoried BMPs</h4>
                </div>
            </div>
            <div class="row row-group">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Select a Treatment BMP</label>
                                <div class="input-group">
                                    <select ng-model="treatmentBmp"
                                            class="selectpicker"
                                            data-live-search="true"
                                            data-container="body"
                                            data-width="100%" selectpicker
                                            title="Select a Treatment BMP"
                                            ng-options="treatmentBmp.DisplayName for treatmentBmp in unselectedTreatmentBmps()">
                                        <option value="" disabled selected>Select a Treatment BMP to Add</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-neptune" ng-click="addTreatmentBmp()">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-repeat="treatmentBmpID in AngularModel.TreatmentBmpIDs">
                            <span>
                                <a href="#" ng-click="removeTreatmentBmp(treatmentBmpID)">
                                    <i class="glyphicon glyphicon-trash" title="Remove @FieldDefinition.TreatmentBMP.GetFieldDefinitionLabel()"></i>
                                </a>
                            </span><span ng-bind="getTreatmentBmpDisplayName(treatmentBmpID)"></span>
                        </div>
                    </div>
                </div>
                <input ng-repeat="treatmentBmpID in AngularModel.TreatmentBmpIDs" type="hidden" name="@Html.NameFor(m => m.TreatmentBmpIDs)" ng-value="treatmentBmpID" />
            </div>





            <div class="row row-group row-spacing">
                <div class="col-xs-12">
                    <h4>Quick BMPs</h4>
                </div>
            </div>
            <div class="row row-group">
                <div class="col-xs-12">
                    <table class="dialogFormLayout">
                        <tbody>
                            <tr>
                                <th style="width: 30px;">  </th>
                                <th style="white-space: nowrap"> Name <span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 8px; "></span></th>
                                <th style="white-space: nowrap"> Type <span class="requiredFieldIcon glyphicon glyphicon-flash" style="color: #800020; font-size: 8px; "></span></th>
                                <th style="white-space: nowrap"> Note</th>
                            </tr>
                            <tr ng-repeat="quickBmp in AngularModel.QuickBmps">
                                <td>
                                    <span class="glyphicon glyphicon-trash blue" title="Remove row" alt="Remove row" ng-click="deleteQuickBMPRow(AngularModel.QuickBmps, quickBmp)" style="cursor: pointer"></span>
                                </td>
                                <td style="text-align: right; padding-right: 17px;">
                                    <input class="form-control" ng-model="quickBmp.DisplayName" value="{{quickBmp.DisplayName}}" />
                                </td>
                                <td style="text-align: right; padding-right: 17px;">
                                    @*<input class="form-control" value="{{quickBmp.QuickBMPTypeName}}" />*@

                                    <select ng-model="quickBmp.QuickTreatmentBMPTypeID"
                                            class="selectpicker"
                                            data-live-search="true"
                                            data-container="body"
                                            data-width="100%" selectpicker
                                            title="Select a Treatment BMP Type">
                                        <option value="" disabled selected>Select a Treatment BMP Type</option>
                                        <option ng-selected="{{treatmentType.TreatmentBMPTypeID == quickBmp.QuickTreatmentBMPTypeID}}"
                                                ng-repeat="treatmentType in AngularViewData.TreatmentBMPTypes"
                                                value="{{treatmentType.TreatmentBMPTypeID}}">
                                            {{treatmentType.TreatmentBMPTypeName}}
                                        </option>
                                    </select>
                                </td>
                                <td style="text-align: right; padding-right: 17px;">
                                    <input class="form-control" ng-model="quickBmp.QuickBMPNote" value="{{quickBmp.QuickBMPNote}}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-repeat="quickBmp in AngularModel.QuickBmps">
                        <input type="hidden" name="@Html.NameFor(x => x.QuickBmps[0].QuickBMPID).ToString().Replace("0", "{{$index}}")" value="{{quickBmp.QuickBMPID}}" />
                        <input type="hidden" name="@Html.NameFor(x => x.QuickBmps[0].DisplayName).ToString().Replace("0", "{{$index}}")" value="{{quickBmp.DisplayName}}" />
                        <input type="hidden" name="@Html.NameFor(x => x.QuickBmps[0].QuickTreatmentBMPTypeID).ToString().Replace("0", "{{$index}}")" value="{{quickBmp.QuickTreatmentBMPTypeID}}" />
                        <input type="hidden" name="@Html.NameFor(x => x.QuickBmps[0].QuickBMPNote).ToString().Replace("0", "{{$index}}")" value="{{quickBmp.QuickBMPNote}}" />
                    </div>
                </div>
            </div>
            <div class="row row-group">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <button class="btn btn-neptune" type="button" ng-click="addQuickBMPRow(AngularModel.QuickBmps)" style="margin: 17px 17px 0 0">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                </div>
            </div>



            <div class="row row-spacing">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-neptune">Save</button>
                    </div>
                </div>
            </div>
        }
    </div>
