@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Views.WaterQualityManagementPlan

@inherits Edit

<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.WaterQualityManagementPlanID)
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4 control-label">
                        @Html.LabelWithSugarFor(m => m.WaterQualityManagementPlanName)
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        @Html.TextBoxFor(m => m.WaterQualityManagementPlanName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.WaterQualityManagementPlanName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4 control-label">
                        @Html.LabelWithSugarFor(m => m.StormwaterJurisdictionID)
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        @Html.SearchableDropDownListFor(m => m.StormwaterJurisdictionID, ViewDataTyped.StormwaterJurisdictionSelectListItems)
                        @Html.ValidationMessageFor(m => m.StormwaterJurisdictionID)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4 control-label">
                        @Html.LabelWithSugarFor(m => m.WaterQualityManagementPlanPriorityID)
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        @foreach (var priority in ViewDataTyped.WaterQualityManagementPlanPriorities)
                        {
                            <div class="radio">
                                <label>
                                    @Html.RadioButtonFor(m => m.WaterQualityManagementPlanPriorityID, priority.WaterQualityManagementPlanPriorityID)
                                    @priority.WaterQualityManagementPlanPriorityDisplayName
                                </label>
                            </div>
                        }
                        @Html.ValidationMessageFor(m => m.WaterQualityManagementPlanPriorityID)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4 control-label">
                        @Html.LabelWithSugarFor(m => m.WaterQualityManagementPlanStatusID)
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        @foreach (var status in ViewDataTyped.WaterQualityManagementPlanStatuses)
                        {
                            <div class="radio">
                                <label>
                                    @Html.RadioButtonFor(m => m.WaterQualityManagementPlanStatusID, status.WaterQualityManagementPlanStatusID)
                                    @status.WaterQualityManagementPlanStatusDisplayName
                                </label>
                            </div>
                        }
                        @Html.ValidationMessageFor(m => m.WaterQualityManagementPlanStatusID)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4 control-label">
                        @Html.LabelWithSugarFor(m => m.WaterQualityManagementPlanDevelopmentTypeID)
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        @foreach (var developmentType in ViewDataTyped.WaterQualityManagementPlanDevelopmentTypes)
                        {
                            <div class="radio">
                                <label>
                                    @Html.RadioButtonFor(m => m.WaterQualityManagementPlanDevelopmentTypeID, developmentType.WaterQualityManagementPlanDevelopmentTypeID)
                                    @developmentType.WaterQualityManagementPlanDevelopmentTypeDisplayName
                                </label>
                            </div>
                        }
                        @Html.ValidationMessageFor(m => m.WaterQualityManagementPlanDevelopmentTypeID)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-4 control-label">
                        @Html.LabelWithSugarFor(m => m.WaterQualityManagementPlanLandUseID)
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        @foreach (var landUse in ViewDataTyped.WaterQualityManagementPlanLandUses)
                        {
                            <div class="radio">
                                <label>
                                    @Html.RadioButtonFor(m => m.WaterQualityManagementPlanLandUseID, landUse.WaterQualityManagementPlanLandUseID)
                                    @landUse.WaterQualityManagementPlanLandUseDisplayName
                                </label>
                            </div>
                        }
                        @Html.ValidationMessageFor(m => m.WaterQualityManagementPlanLandUseID)
                    </div>
                </div>
            }
        </div>
    </div>
</div>