@using LtInfo.Common.BootstrapWrappers
@using Neptune.Web.Views.WaterQualityManagementPlan


@inherits NewWqmpVerify

<style>
    .radio-inline label {
        font-weight: normal;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal">
            <form method="post" enctype="multipart/form-data" class="field-visit-form">
                @Html.HiddenFor(m => m.WaterQualityManagementPlanID)
                @Html.HiddenFor(m => m.WaterQualityManagementPlanVerifyID)
                <fieldset>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            Type of verification @Html.Raw(BootstrapHtmlHelpers.RequiredIcon)
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            @foreach (var waterQualityManagementPlanVerifyType in ViewDataTyped.WaterQualityManagementPlanVerifyTypes)
                            {
                                <div class="radio-inline">
                                    <label>
                                        @Html.RadioButtonFor(m => m.WaterQualityManagementPlanVerifyTypeID, waterQualityManagementPlanVerifyType.WaterQualityManagementPlanVerifyTypeID) @waterQualityManagementPlanVerifyType.WaterQualityManagementPlanVerifyTypeName
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            Select Visit Status @Html.Raw(BootstrapHtmlHelpers.RequiredIcon)
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            @foreach (var waterQualityManagementPlanVisitStatus in ViewDataTyped.WaterQualityManagementPlanVisitStatuses)
                            {
                                <div class="radio-inline">
                                    <label>
                                        @Html.RadioButtonFor(m => m.WaterQualityManagementPlanVisitStatusID, waterQualityManagementPlanVisitStatus.WaterQualityManagementPlanVisitStatusID)
                                        @waterQualityManagementPlanVisitStatus.WaterQualityManagementPlanVisitStatusName
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            Structural BMP O&M Document
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            @Html.EditorFor(m => m.StructuralDocumentFile)
                            <p class="help-block">Allowed Extensions: pdf, zip, doc, docx, xls, xlsx, jpg, png</p>
                            @Html.ValidationMessageFor(m => m.StructuralDocumentFile)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            Images
                        </div>
                        <div class="col-xs-12 col-sm-9">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            Source control BMPs
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            @Html.TextAreaFor(m => m.SourceControlCondition, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            Quick Treatment BMPs
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            @foreach (var waterQualityManagementPlanVerifyQuickBMP in Model.WaterQualityManagementPlanVerifyQuickBMPs)
                            {
                                <div class="row">
                                    <div class="col-xs-4">@waterQualityManagementPlanVerifyQuickBMP.QuickBMP.QuickBMPName</div>
                                    <div class="col-xs-4">
                                        <div class="radio-inline">
                                            <label>
                                                @Html.RadioButtonFor(m => waterQualityManagementPlanVerifyQuickBMP.IsAdequate.ToString(), true)
                                                Yes
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                @Html.RadioButtonFor(m => waterQualityManagementPlanVerifyQuickBMP.IsAdequate, false)
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBoxFor(m => waterQualityManagementPlanVerifyQuickBMP.WaterQualityManagementPlanVerifyQuickBMPNote, new { @class = "form-control" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            Inventoried Treatment BMPs
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            @foreach (var waterQualityManagementPlanVerifyTreatmentBMPs in Model.WaterQualityManagementPlanVerifyTreatmentBMPs)
                            {
                                <div class="row">
                                    <div class="col-xs-4">@waterQualityManagementPlanVerifyTreatmentBMPs.TreatmentBMP.TreatmentBMPName</div>
                                    <div class="col-xs-4">
                                        <div class="radio-inline">
                                            <label>
                                                @Html.RadioButtonFor(m => waterQualityManagementPlanVerifyTreatmentBMPs.IsAdequate, true)
                                                Yes
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                @Html.RadioButtonFor(m => waterQualityManagementPlanVerifyTreatmentBMPs.IsAdequate, false)
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBoxFor(m => waterQualityManagementPlanVerifyTreatmentBMPs.WaterQualityManagementPlanVerifyQuickTreatmentNote, new { @class = "form-control" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            Finalize @Html.Raw(BootstrapHtmlHelpers.RequiredIcon)
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            @foreach (var waterQualityManagementPlanVerifyStatus in ViewDataTyped.WaterQualityManagementPlanVerifyStatuses)
                            {
                                <div class="radio-inline">
                                    <label>
                                        @Html.RadioButtonFor(m => m.WaterQualityManagementPlanVerifyStatusID, waterQualityManagementPlanVerifyStatus.WaterQualityManagementPlanVerifyStatusID)
                                        @waterQualityManagementPlanVerifyStatus.WaterQualityManagementPlanVerifyStatusName
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-3 control-label">
                            Enforcement or Follow-up Actions
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            @Html.TextAreaFor(m => m.EnforcementOrFollowupActions, new { @class="form-control"})
                        </div>
                    </div>
                    <button type="submit" class="btn btn-neptune">Save</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>