@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Views.WaterQualityManagementPlan


@inherits NewWqmpVerify

<style>
    .radio-inline label {
        font-weight: normal;
    }

    .row-group {
        background: whitesmoke;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal">
            <form method="post" enctype="multipart/form-data" class="verify-form">
                @Html.HiddenFor(m => m.WaterQualityManagementPlanID)
                @Html.HiddenFor(m => m.WaterQualityManagementPlanVerifyID)


                <div class="row row-group row-spacing">
                    <div class="col-xs-12">
                        <h4> </h4>
                    </div>
                </div>
                <div class="row row-group">
                    <div class="col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5> Type of Verification @Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</h5>
                                <p> </p>
                            </div>
                            <div style="padding: 21px 15px">
                                @foreach (var waterQualityManagementPlanVerifyType in ViewDataTyped.WaterQualityManagementPlanVerifyTypes)
                                {
                                    <div class="radio-inline">
                                        <label>
                                            @Html.RadioButtonFor(m => m.WaterQualityManagementPlanVerifyTypeID, waterQualityManagementPlanVerifyType.WaterQualityManagementPlanVerifyTypeID) @waterQualityManagementPlanVerifyType.WaterQualityManagementPlanVerifyTypeName
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-group">
                    <div class="col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5> Visit Status @Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</h5>
                                <p> </p>
                            </div>
                            <div style="padding: 21px 15px">
                                @foreach (var waterQualityManagementPlanVisitStatus in ViewDataTyped.WaterQualityManagementPlanVisitStatuses)
                                {
                                    <div class="radio-inline">
                                        <label>
                                            @Html.RadioButtonFor(m => m.WaterQualityManagementPlanVisitStatusID, waterQualityManagementPlanVisitStatus.WaterQualityManagementPlanVisitStatusID)
                                            @waterQualityManagementPlanVisitStatus.WaterQualityManagementPlanVisitStatusName
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-group">
                    <div class="col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5> Supporting Documentation</h5>
                                <p>Upload field checklist, self-certification form, O&M records, etc, as applicable</p>
                                @Html.ValidationMessageFor(m => m.StructuralDocumentFile)
                            </div>
                            <div style="padding: 21px 15px">
                                @Html.EditorFor(m => m.StructuralDocumentFile)
                                <p class="help-block">Allowed Extensions: pdf, zip, doc, docx, xls, xlsx, jpg, png</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-group">
                    <div class="col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5> Images</h5>
                                <p> </p>
                            </div>
                            <div style="padding: 21px 15px">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-group">
                    <div class="col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5> Source control BMPs</h5>
                                <p> Provide a narrative assessment of the applicable source control BMPs present on the site</p>
                            </div>
                            <div style="padding: 21px 15px">
                                @Html.TextAreaFor(m => m.SourceControlCondition, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-group">
                    <div class="col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>  Structural Treatment and Hydromodification BMPs</h5>
                                <p> </p>
                            </div>
                            <div style="padding: 21px 15px">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th> Name</th>
                                            <th> Type</th>
                                            <th> O&amp;M Adequate</th>
                                            <th> O&amp;M Notes</th>
                                            <th> Detailed Inventory Record?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.WaterQualityManagementPlanVerifyQuickBMPSimples.Count; i++)
                                        {
                                            var waterQualityManagementPlanVerifyQuickBMP = Model.WaterQualityManagementPlanVerifyQuickBMPSimples[i];
                                            <tr>
                                                <td> @waterQualityManagementPlanVerifyQuickBMP.QuickBMPName</td>
                                                <td> @waterQualityManagementPlanVerifyQuickBMP.TreatmentBMPType</td>
                                                <td>
                                                    <label>@Html.RadioButtonFor(m => m.WaterQualityManagementPlanVerifyQuickBMPSimples[i].IsAdequate, true) Yes</label>
                                                    <label> @Html.RadioButtonFor(m => m.WaterQualityManagementPlanVerifyQuickBMPSimples[i].IsAdequate, false) No </label>
                                                </td>
                                                <td>  @Html.TextBoxFor(m => m.WaterQualityManagementPlanVerifyQuickBMPSimples[i].WaterQualityManagementPlanVerifyQuickBMPNote, new { @class = "form-control" })</td>
                                                <td> No</td>
                                            </tr>
                                            <tr style="display:none;"><td>@Html.HiddenFor(x => x.WaterQualityManagementPlanVerifyQuickBMPSimples[i].QuickBMPID)</td></tr>
                                        }
                                    </tbody>
                                    <tbody>
                                        @for (var i = 0; i < Model.WaterQualityManagementPlanVerifyTreatmentBMPSimples.Count; i++)
                                        {
                                            var waterQualityManagementPlanVerifyTreatmentBMPSimple = Model.WaterQualityManagementPlanVerifyTreatmentBMPSimples[i];


                                            <tr>
                                                <td> @waterQualityManagementPlanVerifyTreatmentBMPSimple.TreatmentBMPName</td>
                                                <td>  @waterQualityManagementPlanVerifyTreatmentBMPSimple.TreatmentBMPType</td>
                                                <td>
                                                    <label>
                                                        @Html.RadioButtonFor(m => m.WaterQualityManagementPlanVerifyTreatmentBMPSimples[i].IsAdequate, true)
                                                        Yes
                                                    </label>
                                                    <label>
                                                        @Html.RadioButtonFor(m => m.WaterQualityManagementPlanVerifyTreatmentBMPSimples[i].IsAdequate, false)
                                                        No
                                                    </label>
                                                </td>
                                                <td> @Html.TextBoxFor(m => m.WaterQualityManagementPlanVerifyTreatmentBMPSimples[i].WaterQualityManagementPlanVerifyTreatmentBMPNote, new { @class = "form-control" })</td>

                                                <td> Yes </td>
                                            </tr>
                                            <tr style="display:none;"><td>@Html.HiddenFor(x => x.WaterQualityManagementPlanVerifyTreatmentBMPSimples[i].TreatmentBMPID)</td></tr>
                                            <tr>
                                                <td colspan="5" style="border-top: none">

                                                    @if (waterQualityManagementPlanVerifyTreatmentBMPSimple.FieldVisiLastVisitedtDate != null)
                                                    {
                                                        <span>
                                                            This BMP was last assessed on @waterQualityManagementPlanVerifyTreatmentBMPSimple.FieldVisiLastVisitedtDate (Score @waterQualityManagementPlanVerifyTreatmentBMPSimple.FieldVisitMostRecentScore). <a href="@waterQualityManagementPlanVerifyTreatmentBMPSimple.TreatmentBMPDetailUrl" target="_blank" rel="noopener noreferrer">Conduct a new Assessment</a>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger">This BMP has no finalized assessment. <a href="@waterQualityManagementPlanVerifyTreatmentBMPSimple.TreatmentBMPDetailUrl" target="_blank" rel="noopener noreferrer">Conduct a new Assessment</a> </span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-group">
                    <div class="col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5> Verification of O&M Status</h5>
                                <p> </p>
                            </div>
                            <div style="padding: 21px 15px">
                                <div class="alert alert-warning" role="alert">
                                    This question needs to be answered in order to complete the form.
                                </div>
                                @Html.SearchableDropDownListFor(m => m.WaterQualityManagementPlanVerifyStatusID, ViewDataTyped.WaterQualityManagementPlanVerifyStatuses)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-group">
                    <div class="col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>  Enforcement or Follow-up Actions </h5>
                                <p> </p>
                            </div>
                            <div style="padding: 21px 15px">
                                @Html.TextAreaFor(m => m.EnforcementOrFollowupActions, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-right" style="margin-top: 16px">
                    <button type="submit" class="btn btn-neptune">Save</button>
                    <button type="button" class="btn btn-neptune" onclick="saveAndFinalize()">Save &amp; Finalize</button>
                    <a href="@ViewDataTyped.WaterQualityManagementPlanUrl" class="btn btn-neptune">Cancel</a>
                    @Html.HiddenFor(m => m.HiddenIsFinalizeVerificationInput, new{ Value ="false"})
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function saveAndFinalize() {
        var theForm = jQuery('form.verify-form');
        var hiddenIsFinalizeVerificationInput = jQuery('#@Html.IdFor(m => m.HiddenIsFinalizeVerificationInput)');
        hiddenIsFinalizeVerificationInput.val(true);
        theForm.submit();
    }

    function verificationOMStatus() {
        var verificationOMStatusValue = jQuery('#@Html.IdFor(m => m.WaterQualityManagementPlanVerifyStatusID)').val();
        if (verificationOMStatusValue == "") {
            jQuery('#saveAndFinalizeButton').addClass("disabled");
            jQuery('#saveAndFinalizeButton').attr("title", "The \"Verification of O&M Status\" needs to be set for this to be finalized");
        } else {
            jQuery('#saveAndFinalizeButton').removeClass("disabled");
            jQuery('#saveAndFinalizeButton').attr("title", "");
        }
    }

    jQuery(document).ready(function() {
        verificationOMStatus();
    });
</script>