@using LtInfo.Common
@using Neptune.Web.Models
@using Neptune.Web.Views.Shared
@using Neptune.Web.Views.WaterQualityManagementPlan

@inherits WqmpVerify

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                WQMP O&M Verification Overview
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-xs-6 col-sm-3 control-label text-right"> Verification of Status</label>
                    <div class="col-xs-6 col-sm-9">
                        @if (ViewDataTyped.WaterQualityManagementPlanVerify.WaterQualityManagementPlanVerifyStatus != null)
                        {
                            <span>@ViewDataTyped.WaterQualityManagementPlanVerify.WaterQualityManagementPlanVerifyStatus.WaterQualityManagementPlanVerifyStatusName</span>
                        }
                        else
                        {
                            <span>Draft</span>
                        }
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-6 col-sm-3 control-label text-right"> Type of Verification</label>
                    <div class="col-xs-6 col-sm-9">
                        @if (ViewDataTyped.WaterQualityManagementPlanVerify.WaterQualityManagementPlanVerifyType != null)
                        {
                            @ViewDataTyped.WaterQualityManagementPlanVerify.WaterQualityManagementPlanVerifyType.WaterQualityManagementPlanVerifyTypeName
                        }
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-6 col-sm-3 control-label text-right"> Visit Status</label>
                    <div class="col-xs-6 col-sm-9">
                        @if (ViewDataTyped.WaterQualityManagementPlanVerify.WaterQualityManagementPlanVisitStatus != null)
                        {
                            @ViewDataTyped.WaterQualityManagementPlanVerify.WaterQualityManagementPlanVisitStatus.WaterQualityManagementPlanVisitStatusName
                        }
                    </div>
                </div>

                <div class="row">
                    <label class="col-xs-6 col-sm-3 control-label text-right"> Source Control BMPs</label>
                    <div class="col-xs-6 col-sm-9">
                        @if (ViewDataTyped.WaterQualityManagementPlanVerify.SourceControlCondition != null)
                        {
                            <span>@ViewDataTyped.WaterQualityManagementPlanVerify.SourceControlCondition</span>
                        }
                        else
                        {
                            <p class='systemText'>No Source Control BMPs assessment entered</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-6 col-sm-3 control-label text-right"> Enforcement or Follow-up Actions</label>
                    <div class="col-xs-6 col-sm-9">
                        @if (ViewDataTyped.WaterQualityManagementPlanVerify.EnforcementOrFollowupActions != null)
                        {
                            <span>@ViewDataTyped.WaterQualityManagementPlanVerify.EnforcementOrFollowupActions</span>
                        }
                        else
                        {
                            <p class='systemText'>No Enforce or Follow-up action provided</p>
                        }
                    </div>
                </div>


                <div class="row">
                    <label class="col-xs-6 col-sm-3 control-label text-right"> Last Edited </label>
                    <div class="col-xs-6 col-sm-9"> @ViewDataTyped.WaterQualityManagementPlanVerify.LastEditedDate.ToShortDateString()</div>
                </div>
                <div class="row">
                    <label class="col-xs-6 col-sm-3 control-label text-right"> Last Edited By</label>
                    <div class="col-xs-6 col-sm-9"> @ViewDataTyped.WaterQualityManagementPlanVerify.LastEditedByPerson.GetFullNameFirstLast()</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Supporting Documentation
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.WaterQualityManagementPlanVerify.FileResource != null)
                {
                <div class="row">
                    <label class="col-xs-6 col-sm-2 control-label text-right">File Name</label>
                    <div class="col-xs-6 col-sm-10">
                        <a href="@ViewDataTyped.WaterQualityManagementPlanVerify.FileResource.GetFileResourceUrl()">
                            @ViewDataTyped.WaterQualityManagementPlanVerify.FileResource.GetOriginalCompleteFileName() <i class='glyphicon glyphicon-download' style='margin-right: 3px'></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-6 col-sm-2 control-label text-right">Uploaded On</label>
                    <div class="col-xs-6 col-sm-10"> @ViewDataTyped.WaterQualityManagementPlanVerify.FileResource.CreateDate.ToShortDateString()</div>
                </div>
                <div class="row">
                    <label class="col-xs-6 col-sm-2 control-label text-right">File Type</label>
                    <div class="col-xs-6 col-sm-10"> @ViewDataTyped.WaterQualityManagementPlanVerify.FileResource.FileResourceMimeType.FileResourceMimeTypeDisplayName</div>
                </div>
                }
                else
                {
                    <span class="systemText"> A document has not been added</span>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Structural Treatment and Hydromodification BMPs
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.WaterQualityManagementPlanVerifyTreatmentBMPs.Any())
                {
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th> Name</th>
                        <th> Type</th>
                        <th> O&amp;M Adequate</th>
                        <th> O&amp;M Notes</th>
                        <th> Detailed Inventory Record?</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 0; i < ViewDataTyped.WaterQualityManagementPlanVerifyQuickBMPs.Count; i++)
                    {
                        var waterQualityManagementPlanVerifyQuickBMP = ViewDataTyped.WaterQualityManagementPlanVerifyQuickBMPs[i];
                        <tr>
                            <td> @waterQualityManagementPlanVerifyQuickBMP.QuickBMP.QuickBMPName</td>
                            <td> @waterQualityManagementPlanVerifyQuickBMP.QuickBMP.TreatmentBMPType.TreatmentBMPTypeName</td>
                            <td> @waterQualityManagementPlanVerifyQuickBMP.IsAdequate </td>
                            <td> @waterQualityManagementPlanVerifyQuickBMP.WaterQualityManagementPlanVerifyQuickBMPNote</td>
                            <td> No</td>
                        </tr>
                    }
                    @for (var i = 0; i < ViewDataTyped.WaterQualityManagementPlanVerifyTreatmentBMPs.Count; i++)
                    {
                        var waterQualityManagementPlanVerifyTreatmentBMPSimple = ViewDataTyped.WaterQualityManagementPlanVerifyTreatmentBMPs[i];
                        <tr>
                            <td> <a href="@waterQualityManagementPlanVerifyTreatmentBMPSimple.TreatmentBMP.GetDetailUrl()">@waterQualityManagementPlanVerifyTreatmentBMPSimple.TreatmentBMP.TreatmentBMPName</a></td>
                            <td> @waterQualityManagementPlanVerifyTreatmentBMPSimple.TreatmentBMP.TreatmentBMPType.TreatmentBMPTypeName</td>
                            <td> @waterQualityManagementPlanVerifyTreatmentBMPSimple.IsAdequate.ToYesNo()</td>
                            <td> @waterQualityManagementPlanVerifyTreatmentBMPSimple.WaterQualityManagementPlanVerifyTreatmentBMPNote</td>
                            <td> Yes </td>
                        </tr>
                    }
                    </tbody>
                </table>
                }
                else
                {
                    <p class="systemText">No Structural Treament or Hydromodification BMPs are currently associated with this WQMP</p>
                }
            </div>
        </div>
    </div>
</div>