@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common
@using Neptune.WebMvc.Common.BootstrapWrappers
@using Neptune.WebMvc.Common.ModalDialog
@using Neptune.WebMvc.Models
@inherits Neptune.WebMvc.Areas.Trash.Views.OnlandVisualTrashAssessment.AddOrRemoveParcels
@model Neptune.Web.Areas.Trash.Views.OnlandVisualTrashAssessment.AddOrRemoveParcelsViewModel

@{ @SetLayout("SiteLayout.cshtml", ViewDataTyped) }
@section JavascriptAndStylesContent
{

    @if (OVTASection.RecordObservations.IsSectionComplete(ViewDataTyped.OVTA))
    {
        <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/Trash/AddOrRemoveParcelsController.js")"></script>
        <script type="text/javascript">
            // <![CDATA[
            angular.module("NeptuneApp")
                .factory("angularModelAndViewData",
                    function() {
                        return {
                            AngularModel: @Html.Raw(Model.ToJsonHtmlString()),
                            AngularViewData: @Html.Raw(ViewDataTyped.ViewDataForAngular.ToJsonHtmlString())
                        };
                    });

            jQuery(document).ready(function() {
                HookupCheckIfFormIsDirtyNoDisable(undefined);
            });

        </script>

        <link rel="stylesheet" href="@Url.Content("~/Content/leaflet/leaflet.wmslegend/leaflet.wmslegend.css")" />
    }
}

@if (!ViewDataTyped.OVTASection.IsSectionEnabled(ViewDataTyped.OVTA))
{
    <p class="systemText">@ViewDataTyped.OVTASection.GetSectionDisabledMessage()</p>
}
else
{

    if (!ViewDataTyped.RequireRefresh)
    {
        <p>Click the map to add or remove parcels from the Assessment Area. Note that it may be necessary to zoom the map to see APNs on the map.</p>
    }
    else
    {
        <p class="systemText">The Assessment Area has been manually refined. Click "Continue" to use the manually-refined assessment area, or use the button below to refresh the list of parcels from the assessment transect.</p>
    }

    <div ng-app="NeptuneApp" ng-controller="AddOrRemoveParcelsController">
        <div class="row" ng-show="!AngularViewData.IsDraftGeometryManuallyRefined">
            <div class="col-sm-12 col-md-12" style="margin-top: 20px;">
                <div id="mapContainer">
                    <div id="@ViewDataTyped.OVTASummaryMapInitJson.MapDivID" style="height: 450px; margin: 0">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: 10px">
                @ModalDialogFormHelper.ModalDialogFormLink("Refresh Assessment Area Based on Observations", ViewDataTyped.RefreshUrl, "Refresh Assessment Area", 500, "Refresh", "Cancel", new List<string> { "btn btn-neptune" }, null, null)
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <div ng-repeat="parcelId in AngularModel.ParcelIDs">
                <input type="hidden" name="@Html.NameFor(x => x.ParcelIDs)" value="{{parcelId}}" />
            </div>

            <hr />

            if (!ViewDataTyped.RequireRefresh)
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
                    </div>

                    <div class="col-xs-12 col-sm-9" style="text-align: right">
                        <button type="submit" class="btn btn-neptune" value="false" name="@Html.NameFor(x => x.AutoAdvance)">Save</button>
                        <button type="submit" class="btn btn-neptune" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Save &amp; Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
                    </div>
                </div>
            }
        }
        @if (ViewDataTyped.RequireRefresh)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                </div>
                <div class="col-xs-12 col-sm-9" style="text-align: right">
                    <a class="btn btn-neptune" href="@OVTASection.AddOrRemoveParcels.GetNextSectionUrl(ViewDataTyped.OVTA, ViewDataTyped.LinkGenerator)">Continue <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        }
    </div>
}