@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@inherits Neptune.WebMvc.Views.NeptunePage.Edit
@model Neptune.WebMvc.Views.NeptunePage.EditViewModel
@using Neptune.WebMvc.Common

<div id="@($"tinyMCEForNeptunePage{ViewDataTyped.NeptunePageID}")">
    <div class="neptunePageContent" style="position: relative; min-height: 30px;">
        <div class="hoverEditButton">
            <button type="button" style="margin: 10px" onclick="tinyMCEEditorToggle(true, @ViewDataTyped.NeptunePageID)">Edit</button>
        </div>
        @if (ViewDataTyped.NeptunePageContentOnLoad != null)
        {
            @Html.Raw(ViewDataTyped.NeptunePageContentOnLoad)
        }
        else
        {
            <div class="hoverEmptySpace"></div>
        }
    </div>

    <div class="neptunePageTinyMCEEditor" style="display: none; margin-bottom: 16px;">
        <div style="max-height: 600px; overflow-y: auto">
            @Html.TinyMCEEditorFor(x => x.NeptunePageContent, TinyMCEExtension.TinyMCEToolbarStyle.MinimalWithImages, true, ViewDataTyped.NeptunePageID)
        </div>
        <div class="row" style="margin-top: 6px">
            <div class="col-xs-12" style="text-align: right">
                <button type="button" onclick="@($"tinyMCEEditorPost({ViewDataTyped.NeptunePageID}, {ViewDataTyped.PostUrl.ToJS()})")" class="btn btn-neptune">Save</button>
                <button type="button" onclick="tinyMCEEditorToggle(false, @ViewDataTyped.NeptunePageID)" class="btn btn-secondary" style="margin-left: 6px">Cancel</button>
            </div>
        </div>
    </div>
</div>