@*-----------------------------------------------------------------------
    <copyright file="Detail.cs" company="Tahoe Regional Planning Agency">
        Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
        <author>Sitka Technology Group</author>
    </copyright>

    <license>
        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU Affero General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

        Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.BootstrapWrappers
@using Neptune.Web.Models
@inherits Neptune.Web.Views.MaintenanceRecord.Detail

    @Html.ValidationSummary()

@section RightOfPageTitle{
    @if (ViewDataTyped.CurrentPersonCanManage)
    {
        <span class="pull-right">
            <a href="@ViewDataTyped.EditUrl" class="btn btn-neptune">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit")&nbsp; Edit Maintenance Record</a>
        </span>
    }
}

<div class="row">
    <div class="col-xs-6">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Basics
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 control-label text-right">@Html.Label("Maintenance Record Date")</div>
                    <div class="col-xs-6">
                        <span>@ViewDataTyped.MaintenanceRecord.GetMaintenanceRecordDate()</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 control-label text-right">@Html.Label("Maintenance Type")</div>
                    <div class="col-xs-6">
                        <span>@ViewDataTyped.MaintenanceRecord.MaintenanceRecordType.MaintenanceRecordTypeDisplayName</span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 control-label text-right">@Html.Label("Performed By")</div>
                    <div class="col-xs-6">
                        <span>@ViewDataTyped.MaintenanceRecord.GetMaintenanceRecordOrganization().GetDisplayNameAsUrl()</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 control-label text-right">@Html.Label("Description")</div>
                    <div class="col-xs-6">
                        <span>@ViewDataTyped.MaintenanceRecord.MaintenanceRecordDescription</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Observations
            </div>
            <div class="panel-body">
                @if (@ViewDataTyped.BMPTypeHasObservationTypes && ViewDataTyped.MaintenanceRecord.MaintenanceRecordObservations.Any())
                {
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Attribute</th>
                            <th class="text-right">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var mro in ViewDataTyped.SortedMaintenanceRecordObservations)
                        {
                            <tr>
                                <td>
                                    @(ViewDataTyped.UserHasCustomAttributeTypeManagePermissions ? mro.CustomAttributeType.GetDisplayNameAsUrl() : new HtmlString(mro.CustomAttributeType.CustomAttributeTypeName))
                                    <br />
                                    <span class="help-block">@mro.CustomAttributeType.CustomAttributeTypeDescription</span>
                                </td>
                                <td class="text-right" style="min-width: 150px">@ViewDataTyped.MaintenanceRecord.GetObservationValueWithUnitsForAttributeType(mro.CustomAttributeType)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else if (@ViewDataTyped.BMPTypeHasObservationTypes && !ViewDataTyped.MaintenanceRecord.MaintenanceRecordObservations.Any())
                {
                    <p class="systemText">There are no recorded Observation Values for this Maintenance Record</p>
                }
                else
                {
                    <p class="systemText">There are no Observation Types available for this Treatment BMP Type.</p>
                }
            </div>
        </div>
    </div>
</div>