@*-----------------------------------------------------------------------
    <copyright file="NavAndHeaderLayout.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using System.Diagnostics   
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Views.Shared
@using NeptuneWebConfiguration = LtInfo.Common.SitkaWebConfiguration
@inherits Neptune.Web.Areas.DroolTool.Views.Shared.NavAndHeaderLayout
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@("Stormwater Tools") @(!string.IsNullOrWhiteSpace(ViewDataTyped.HtmlPageTitle) ? string.Format(" | {0}", ViewDataTyped.HtmlPageTitle) : string.Empty)@ViewDataTyped.GetBreadCrumbTitle()</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-120x120.png">
    <link rel="icon" type="image/png" sizes="57x57" href="/Content/img/OCStormwater/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="57x57" href="/Content/img/OCStormwater/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="57x57" href="/Content/img/OCStormwater/favicon-16x16.png">

    @{ Html.RenderRazorSitkaPartial<NeptuneIncludes>(); }

    <link href="@Url.Content("~/Content/Bootstrap/neptune/ocstormwater.theme.min.css")" rel="stylesheet" type="text/css" />
    
    <style>
        .droolMainLogo {
            max-height: 100px !important;
        }
        .mnwdMainLogo {
            max-height: 80px;
            margin-top: 10px;
            margin-right: 20px;
            float: right;
        }
        .h2ocMainLogo {
            max-height: 70px;
            margin-top: 10px;
            margin-right: 20px;
            float: right;
        }
        
        @@media screen and (max-width: 560px) {
            .extraLogosContainer {
                display: none;
            }
        }
    </style>
    @if(ViewDataTyped.IsHomePage)
    {
        <style>
            .headerHidden {
                display: none;
            }
        </style>
    }

    @RenderSection("JavascriptAndStylesContent", false)

</head>
<body>
    <div class="expandToFillScreen">
        <header class="neptuneHeader headerHidden">
            <div class="row">
                <div class="col-xs-6">
                    <a href="/"><img src="@Url.Content("~/Areas/DroolTool/Content/udt_color_logo.png")" class="droolMainLogo"/></a>
                </div>
                <div class="col-xs-6 extraLogosContainer">
                    <a href="https://www.mnwd.com"><img src="@Url.Content("~/Areas/DroolTool/Content/mnwd_color_logo.jpg")" class="mnwdMainLogo" /></a>
                    <a href="https://h2oc.org"><img src="@Url.Content("~/Areas/DroolTool/Content/h2oc_color_logo.png")" class="h2ocMainLogo" /></a>
                </div>
                
            </div>

        </header>

        @RenderSection("BeforeBodyContainer", false)

        @RenderBody()
    </div>

    @{ Html.RenderRazorSitkaPartial<NeptuneLateLoadingIncludes>(); }

</body>
</html>
