@using Neptune.Web.Views.Shared
@using Neptune.Web.Common
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inherits Neptune.Web.Views.ParcelLayerUpload.UploadParcelLayer
@model Neptune.Web.Views.ParcelLayerUpload.UploadParcelLayerViewModel
@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}
@Html.ValidationSummary()

<form id="uploadGisForm" method="post" action="@ViewDataTyped.NewGisUploadUrl" enctype="multipart/form-data">
    <div class="formPage">
        <div class="row">
            <div class="col-md-12">
                <p>Use this form to bulk upload a replacement Parcel layer for the entire county.</p>
                <p>Requirements:</p>
                <ul>
                    <li>The upload must be a single ArcGIS file geodatabase containing only Parcel features.</li>
                    <li>File geodatabases created in ArcMap 10.1+ or ArcGIS Pro are supported.</li>
                    <li>The file geodatabase (.gdb) must be contained within a compressed zip file (.zip)</li>
                    <li>
                        Geodatabases using ESRI Smart Database Compression (SDC) are not supported. Please
                        <a href="http://desktop.arcgis.com/en/arcmap/10.3/tools/data-management-toolbox/uncompress-file-geodatabase-data.htm">uncompress</a>
                        before zipping and uploading
                    </li>
                    <li>The zip file must contain only one file geodatabase and no other data</li>
                    <li>The file geodatabase must contain only one feature class</li>
                    <li>The feature class must have fields exactly matching the Parcel schema:</li>
                    <li>The following fields are required and null values are not allowed: AssessmentNo*, Shape_Area, and geometry</li>
                    <li>The following fields required, however null values in the rows are acceptable: SiteAddress</li>
                </ul>
                <p>* Features with a null AssessmentNo value will be skipped during the upload, rather than causing the upload to fail.</p>
                <hr/>
                <p><strong>After you upload your file the new Parcels will be added and overwrite any existing Parcels for the entire county. This action is irreversible.</strong></p>
                <p>The system will perform an overlay analysis to update the list of parcels associated with each WQMP.</p>
                <br/>
                <div>
                    @Html.EditorFor(x => x.FileResourceData)
                    @Html.ValidationMessageFor(x => x.FileResourceData)
                    <span class="smallExplanationText">
                        Allowed Extensions: @Model.GetFileExtensions(x => x.FileResourceData)
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-neptune"><span class="glyphicon glyphicon-arrow-up"></span> Upload</button>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m=>m.PersonID)
</form>
