@using Neptune.WebMvc.Common.BootstrapWrappers
@using Neptune.WebMvc.Common.DhtmlWrappers
@using Neptune.WebMvc.Views.Shared
@inherits Neptune.WebMvc.Views.OnlandVisualTrashAssessment.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }

}

@section RightOfPageTitle
{
    @if (ViewDataTyped.HasEditPermissions)
    {
        <a class="btn btn-neptune" href="@ViewDataTyped.NewUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus") Begin OVTA</a>

        <span class="dropdown">
            <button id="actionsDropdown" class="btn btn-neptune" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                More Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labeledby="actionsDropdown" style="list-style: none; background: #fff;">
                <li><a href="@ViewDataTyped.UploadUrl">Upload OVTA Assessments</a></li>
                <li><a href="@ViewDataTyped.UploadAreaUrl">Upload OVTA Areas</a></li>
                <li><a href="@ViewDataTyped.ExportUrl">Download OVTA Areas</a></li>
            </ul>
        </span>
    }
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                On-Land Visual Trash Assessments
            </div>
            <div class="panel-body">
                <p>This table can be used to search and view individual assessments.</p>
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                OVTA Areas
            </div>
            <div class="panel-body">
                <p>All OVTAs are associated with an area. This table can be used to search and view the assessment areas.</p>
                @Html.DhtmlxGrid(ViewDataTyped.AreaGridSpec, ViewDataTyped.AreaGridName, ViewDataTyped.AreaGridDataUrl, "height:400px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>