@*-----------------------------------------------------------------------
    <copyright file="SiteLayout.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.Common.DesignByContract
@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common.ModalDialog
@using Neptune.WebMvc.Views.Shared
@inherits Neptune.WebMvc.Views.OnlandVisualTrashAssessment.OVTASection
@{
    @SetLayout("~/Views/Shared/_Layout.cshtml", ViewDataTyped)
}

@{ Check.Require(ViewDataTyped.OVTA == null || ViewDataTyped.OVTA.OnlandVisualTrashAssessmentStatus == OnlandVisualTrashAssessmentStatus.InProgress, "Cannot edit Assessment because it has already been finalized.");}


@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.TrashAssessmentMap.js")"></script>
    

    @RenderSection("JavascriptAndStylesContent", false)

    <style>
        nav#wizardNav ul li a.disabledItem {
            cursor: not-allowed;
            font-style: italic;
            color: #999;
            background-color: transparent;
        }

        #siteExplorerAreaLink {
            padding-top: 10px !important;
            width: 90px !important;
        }

        nav#wizardNav ul li.activeGroup a,
        nav#wizardNav ul li.activeGroup span {
            color: #fff;
            background: #0099ab;
            cursor: pointer;
        }

        .field-validation-success {
            color: #5cb85c;
        }

        .field-validation-error {
            margin-right: 4px;
        }

        nav#wizardNav ul li a {
            padding-left: 23px;
        }

            nav#wizardNav ul li a.hasCompletionStatus {
                padding-left: 5px;
            }

                nav#wizardNav ul li a.hasCompletionStatus.disabledItem {
                    padding-left: 23px;
                }

        @@media (min-width: 769px) {
            nav#wizardNav ul li.activeGroup a:after {
                content: '';
                display: block;
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -10px;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 8px solid #0099ab;
                z-index: 900;
            }
        }

        hr {
            border-top: 1px solid #ddd;
        }

        .glyphicon-chevron-down {
            margin-left: 7px;
            margin-top: 7px;
        }
    </style>
}
@if (ViewDataTyped.OVTA != null)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <div class="dropdown moreActionsToggle" style="display: inline;">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        if (ViewDataTyped.OVTA.OnlandVisualTrashAssessmentArea != null)
                        {
                            <li>
                                <a href="@ViewDataTyped.OnlandVisualTrashAssessmentAreaDetailUrl">View Assessment Area Details</a>
                            </li>
                        }
                        <li>
                            @ModalDialogFormHelper.MakeDeleteLink("Delete OVTA", ViewDataTyped.OnlandVisualTrashAssessmentAreaDeleteUrl, new List<string> { "" }, true)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@Html.ValidationSummary()
<div>
    <div class="row wizard">
        <div class="col-xs-12 col-sm-3">
            <nav id="wizardNav">
                <ul class="nav nav-stacked">
                    @foreach (var ovtaSection in OVTASection.All.Where(x => x.IsSectionRelevant(ViewDataTyped.OVTA)))
                    {
                        var sectionIsActive = ViewDataTyped.SectionName == ovtaSection.OVTASectionName;
                        <li class="@(sectionIsActive ? "activeGroup" : string.Empty)">
                            <a class="@(ViewDataTyped.OVTA == null ? "disabledItem" : string.Empty) @(ovtaSection.HasCompletionStatus ? "hasCompletionStatus" : string.Empty)" href="@ovtaSection.GetSectionUrl(ViewDataTyped.OVTA, ViewDataTyped.LinkGenerator)">
                                @ovtaSection.SectionCompletionStatusIndicator(ViewDataTyped.OVTA)
                                <span>@ovtaSection.OVTASectionDisplayName</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div id="wizardContent" class="col-xs-12 col-sm-9">
            <div class="wizardHeader">
                <h2>@ViewDataTyped.SectionHeader</h2>
            </div>

            <div class="wizardMain">
                    @RenderBody()
            </div>
        </div>
    </div>
</div>
