@*-----------------------------------------------------------------------
<copyright file="SummaryForMap.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common.BootstrapWrappers
@using Neptune.WebMvc.Common.HtmlHelperExtensions
@using Neptune.WebMvc.Common.ModalDialog
@inherits Neptune.WebMvc.Areas.Trash.Views.OnlandVisualTrashAssessmentArea.TrashMapAssetPanel

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h4>@ViewDataTyped.OnlandVisualTrashAssessmentArea.OnlandVisualTrashAssessmentAreaName</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <dl>
                    <dt>Assessment Date</dt>
                    <dd>@if (ViewDataTyped.MostRecentAssessmentDate != null)
                        {
                            @ViewDataTyped.MostRecentAssessmentDate
                        }
                        else
                        {
                            <p class="systemText">No assessment completed</p>
                        }
                    </dd>
                    <dt>@Html.LabelWithSugarFor(FieldDefinitionType.AssessmentScore)</dt>
                    <dd>@ViewDataTyped.ScoreHtmlString</dd>
                </dl>
            </div>
        </div>
        @if (ViewDataTyped.UserHasViewDetailsPermission)
        {
            <div class="row">
                <div class="col-xs-12">
                    <a href="@ViewDataTyped.DetailUrl" class="btn btn-neptune">View Details</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @ModalDialogFormHelper.ModalDialogFormLink($"{BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus")} Begin OVTA", ViewDataTyped.BeginOVTAUrl, "Begin OVTA", 500, "Begin", "Cancel", new List<string> { "btn btn-neptune" }, null, null)
                </div>
            </div>
        }
    </div>
</div>
