@*-----------------------------------------------------------------------
    <copyright file="Detail.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.EFModels.Entities
@using Neptune.Web.Common
@using Neptune.Web.Common.DhtmlWrappers
@using Neptune.Web.Common.ModalDialog
@using Microsoft.AspNetCore.Html
@using Neptune.Web.Views.Shared
@inherits Neptune.Web.Views.User.Detail

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/Content/angular-controllers/PersonOrganizationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular-controllers/EditUserJurisdictionsController.js")" type="text/javascript"></script>

    <style type="text/css">
        .paddedTableCell {
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 3px;
        }
    </style>

}

@section RightOfPageTitle
{
    @if (ViewDataTyped.UserCanManageThisPersonPermissions)
    {
        @ModalDialogFormHelper.ModalDialogFormLink(new HtmlString($"<span class='glyphicon glyphicon-edit'></span> {(ViewDataTyped.Person.IsActive ? "Inactivate" : "Activate")} User"), ViewDataTyped.ActivateInactivateUrl, $"{(ViewDataTyped.Person.IsActive ? "Inactivate" : "Activate")} this user?", 400, "Continue", "Cancel", new List<string>{ "btn", "btn-neptune", "headerButtonText", "inactivateUserButton" }, null, null)
        ;
    }
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Basics
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 fieldLabel text-right">Name</div>
                    <div class="col-xs-8">@ViewDataTyped.Person.GetFullNameFirstLast()</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 fieldLabel text-right">Email</div>
                    <div class="col-xs-8">@ViewDataTyped.Person.Email</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 fieldLabel text-right">Phone</div>
                    <div class="col-xs-8">@ViewDataTyped.Person.Phone.ToPhoneNumberString()</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 fieldLabel text-right">@FieldDefinitionType.Username.GetFieldDefinitionLabel()</div>
                    <div class="col-xs-8">@ViewDataTyped.Person.LoginName</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 fieldLabel text-right">@FieldDefinitionType.Organization.GetFieldDefinitionLabel()</div>
                    <div class="col-xs-8">@ViewDataTyped.Person.Organization.GetDisplayNameAsUrl()</div>
                </div>
                @if (ViewDataTyped.UserCanManageThisPersonPermissions)
                {
                    <div class="row">
                        <div class="col-xs-4 fieldLabel text-right">Last Activity</div>
                        <div class="col-xs-8">@ViewDataTyped.Person.LastActivityDate.ToStringDateTimeNoLeadingZeros()</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 fieldLabel text-right">Created Date</div>
                        <div class="col-xs-8">@ViewDataTyped.Person.CreateDate.ToStringDateTimeNoLeadingZeros()</div>
                    </div>
                }
                @if (ViewDataTyped.UserCanManageThisPersonPermissions || ViewDataTyped.IsViewingSelf)
                {
                    <div class="alert" role="alert">
                        This information can be <a target="_blank" class="alert-link" href="@ViewDataTyped.Person.GetKeystoneEditLink()">edited here</a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Role
                @if (ViewDataTyped.UserCanManageThisPersonPermissions)
                {
                    <span class="pull-right">
                        @ViewDataTyped.EditRolesLink
                    </span>
                }
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 fieldLabel text-right">Role</div>
                    <div class="col-xs-6">
                        @if (ViewDataTyped.UserCanManagePeople)
                        {
                            <a href="@ViewDataTyped.RoleDetailUrl">@ViewDataTyped.Person.Role.RoleDisplayName</a>
                        }
                        else
                        {
                            @ViewDataTyped.Person.Role.RoleDisplayName
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 fieldLabel text-right">OCTA Grant Reviewer</div>
                    <div class="col-xs-6">@ViewDataTyped.Person.IsOCTAGrantReviewer.ToYesNo()</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 fieldLabel text-right">Receives System Communications</div>
                    <div class="col-xs-6">@ViewDataTyped.Person.ReceiveSupportEmails.ToYesNo()</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 fieldLabel text-right">Receives RSB Revision Requests</div>
                    <div class="col-xs-6">@ViewDataTyped.Person.ReceiveRSBRevisionRequestEmails.ToYesNo()</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Assigned @FieldDefinitionType.Jurisdiction.GetFieldDefinitionLabelPluralized()
                @if (ViewDataTyped.UserCanManageThisPersonPermissions && !ViewDataTyped.Person.IsAdministrator())
                {
                    <span class="pull-right">
                        @ViewDataTyped.EditJurisdictionsLink
                    </span>
                }
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.Person.IsAdministrator())
                {
                    <p class="systemText">
                        Administrators are by definition assigned to manage <a href="@ViewDataTyped.JurisdictionIndexUrl">all @FieldDefinitionType.Jurisdiction.GetFieldDefinitionLabelPluralized()</a>
                    </p>
                }
                else if (ViewDataTyped.Person.StormwaterJurisdictionPeople.Select(x => x.StormwaterJurisdiction).Any())
                {
                    <ul style="margin: 5px 0">
                        @foreach (var jurisdiction in ViewDataTyped.Person.StormwaterJurisdictionPeople.Select(x => x.StormwaterJurisdiction))
                        {
                            <li>@jurisdiction.Organization.OrganizationName/*.GetDisplayNameAsDetailUrl()*/</li>
                        }
                    </ul>
                }
                else
                {
                    <p class="systemText">
                        <span>
                            @ViewDataTyped.Person.GetFullNameFirstLast() is not assigned to any @FieldDefinitionType.Jurisdiction.GetFieldDefinitionLabelPluralized()
                        </span>
                        @if (!ViewDataTyped.UserCanManageThisPersonPermissions)
                        {
                            <span>
                                User it not assigned to any @FieldDefinitionType.Jurisdiction.GetFieldDefinitionLabelPluralized(). To add the user to a @FieldDefinitionType.Jurisdiction.GetFieldDefinitionLabel() please
                                @ModalDialogFormHelper.ModalDialogFormLink("contact an administrator", ViewDataTyped.RequestSupportUrl, "Request Support", 800, "Submit Request", "Cancel", new List<string>(), null, null).
                            </span>
                        }
                    </p>
                }
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                @($"Organizations for which {ViewDataTyped.Person.GetFullNameFirstLast()} is a {FieldDefinitionType.PrimaryContact.GetFieldDefinitionLabel()}")
                @if (ViewDataTyped.UserIsAdmin)
                {
                    <span class="pull-right">
                        @ModalDialogFormHelper.MakeEditIconLink(ViewDataTyped.EditPersonOrganizationPrimaryContactUrl, $"Edit {FieldDefinitionType.Organization.GetFieldDefinitionLabelPluralized()} for which {ViewDataTyped.Person.GetFullNameFirstLast()} is a {FieldDefinitionType.PrimaryContact.GetFieldDefinitionLabel()}", ViewDataTyped.UserCanManageThisPersonPermissions)
                    </span>
                }
            </div>
            <div class="panel-body">
                @if (ViewDataTyped.Person.GetPrimaryContactOrganizations().Any())
                {
                    <ul style="margin: 5px 0">
                        @foreach (var organization in ViewDataTyped.Person.GetPrimaryContactOrganizations())
                        {
                            <li>@organization.GetDisplayNameAsUrl()</li>
                        }
                    </ul>
                }
                else
                {
                    <p class="systemText">@ViewDataTyped.Person.GetFullNameFirstLast() is not a @FieldDefinitionType.PrimaryContact.GetFieldDefinitionLabel() for any @FieldDefinitionType.Organization.GetFieldDefinitionLabelPluralized()</p>
                }
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                System Communications
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.UserNotificationGridSpec, ViewDataTyped.UserNotificationGridName, ViewDataTyped.UserNotificationGridDataUrl, "height:300px", DhtmlxGridResizeType.VerticalResizableHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>
