@using Neptune.WebMvc.Common
@using Neptune.WebMvc.Common.HtmlHelperExtensions
@using Neptune.WebMvc.Views.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Neptune.WebMvc.Common.BootstrapWrappers
@inherits Neptune.WebMvc.Views.LandUseBlockGeometry.DownloadLandUseBlockGeometry
@model Neptune.WebMvc.Views.LandUseBlockGeometry.DownloadLandUseBlockGeometryViewModel

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}
@section RightOfPageTitle
{
    <a class="btn btn-neptune headerButtonText observationTypeButton" href="@ViewDataTyped.UploadLandUseBlockUrl">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-open") Upload Land Use Block</a>
}
@Html.ValidationSummary()

<form id="uploadGisForm" method="post" action="@ViewDataTyped.NewGisUploadUrl" enctype="multipart/form-data">
    <div class="formPage">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Use this form to download Land Use Blocks for a given jurisdiction:
                    <ul>
                        <li>A single ArcGIS file geodatabase containing land use block features will be produced for the selected jurisdiction.</li>
                        <li>The will contain attributes for Block ID, Land Use Type,  Jurisdiction, Block Area, Loading Rate, Land Use Description, Median Household Income Residential, Median Household Income Retail, Trash Results Area, Permit Type</li>
                        <li>This file download is intended to support bulk editing in desktop GIS software and can be re-uploaded to the platform to replace the existing land use blocks utilized in trash results calculations.</li>
                    </ul>
                </p>
                <div class="row form-group" style="margin-top: 0px;">
                    <div class="col-md-6">
                        @Html.LabelWithSugarFor(x => x.StormwaterJurisdictionID)
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.StormwaterJurisdictionID, ViewDataTyped.StormwaterJurisdictions, new Dictionary<string, object> {{"class", "form-control"}})
                    </div>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-neptune"><span class="glyphicon glyphicon-arrow-down"></span> Download</button>
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.PersonID)
</form>
