@*-----------------------------------------------------------------------
<copyright file="NavAndHeaderLayout.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using System.Diagnostics
@using Neptune.Web.Common
@using Neptune.Web.Models
@using Neptune.Web.Views.Shared
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using NeptuneWebConfiguration = LtInfo.Common.SitkaWebConfiguration
@inherits NavAndHeaderLayout
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@MultiTenantHelpers.GetTenantDisplayName()  @(!string.IsNullOrWhiteSpace(ViewDataTyped.HtmlPageTitle) ? string.Format(" | {0}", ViewDataTyped.HtmlPageTitle) : string.Empty)@ViewDataTyped.GetBreadCrumbTitle()</title>

    <link rel="apple-touch-icon" sizes="57x57" href=@string.Format("/Content/img/{0}/apple-icon-57x57.png", MultiTenantHelpers.GetTenantName())>
    <link rel="apple-touch-icon" sizes="57x57" href=@string.Format("/Content/img/{0}/apple-icon-60x60.png", MultiTenantHelpers.GetTenantName())>
    <link rel="apple-touch-icon" sizes="57x57" href=@string.Format("/Content/img/{0}/apple-icon-72x72.png", MultiTenantHelpers.GetTenantName())>
    <link rel="apple-touch-icon" sizes="57x57" href=@string.Format("/Content/img/{0}/apple-icon-76x76.png", MultiTenantHelpers.GetTenantName())>
    <link rel="apple-touch-icon" sizes="57x57" href=@string.Format("/Content/img/{0}/apple-icon-114x114.png", MultiTenantHelpers.GetTenantName())>
    <link rel="apple-touch-icon" sizes="57x57" href=@string.Format("/Content/img/{0}/apple-icon-120x120.png", MultiTenantHelpers.GetTenantName())>
    <link rel="icon" type="image/png" sizes="57x57" href=@string.Format("/Content/img/{0}/favicon-32x32.png", MultiTenantHelpers.GetTenantName())>
    <link rel="icon" type="image/png" sizes="57x57" href=@string.Format("/Content/img/{0}/favicon-96x96.png", MultiTenantHelpers.GetTenantName())>
    <link rel="icon" type="image/png" sizes="57x57" href=@string.Format("/Content/img/{0}/favicon-16x16.png", MultiTenantHelpers.GetTenantName())>

    @{ Html.RenderRazorSitkaPartial<NeptuneIncludes>(); }



    @*if there is a tenant style sheet, use that otherwise use the default. The tenant style sheet should import the default sheet so no need to load it twice*@
    <link href="@Url.Content(MultiTenantHelpers.GetTenantStyleSheetUrl())" rel="stylesheet" type="text/css" />
    @*swich commented lines for testing purposes*@
    @*<link href="~/Content/Bootstrap/neptune/ocstormwater.theme.min.css" rel="stylesheet" type="text/css" />*@
    

    @RenderSection("JavascriptAndStylesContent", false)
</head>
<body>
    <div class="expandToFillScreen">
        <div class="header">                          
                <a href="@ViewDataTyped.NeptuneHomeUrl">
                    <img class="headerLogo" src="@MultiTenantHelpers.GetTenantBannerLogoUrl()"/>
                    <span class="headerText">@MultiTenantHelpers.GetTenantDisplayName()</span>
                </a>
        </div>
        <div id="mainnavandcontent">
            <nav class="navbar neptuneNavbar">
                <div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#neptune-collapse-navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="neptune-collapse-navbar">
                        <ul class="nav navbar-nav navbar-left">
                            @foreach (var topLevelMenu in ViewDataTyped.TopLevelLtInfoMenuItems)
                            {
                                @topLevelMenu.RenderMenu()
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    <p class="navbar-text">
                                        Welcome
                                        <a href="@ViewDataTyped.CurrentPerson.GetDetailUrl()">@ViewDataTyped.CurrentPerson.FullNameFirstLast</a>
                                    </p>
                                }
                            </li>
                            <li>
                                @ModalDialogFormHelper.ModalDialogFormLink("Request Support", ViewDataTyped.RequestSupportUrl, "Request Support", 800, "Submit Request", "Cancel", new List<string>(), null, null)
                            </li>
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    <a href="@ViewDataTyped.LogOutUrl" title="Log Out">Log Out</a>
                                }
                                else
                                {
                                    <a href="@ViewDataTyped.LogInUrl" title="Log In">Log In</a>
                                }
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            
            @RenderSection("BeforeBodyContainer", false)

            @RenderBody()
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <p class="text-center">
                The @MultiTenantHelpers.GetTenantDisplayName() application is built by <a href="http://sitkatech.com/">Sitka Technology Group</a> for Orange County Public Works. The @MultiTenantHelpers.GetTenantDisplayName() application is derived from the Tahoe Regional Planning Agency's <a href="https://stormwater.laketahoeinfo.org">Lake Tahoe Info Stormwater Tools</a>.
                This program is free software; you can redistribute it and/or modify it under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</a> as published by the <a href="https://www.fsf.org/">Free Software Foundation</a>.
                Source code is available on <a href="https://github.com/sitkatech/neptune">GitHub</a>.
            </p>
            <p class="text-center">
                Copyright (C) <a href="http://trpa.org">Tahoe Regional Planning Agency</a> and <a href="http://www.sitkatech.com">Sitka Technology Group</a> | Version @NeptuneWebConfiguration.WebApplicationVersionInfo.Value.ApplicationVersion | Compiled @NeptuneWebConfiguration.WebApplicationVersionInfo.Value.DateCompiled.ToString("yyyy-MM-dd HH:mm:ss") | PID @Process.GetCurrentProcess().Id
            </p>

        </div>
    </footer>

    @{ Html.RenderRazorSitkaPartial<NeptuneLateLoadingIncludes>(); }

</body>
</html>

<script>
    jQuery(document).ready(function() {
  
        jQuery(window).scroll(function () {
            // this is fragile, the 10px buffer is for when the document height is just equal to the height of the view port + the height of the header
            var outerHeight = jQuery(document).height();
            var heightOfViewPort = jQuery(window).height();

            if (jQuery(window).scrollTop() > 111 && (outerHeight > (heightOfViewPort + 110 + 10))) {
                jQuery('.neptuneNavbar').addClass('navbar-fixed-top');
            }
            if (jQuery(window).scrollTop() < 110) {
                jQuery('.neptuneNavbar').removeClass('navbar-fixed-top');
            }
        });
    });
</script>