@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Areas.Trash.Views.OnlandVisualTrashAssessment.FinalizeOVTA

@{ @SetLayout("SiteLayout.cshtml", ViewDataTyped) }

<p class="systemText">Content under development</p>


@if (Neptune.Web.Models.OVTASection.RefineAssessmentArea.IsSectionComplete(ViewDataTyped.OVTA))
{

    using (Html.BeginForm("Location", "FieldVisit", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "field-visit-form" }))
    {
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <p class="systemText">Enter the name of the assessors and any other notes about this OVTA</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.Notes)
            </div>
            <div class="col-sm-9">
                @Html.TextAreaWithMaxLengthFor(m => m.Notes, new TextAreaForExtensions.TextAreaDimensions(null, 3), null, new List<string> { "form-control" })
                @Html.ValidationMessageFor(m => m.Notes)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 control-label">
                @Html.LabelWithSugarFor(m => m.Score)
            </div>
            <div class="col-sm-9">
                @Html.DropDownListFor(m=>m.Score, ViewDataTyped.Scores)
                @Html.ValidationMessageFor(m => m.Notes)
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
            </div>

            <div class="col-xs-12 col-sm-10" style="text-align: right">
                <button type="submit" class="btn btn-neptune">Finalize <i class="glyphicon glyphicon-chevron-right"></i></button>
            </div>
        </div>
    }
}
else
{
    <p class="systemText">You must complete the Refine Assessment section before you can finalize the assessment.</p>
}