@using LtInfo.Common.BootstrapWrappers
@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Areas.Trash.Views.OnlandVisualTrashAssessment.RecordObservations

@{ @SetLayout("SiteLayout.cshtml", ViewDataTyped) }

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/OnlandVisualTrashAssessment/ObservationsMapController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/ScriptsCustom/ManagePhotoWithPreview.js")"></script>
    <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: @Html.Raw(JObject.FromObject(Model).ToString(Formatting.None)),
                        AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
                    };
                });

        jQuery(document).ready(function() {
            HookupCheckIfFormIsDirtyNoDisable(undefined);
        });

    </script>

    <style>
        @@media screen and (max-width: 991px) {
            .text-right {
                text-align: left;
            }
        }
    </style>

}

@if (Neptune.Web.Models.OVTASection.InitiateOVTA.IsSectionComplete(ViewDataTyped.OVTA))
{

    <div class="row">
        <div class="col-sm-6">



        </div>

    </div>


    <div ng-app="NeptuneApp" ng-controller="ObservationsMapController">
        <p class="systemText">Content Under Development</p>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-sm btn-neptune" ng-click="addObservationAtCurrentLocation()"><span class="glyphicon glyphicon-phone"></span> Record Observation at Current Location</button>
                <br />
                <button class="btn btn-sm btn-neptune" ng-click="activateClickToAddMode()"><span class="glyphicon glyphicon-plus"></span> Add an Observation by Clicking the Map</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12" style="margin-top: 20px;">
                <div id="mapContainer">
                    <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 350px; margin: 0">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="currentSelectedMarkerModel" style="margin-top: 10px;">

            <div class="col-sm-6 col-sm-push-6">
                <label>Notes</label>
                <textarea class="form-control" rows="5" ng-model="currentSelectedMarkerModel.Note"></textarea>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <label>Photo</label>
                <div id="photoUploadWrapper" ng-show="showUploader()">
                    <input type="file" id="photoUpload" />
                </div>
                <br />
                <img height="114" ng-src="{{currentPhotoUrl()}}" ng-show="!showUploader()" />
                <br />
                <button type="button" ng-show="!showUploader()" ng-click="deletePhoto()">Delete photo</button>
            </div>


            @*Todo: The delete observation icon looks like it means "delete note". Please fix that*@
            <div class="col-sm-12 text-right">
                <button class="btn btn-neptune" ng-click="deleteObservation()"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>

        @using (Html.BeginForm("Location", "FieldVisit", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ovta-observations-form" }))
        {
            <div ng-repeat="observation in AngularModel.Observations">
                <input type="hidden" name="@Html.NameFor(x => x.Observations[0].ObservationDateTime).ToString().Replace("0", "{{$index}}")" value="{{observation.ObservationDateTime}}" />
                <input type="hidden" name="@Html.NameFor(x => x.Observations[0].LocationX).ToString().Replace("0", "{{$index}}")" value="{{observation.LocationX}}" />
                <input type="hidden" name="@Html.NameFor(x => x.Observations[0].LocationY).ToString().Replace("0", "{{$index}}")" value="{{observation.LocationY}}" />
                <input type="hidden" name="@Html.NameFor(x => x.Observations[0].Note).ToString().Replace("0", "{{$index}}")" value="{{observation.Note}}" />
                <input type="hidden" name="@Html.NameFor(x => x.Observations[0].OnlandVisualTrashAssessmentID).ToString().Replace("0", "{{$index}}")" value="{{observation.OnlandVisualTrashAssessmentID}}" />
                <input type="hidden" name="@Html.NameFor(x => x.Observations[0].OnlandVisualTrashAssessmentObservationID).ToString().Replace("0", "{{$index}}")" value="{{observation.OnlandVisualTrashAssessmentObservationID}}" />
            </div>

            <hr />
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
                </div>

                <div class="col-xs-12 col-sm-10" style="text-align: right">
                    <button type="submit" class="btn btn-neptune" value="false" name="@Html.NameFor(x => x.AutoAdvance)" ng-click="formo()">Save</button>
                    <button type="submit" class="btn btn-neptune" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Save &amp; Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="systemText">You must complete the Initiate OVTA section before you can record observations.</p>
}

<script>
    jQuery("#photoUpload").fileinput({ showUpload: false, showPreview: false, showRemove: false, defaultPreviewContent: "", allowedPreviewTypes: false, multiple: false, showCaption: true, browseClass: "btn btn-sm btn-neptune" });
</script>
