@using LtInfo.Common.BootstrapWrappers
@using Neptune.Web.Views.FieldVisit
@using Neptune.Web.Views.Shared
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Areas.Trash.Views.OnlandVisualTrashAssessment.RecordObservations

@{ @SetLayout("SiteLayout.cshtml", ViewDataTyped) }

@section JavascriptAndStylesContent
{
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script type="text/javascript" src="@Url.Content("~/Areas/Trash/Views/OnlandVisualTrashAssessment/ObservationsMapController.js")"></script>
    <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: @Html.Raw(JObject.FromObject(Model).ToString(Formatting.None)),
                        AngularViewData: @Html.Raw(JObject.FromObject(ViewDataTyped.ViewDataForAngular).ToString(Formatting.None))
                    };
                });

    </script>
}

<div ng-app="NeptuneApp" ng-controller="ObservationsMapController">
    <p class="systemText">Content Under Development</p>
    <div class="row">
        <div class="col-sm-12 col-md-12" style="margin-top: 20px;">
            <div id="mapContainer">
                <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 350px; margin: 0">
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="currentSelectedMarkerModel">

        <div class="col-sm-6">
            <input type="text" ng-model="currentSelectedMarkerModel.Note"/>
        </div>
        <div class="col-sm-6">
            BRB
        </div>
    </div>


    @using (Html.BeginForm("Location", "FieldVisit", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "field-visit-form" }))
    {
        <div ng-repeat="observation in AngularModel.Observations">
            <input type="hidden" name="@Html.NameFor(x=>x.Observations[0].ObservationDateTime).ToString().Replace("0", "{{$index}}")" value="{{observation.ObservationDateTime}}"/>
            <input type="hidden" name="@Html.NameFor(x=>x.Observations[0].LocationX).ToString().Replace("0", "{{$index}}")" value="{{observation.LocationX}}"/>
            <input type="hidden" name="@Html.NameFor(x=>x.Observations[0].LocationY).ToString().Replace("0", "{{$index}}")" value="{{observation.LocationY}}"/>
            <input type="hidden" name="@Html.NameFor(x=>x.Observations[0].Note).ToString().Replace("0", "{{$index}}")" value="{{observation.Note}}"/>
            <input type="hidden" name="@Html.NameFor(x=>x.Observations[0].OnlandVisualTrashAssessmentID).ToString().Replace("0", "{{$index}}")" value="{{observation.OnlandVisualTrashAssessmentID}}"/>
            <input type="hidden" name="@Html.NameFor(x=>x.Observations[0].OnlandVisualTrashAssessmentObservationID).ToString().Replace("0", "{{$index}}")" value="{{observation.OnlandVisualTrashAssessmentObservationID}}"/>
        </div>

        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <div><sup>@Html.Raw(BootstrapHtmlHelpers.RequiredIcon)</sup> Required Field</div>
            </div>

            <div class="col-xs-12 col-sm-10" style="text-align: right">
                <button type="submit" class="btn btn-neptune" value="false" name="@Html.NameFor(x => x.AutoAdvance)">Save</button>
                <button type="submit" class="btn btn-neptune" value="true" name="@Html.NameFor(x => x.AutoAdvance)">Save &amp; Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
            </div>
        </div>
    }
</div>