@*-----------------------------------------------------------------------
    <copyright file="SiteLayout.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.ModalDialog
@using Neptune.Web.Models
@inherits Neptune.Web.Areas.Trash.Views.OnlandVisualTrashAssessment.OVTASection
@{
    @SetLayout("~/Views/Shared/SiteLayout.cshtml", ViewDataTyped)
}

@section JavascriptAndStylesContent
{
    @RenderSection("JavascriptAndStylesContent", false)

    <style>
        nav#wizardNav ul li a.disabledItem {
            cursor: not-allowed;
            font-style: italic;
            color: #999;
            background-color: transparent;
        }

        nav#wizardNav ul li.activeGroup a,
        nav#wizardNav ul li.activeGroup span {
            color: #fff;
            background: #0099ab;
            cursor: pointer;
        }

        .field-validation-success {
            color: #5cb85c;
            
        }
        .field-validation-error {
            margin-right: 4px;
        }

        nav#wizardNav ul li a {
            padding-left: 23px;
        }
        
        nav#wizardNav ul li a.hasCompletionStatus {
            padding-left: 5px;
        }
            nav#wizardNav ul li a.hasCompletionStatus.disabledItem {
                padding-left: 23px;
            }

        @@media (min-width: 769px) {
            nav#wizardNav ul li.activeGroup a:after {
                content: '';
                display: block;
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -10px;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 8px solid #0099ab;
                z-index: 900;
            }
        }

        hr {
            border-top: 1px solid #ddd;
        }
        
        .glyphicon-chevron-down {
            margin-left: 7px;
            margin-top: 7px;
        }
    </style>
}
    
@Html.ValidationSummary()
<div>
    <div class="row wizard">
        <div class="col-xs-12 col-sm-3">
            <nav id="wizardNav">
                <ul class="nav nav-stacked">
                    @foreach (var ovtaSection in OVTASection.All)
                    {
                        var sectionIsActive = ViewDataTyped.SectionName == ovtaSection.OVTASectionName;
                        <li class="@(sectionIsActive ? "activeGroup" : string.Empty)">
                            <a class="@(ViewDataTyped.OVTA == null ? "disabledItem" : string.Empty) @(ovtaSection.HasCompletionStatus ? "hasCompletionStatus" : string.Empty)" href="@ovtaSection.GetSectionUrl(ViewDataTyped.OVTA)">
                                @ovtaSection.SectionCompletionStatusIndicator(ViewDataTyped.OVTA)
                                <span>@ovtaSection.OVTASectionDisplayName</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div id="wizardContent" class="col-xs-12 col-sm-9">
            <div class="wizardHeader">
                <h2>@ViewDataTyped.SectionHeader</h2>
            </div>

            <div class="wizardMain">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
