@*-----------------------------------------------------------------------
    <copyright file="NavAndHeaderLayout.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using System.Diagnostics
@using LtInfo.Common.HtmlHelperExtensions
@using Neptune.Web.Views.Shared
@using NeptuneWebConfiguration = LtInfo.Common.SitkaWebConfiguration
@inherits Neptune.Web.Areas.Trash.Views.Shared.NavAndHeaderLayout
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@("Stormwater Tools") @(!string.IsNullOrWhiteSpace(ViewDataTyped.HtmlPageTitle) ? string.Format(" | {0}", ViewDataTyped.HtmlPageTitle) : string.Empty)@ViewDataTyped.GetBreadCrumbTitle()</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/OCStormwater/apple-icon-120x120.png">
    <link rel="icon" type="image/png" sizes="57x57" href="/Content/img/OCStormwater/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="57x57" href="/Content/img/OCStormwater/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="57x57" href="/Content/img/OCStormwater/favicon-16x16.png">

    @{ Html.RenderRazorSitkaPartial<NeptuneIncludes>(); }

    <link href="@Url.Content("~/Content/Bootstrap/neptune/ocstormwater.theme.min.css")" rel="stylesheet" type="text/css" />

    @RenderSection("JavascriptAndStylesContent", false)
</head>
<body>
    <div class="expandToFillScreen">
        <header class="neptuneHeader">
            @{ Html.RenderRazorSitkaPartial<NeptuneNavBar, NeptuneNavBarViewData>(ViewDataTyped.NeptuneNavBarViewData);}
        </header>
        <nav class="navbar neptuneNavbar">
            <div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#neptune-collapse-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="neptune-collapse-navbar">
                    <ul class="nav navbar-nav navbar-left">
                        @foreach (var topLevelMenu in ViewDataTyped.TopLevelLtInfoMenuItems)
                        {
                            @topLevelMenu.RenderMenu()
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        @RenderSection("BeforeBodyContainer", false)

        @RenderBody()
    </div>

    <footer id="footer">
        <div class="container">
            <p class="text-center">
                This program is free software; you can redistribute it and/or modify it under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</a> as published by the <a href="https://www.fsf.org/">Free Software Foundation</a>.
                Disclaimers, copyright, and source code are available <a href="@ViewDataTyped.LegalUrl">here</a>.
            </p>
            <p class="text-center">
                Version @NeptuneWebConfiguration.WebApplicationVersionInfo.Value.ApplicationVersion | Compiled @NeptuneWebConfiguration.WebApplicationVersionInfo.Value.DateCompiled.ToString("yyyy-MM-dd HH:mm:ss") | PID @Process.GetCurrentProcess().Id
            </p>
        </div>
    </footer>

    @{ Html.RenderRazorSitkaPartial<NeptuneLateLoadingIncludes>(); }

</body>
</html>
