@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@inherits Neptune.Web.Views.NeptunePage.Edit
@model Neptune.Web.Views.NeptunePage.EditViewModel
@using Neptune.Web.Common

<script>
    function @(ViewDataTyped.TogglePageContentFunctionName)(isEditing) {
        document.getElementById('@ViewDataTyped.ViewPageContentDivID').style.display = isEditing ? 'none' : 'block';
        document.getElementById('@ViewDataTyped.EditPageContentDivID').style.display = isEditing ? 'block' : 'none';
    }
</script>

<div id="@ViewDataTyped.ViewPageContentDivID" class="neptunePageContent" style="position: relative; min-height: 30px;">
    <div class="hoverEditButton">
        <button style="margin: 10px" onclick="@(ViewDataTyped.TogglePageContentFunctionName)(true)">Edit</button>
    </div>
    @if (ViewDataTyped.NeptunePageContentOnLoad != null)
    {
        @Html.Raw(ViewDataTyped.NeptunePageContentOnLoad)
    }
    else
    {
        <div class="hoverEmptySpace"></div>
    }
</div>

<div id="@ViewDataTyped.EditPageContentDivID" style="display: none; margin-bottom: 16px;">
    <form method="post" action="@ViewDataTyped.PostUrl">
        <div style="max-height: 600px; overflow-y: auto">
            @Html.TinyMCEEditorFor(x => x.NeptunePageContent, TinyMCEExtension.TinyMCEToolbarStyle.MinimalWithImages, true, false, 200)
        </div>
        <div class="row" style="margin-top: 6px">
            <div class="col-xs-12" style="text-align: right">
                <button type="submit" class="btn btn-neptune">Save</button>
                <button type="button" onclick="@(ViewDataTyped.TogglePageContentFunctionName)(false)" class="btn btn-secondary" style="margin-left: 6px">Cancel</button>
                @Html.HiddenFor(x => x.NeptunePageID)
            </div>
        </div>
    </form>
</div>