@*-----------------------------------------------------------------------
<copyright file="Index.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.Web.Views
@using Neptune.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using Neptune.Web.Security
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits Neptune.Web.Views.ModeledCatchment.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    @{ MapJavascriptIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.Stormwater.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/ScriptsCustom/Maps/NeptuneMaps.StormwaterSearch.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/leaflet/leaflet.legend/leaflet-legend.css")" rel="stylesheet" type="text/css" />
}

@section RightOfPageTitle
{
    @if (new JurisdictionManageFeature().HasPermissionByPerson(ViewDataTyped.CurrentPerson))
    {       
        <a style="width: 170px" class="btn btn-neptune headerButtonText modeledCatchmentButton" href="@ViewDataTyped.UpdateModeledCatchmentGeometryUrl" title="Update Catchments" alt="Update Catchments">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-edit") Update Catchments</a>
    }    
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="row">
    <div class="col-sm-4">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Catchment Search
            </div>
            <div class="panel-body">
                <p>Search for a Catchment by name, click a Catchment polygon on the map, or view a list of all Catchments in the grid at the bottom of the page.</p>
                <div class="input-group">
                    <input type="text" id="catchmentFinder" class="typeahead form-control" placeholder="Enter the name of a Catchment" autocomplete="off" />
                    <span class="input-group-btn">
                        <a id="catchmentFinderButton" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                    </span>
                </div>
            </div>
        </div>

        <div id="mapSummaryResults">
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Catchment Map
            </div>
            <div id="mapContainer" class="panel-body">
                <div id="@ViewDataTyped.MapInitJson.MapDivID" style="height: 600px; margin: 0">
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panelNeptune">
            <div class="panel-heading panelTitle">
                Catchment Table
            </div>
            <div class="panel-body">
                @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var mapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.MapInitJson).ToString(Formatting.None));
        var map = new NeptuneMaps.StormwaterSearch(mapInitJson);

        var selector = '#catchmentFinder';
        var selectorButton = '#catchmentFinderButton';
        var summaryUrl = @Html.Raw(ViewDataTyped.FindCatchmentByNameUrl.ToJS());

        map.typeaheadSearch(selector, selectorButton, summaryUrl);
    });

</script>


