@*-----------------------------------------------------------------------
<copyright file="SummaryForMap.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.Web.Models
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@inherits Neptune.Web.Views.ModeledCatchment.SummaryForMap

<div class="panel panelStormwater">
    <div class="panel-heading ">
        Basics
    </div>
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-6 control-label text-right">Name</label>
            <div class="col-sm-6">@ViewDataTyped.ModeledCatchment.ModeledCatchmentName</div>
        </div>
        <div class="row">
            <label class="col-sm-6 control-label text-right">@Html.LabelWithSugarFor(FieldDefinition.StormwaterJurisdiction, "Jurisdiction")</label>
            <div class="col-sm-6">@ViewDataTyped.ModeledCatchment.StormwaterJurisdiction.GetDisplayNameAsDetailUrl()</div>
        </div>
        <div class="row">
            <label class="col-sm-6 control-label text-right">Notes</label>
            <div class="col-sm-6">@ViewDataTyped.ModeledCatchment.Notes</div>
        </div>        
        @if (ViewDataTyped.ModeledCatchment.ModeledCatchmentGeometry == null)
        {
            <div class="row">
                <label class="col-sm-6 control-label text-right">@Html.Label("Area")</label>
                <div class="col-sm-6">
                    <span>Catchment geometry not yet assigned</span>
                </div>
            </div>
        }

    </div>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li>
                <a class="list-group-item" href="@ViewDataTyped.ModeledCatchment.GetDetailUrl()"><span class="btn cardButton viewButton">@BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-search")</span>View Details</a>
            </li>
            @if (ViewDataTyped.CanDeleteCatchment)
            {
                <li>
                    @ModalDialogFormHelper.MakeDeleteLink("<span class=\"btn cardButton viewButton\"><span class=\"glyphicon glyphicon-trash\"></span></span>Delete Catchment", ViewDataTyped.DeleteModeledCatchmentUrl, new List<string> { "list-group-item" }, ViewDataTyped.CanDeleteCatchment)
                </li>
            }
        </ul>
    </div>  
</div>
