@*-----------------------------------------------------------------------
    <copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits Neptune.Web.Views.ObservationType.Edit

@using (Html.BeginForm())
{
    <div class="formPage">
        <div class="row">
            <div class="col-xs-12">
                <div class="validationError">
                    @Html.ValidationSummary()
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.ObservationTypeName)
                        </div>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ObservationTypeName, new { @class = "form-control", style = "width:100%" })
                            @Html.ValidationMessageFor(m => m.ObservationTypeName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.MeasurementLabel)
                        </div>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.MeasurementLabel, new { @class = "form-control", style = "width:auto" })
                            @Html.ValidationMessageFor(m => m.MeasurementLabel)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.MeasurementUnitTypeID)
                        </div>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.MeasurementUnitTypeID, ViewDataTyped.MeasurementUnitTypes, new { @class = "form-control", style = "width:auto" })
                            @Html.ValidationMessageFor(m => m.MeasurementUnitTypeID)
                        </div>
                    </div>                   
                    <br />
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.ObservationTypeCollectionMethodID)
                        </div>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.ObservationTypeCollectionMethodID, ViewDataTyped.ObservationTypeCollectionMethods, new { @class = "form-control", style = "width:auto" })
                            @Html.ValidationMessageFor(m => m.ObservationTypeCollectionMethodID)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.ObservationThresholdTypeID)
                        </div>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.ObservationThresholdTypeID, ViewDataTyped.ObservationThresholdTypes, new { @class = "form-control", style = "width:auto" })
                            @Html.ValidationMessageFor(m => m.ObservationThresholdTypeID)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.ObservationTargetTypeID)
                        </div>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.ObservationTargetTypeID, ViewDataTyped.ObservationTargetTypes, new { @class = "form-control", style = "width:auto" })
                            @Html.ValidationMessageFor(m => m.ObservationTargetTypeID)
                        </div>
                    </div>
                    <br/>



                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.BenchmarkDescritpion)
                        </div>
                        <div class="col-sm-9">
                            @Html.TextAreaWithMaxLengthFor(m => m.BenchmarkDescritpion, new TextAreaForExtensions.TextAreaDimensions(null, 2), null, new List<string>() { "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.ThresholdDescritpion)
                        </div>
                        <div class="col-sm-9">
                            @Html.TextAreaWithMaxLengthFor(m => m.ThresholdDescritpion, new TextAreaForExtensions.TextAreaDimensions(null, 2), null, new List<string>() { "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelWithSugarFor(m => m.AssessmentDescritpion)
                        </div>
                        <div class="col-sm-9">
                            @Html.TextAreaWithMaxLengthFor(m => m.AssessmentDescritpion, new TextAreaForExtensions.TextAreaDimensions(null, 2), null, new List<string>() { "form-control" })
                        </div>
                    </div>



                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align: right">
                <hr />
                <a href="@ViewDataTyped.ObservationTypeIndexUrl" class="btn btn-neptune">Cancel</a>
                <button type="submit" class="btn btn-neptune">Save</button>
            </div>
            @Html.HiddenFor(m => m.ObservationTypeID)
        </div>
    </div>
}


<script type="text/javascript">
    jQuery(document).ready(function () {
    });
</script>