@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using Neptune.WebMvc.Views.Shared
@using Neptune.WebMvc.Common.BootstrapWrappers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common
@using Neptune.WebMvc.Common.ModalDialog
@using Neptune.WebMvc.Views.WaterQualityManagementPlan
@inherits Neptune.WebMvc.Views.WaterQualityManagementPlan.FindAWQMP

@section JavascriptAndStylesContent
{
    @{
        MapJavascriptIncludes.RenderPartialView(Html);
    }
    <script type="text/javascript" src="@Url.Content("~/Content/angular-controllers/WaterQualityManagementPlanMapController.js")"></script>
     <script type="text/javascript">
        // <![CDATA[
        angular.module("NeptuneApp")
            .factory("angularModelAndViewData",
                function() {
                    return {
                        AngularModel: null,
                        AngularViewData:
                            @Html.Raw(ViewDataTyped.ViewDataForAngular.ToJsonHtmlString())
                    };
                });

        jQuery(document).ready(function () {
            jQuery("#jurisdictionDropDown").selectpicker("selectAll");
        });
        // ]]>
    </script>

    <style>
        .selected-bmp {
            background-color: #FFFF85;
        }

            .selected-bmp:hover {
                background-color: #FFFF85 !important;
            }

        .list-group-item .help-block {
            margin-bottom: 0;
            font-size: 12px;
        }

        ul.list-group {
            max-height: 350px;
            overflow-y: auto;
            border: 1px solid #eee;
            border-top: none;
            border-bottom: none;
        }

        @@media (max-width: 991px) {
            .mapDiv {
                height: 350px;
            }
        }

        @@media (min-width: 992px) {
            .mapDiv {
                height: 525px;
            }
        }

        li.list-group-item {
            color: #737373;
            cursor: pointer;
        }

            li.list-group-item:hover {
                background-color: #eee;
                cursor: pointer;
            }

        .panel.panelNeptune {
            border: none;
        }

        .aligned-row {
            display: flex;
            &::before

        {
            display: block;
        }

        }

        .no-padding-centered-col {
            padding-left: 0;
            padding-right: 0;
            display: flex;
            align-items: center;
        }

        .leaflet-control-layers-list {
            width: 210px
        }
    </style>

}


@section RightOfPageTitle
{
    @if (ViewDataTyped.CurrentPersonCanCreate)
    {
        @ModalDialogFormHelper.ModalDialogFormLink($"{BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus")} Add Plan", ViewDataTyped.NewWaterQualityManagementPlanUrl, string.Format("Create New {0}", FieldDefinitionType.WaterQualityManagementPlan.GetFieldDefinitionLabel()), new List<string> {"btn btn-neptune"}, true)
    }
    @if (ViewDataTyped.CurrentPerson.IsJurisdictionEditorOrManagerOrAdmin())
    {
        <span class="dropdown">
            <button id="actionsDropdown" class="btn btn-neptune" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                More Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labeledby="actionsDropdown" style="list-style: none; background: #fff;">
                <li><a class="btn btn-neptune" href="@ViewDataTyped.BulkUploadWQMPUrl"> Bulk Upload WQMPs</a></li>
                <li><a class="btn btn-neptune" href="@ViewDataTyped.BulkUploadSimplifiedBMPs"> Bulk Upload Simplified BMPs</a></li>
                <li><a class="btn btn-neptune" href="@ViewDataTyped.BulkWqmpBoundaryFromAPNs"> Bulk Upload WQMP Boundaries From APNs</a></li>
            </ul>
        </span>
    }
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div ng-app="NeptuneApp" ng-controller="WaterQualityManagementPlanMapController">
    <div class="row">
        
    </div>
    <div class="row" style="margin-top:2px">
        <div class="col-sm-8 col-md-3">
            <div class="input-group">
                <input type="text" id="treatmentBMPFinder" class="typeahead form-control" placeholder="Search by WQMP name" autocomplete="off" />
                <span class="input-group-btn">
                    <a id="treatmentBMPFinderButton" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-sm-8 col-md-6 col-md-push-3">
            <div class="aligned-row">
                <div class="col-xs-4 no-padding-centered-col">
                    <span style="display: inline-block; width: 138px; font-weight: bold">Filter by Jurisdiction</span>
                </div>
                <div class="col-xs-8" style="padding: 0">
                    <select id="jurisdictionDropDown" class="selectpicker" data-width="100%" multiple="multiple" ng-change="filterMapByJurisdiction()" ng-model="selectedJurisdictionIDs"
                            data-selected-text-format="count>1" data-count-selected-text="{0} of {1} selected" data-actions-box="true">
                        <option ng-repeat="jurisdiction in AngularViewData.Jurisdictions | orderBy:'StormwaterJurisdictionName'" value="{{jurisdiction.StormwaterJurisdictionID}}">
                            {{jurisdiction.StormwaterJurisdictionName}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12 col-md-12">
            <div id="mapContainer">
                <div id="@ViewDataTyped.MapInitJson.MapDivID" class="mapDiv" style="margin: 0">
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-4 col-md-3">
        </div>

        <div class="col-sm-8 col-md-12" id="mapSummaryResults"></div>
    </div>
    <hr />
</div>