@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common.BootstrapWrappers
@using Neptune.WebMvc.Common.DhtmlWrappers
@using Neptune.WebMvc.Common.ModalDialog
@using Neptune.WebMvc.Views.Shared

@inherits Neptune.WebMvc.Views.WaterQualityManagementPlan.Index

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

@section RightOfPageTitle
{
    @if (ViewDataTyped.CurrentPersonCanCreate)
    {
            @ModalDialogFormHelper.ModalDialogFormLink($"{BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus")} Add Plan", ViewDataTyped.NewWaterQualityManagementPlanUrl, string.Format("Create New {0}", FieldDefinitionType.WaterQualityManagementPlan.GetFieldDefinitionLabel()), new List<string> {"btn btn-neptune"}, true)
    }
    @if (ViewDataTyped.CurrentPerson.IsJurisdictionEditorOrManagerOrAdmin())
    {
        <span class="dropdown">
            <button id="actionsDropdown" class="btn btn-neptune" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                More Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labeledby="actionsDropdown" style="list-style: none; background: #fff;">
                <li><a class="btn btn-neptune" href="@ViewDataTyped.BulkUploadWQMPUrl"> Bulk Upload WQMPs</a></li>
                <li><a class="btn btn-neptune" href="@ViewDataTyped.BulkUploadSimplifiedBMPs"> Bulk Upload Simplified BMPs</a></li>
                <li><a class="btn btn-neptune" href="@ViewDataTyped.BulkWqmpBoundaryFromAPNs"> Bulk Upload WQMP Boundaries From APNs</a></li>
            </ul>
        </span>
    }
    @* @if (ViewDataTyped.CurrentPerson.IsJurisdictionEditorOrManager())
    {
        <span class="dropdown">
            <button id="actionsDropdown" class="btn btn-neptune" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                More Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labeledby="actionsDropdown" style="list-style: none; background: #fff;">
                <li><a class="btn btn-neptune" href="@ViewDataTyped.BulkWqmpBoundaryFromAPNs"> Bulk Upload WQMP Boundaries From APNs</a></li>
            </ul>
        </span>
    } *@
}

<div class="row">
    <div class="col-xs-12">
        <h2>All Water Quality Management Plans</h2>
    </div>
    <div class="col-xs-12">
        @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
    </div>
    <div class="col-xs-12">
        @Html.DhtmlxGrid(ViewDataTyped.IndexGridSpec, ViewDataTyped.IndexGridName, ViewDataTyped.IndexGridDataUrl, "", DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
    </div>
</div>
@if (!ViewDataTyped.CurrentPerson.IsAnonymousOrUnassigned())
{
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-xs-12">
            <h2>All Water Quality Management Plan O&amp;M Verifications</h2>
        </div>
        <div class="col-xs-12">
            @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.VerificationNeptunePage); }
        </div>
        <div class="col-xs-12">
            @Html.DhtmlxGrid(ViewDataTyped.VerificationGridSpec, ViewDataTyped.VerificationGridName, ViewDataTyped.VerificationGridDataUrl, "", DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
        </div>
    </div>  
}
