@*-----------------------------------------------------------------------
<copyright file="SummaryForMap.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using Neptune.EFModels.Entities
@using Neptune.WebMvc.Common.HtmlHelperExtensions
@inherits Neptune.WebMvc.Views.WaterQualityManagementPlan.SummaryForMap

<style>
    .labels {
        padding-left: 3rem;
    }

    .captionText { font-size: 12px; }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4 class="col-xs-6 col-md-6">@ViewDataTyped.WaterQualityManagementPlan.WaterQualityManagementPlanName</h4>
                <div class="col-xs-6 col-md-6 pull-right">
                    <a class="btn btn-neptune" href="@ViewDataTyped.WaterQualityManagementPlanDetailUrl">View Details</a>
                    <a class="btn btn-neptune" href="@ViewDataTyped.WaterQualityManagementPlanOAndMVerificationlUrl">Start O&M Verification</a>
                </div>
                
            </div>            
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 labels">
                <div class="row">
                    <div class="col-xs-12">@Html.LabelWithSugarFor(FieldDefinitionType.Jurisdiction, "Jurisdiction"): <a href="@ViewDataTyped.StormwaterJurisdictionDetailUrl">@ViewDataTyped.WaterQualityManagementPlan.StormwaterJurisdiction.GetOrganizationDisplayName()</a></div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><strong>Status:</strong> @ViewDataTyped.WaterQualityManagementPlan.WaterQualityManagementPlanStatus?.WaterQualityManagementPlanStatusDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">@Html.LabelWithSugarFor(FieldDefinitionType.LandUseType, "Land Use Type"): @ViewDataTyped.WaterQualityManagementPlan.WaterQualityManagementPlanLandUse?.WaterQualityManagementPlanLandUseDisplayName</div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><strong>Permit Term:</strong> @ViewDataTyped.WaterQualityManagementPlan.WaterQualityManagementPlanPermitTerm?.WaterQualityManagementPlanPermitTermDisplayName</div>
                </div>
            </div>
           
        </div>
    </div>
</div>
