@*-----------------------------------------------------------------------
    <copyright file="BulkRowbmpDelineation.cshtml" company="Tahoe Regional Planning Agency">
    Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@inherits Neptune.Web.Views.Shared.ProjectControls.BulkRowBMPDelineation

@if (Model.EntityIDList == null || !Model.EntityIDList.Any())
{

    <p>
        No @{@ViewDataTyped.EntityLabel}s selected for Verification
    </p>

    <script type="text/javascript">
    // <![CDATA[
    var saveButtonId = "@ModalDialogFormHelper.SaveButtonID";
    jQuery("#" + saveButtonId).hide();
    // ]]>
    </script>

}
else
{
    <form action="@ViewDataTyped.BulkRowPostUrl" method="post">      
        <div style="min-height: 150px; max-height: 350px; overflow-y: auto; overflow-x: hidden">
            <div style="margin: 5px 0">Do you want to set the delineation status for @Model.EntityIDList.Count @ViewDataTyped.EntityLabel to Verified? @ViewDataTyped.EntityModalDescription</div>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th scope="col">BMP Name</th>
                    <th scope="col">Verified By</th>
                    <th scope="col">Date Delineation Last Verified</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var bmpDelineation in ViewDataTyped.bmpDelineations)
                {
                    <tr>
                        <td>@bmpDelineation.TreatmentBMP.TreatmentBMPName</td>
                        <td>
                            @if (bmpDelineation.VerifiedByPerson != null)
                            {
                                @bmpDelineation.VerifiedByPerson.GetFullNameFirstLast()
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                        <td>
                            @if (bmpDelineation.DateLastVerified != null)
                            {
                                <span>@bmpDelineation.DateLastVerified</span>
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>

        @foreach (var entityID in Model.EntityIDList)
        {
            <input type="hidden" name="@Html.NameFor(x => x.EntityIDList)" value="@entityID"/>
        }
    </form>
}
